---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=123&created__gt=1344556800000&hapikey=demo&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFC6D2D4D1BED97061BF9B453B1EFA0E45E5002F5000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '142173'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"limit":20,"objects":[],"offset":0,"total":0,"total_count":0}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
recorded_with: VCR 4.0.0
