---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=123&created__gt=1344556800000&hapikey=demo&order_by=-created&state=DRAFT
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF349589BFBAE83FE736A318A842CD15CE36AA6A8000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '139305'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"limit":20,"objects":[],"offset":0,"total":0,"total_count":0}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
recorded_with: VCR 4.0.0
