---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","groupName":"companyinformation","description":"The
        company fax number.","fieldType":"text","type":"string","label":"Fax Number","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B52E7DD8E26ECDA7FB528DCB46FBF0CFCE32BE28E000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","label":"Fax Number","description":"The company
        fax number.","groupName":"companyinformation","type":"string","fieldType":"text","hidden":false,"options":[],"hubspotDefined":null,"readOnlyDefinition":false,"readOnlyValue":false,"calculated":false,"showCurrencySymbol":null,"deleted":false,"createdAt":1544542448040,"formField":false,"displayOrder":0,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"externalOptions":false,"displayMode":"current_value","createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"updatedAt":1544562775450,"isCustomizedDefault":false,"searchableInGlobalSearch":false,"currencyPropertyName":null,"hasUniqueValue":false,"updatedUserId":null}'
  recorded_at: Tue, 11 Dec 2018 21:12:55 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2B5D1B71A0E88697AE5A19DD0935A1AC7245383D4D000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Dec 2018 21:12:55 GMT
recorded_with: VCR 4.0.0
