---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/groups?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"group_awesome"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7974C14C9C3ED4B0C0ABBF8C96D05F5018DA1B17000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":5229865,"name":"group_awesome","displayOrder":7}'
  recorded_at: Tue, 11 Dec 2018 19:30:25 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/groups?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B89EFAE276D5DB3211E1F053A15727810A231E3A9000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"companyinformation","displayName":"Company Information","displayOrder":1,"hubspotDefined":true},{"name":"socialmediainformation","displayName":"Social
        Media Information","displayOrder":2,"hubspotDefined":true},{"name":"analyticsinformation","displayName":"Web
        Analytics History","displayOrder":4,"hubspotDefined":true},{"name":"conversioninformation","displayName":"Conversion
        Information","displayOrder":5,"hubspotDefined":true},{"name":"group awesome","displayName":"","displayOrder":6,"hubspotDefined":false},{"name":"group_awesome","displayName":"","displayOrder":7,"hubspotDefined":false}]'
  recorded_at: Tue, 11 Dec 2018 19:30:25 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/groups/named/group_awesome?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2B8A157CCF49FB92995706A9621139D15F3DCB6A0E000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Dec 2018 19:30:25 GMT
recorded_with: VCR 4.0.0
