---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/groups?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group235","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group235","displayName":"","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Thu, 18 Aug 2016 14:05:12 GMT
recorded_with: VCR 2.4.0
