---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","groupName":"companyinformation","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BA10FA5439FBC3EBA07CF4A6DEC44A16E99694BE7000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","label":"Fax Number","description":"The company
        fax number.","groupName":"companyinformation","type":"string","fieldType":"text","options":[],"hidden":false,"hubspotDefined":null,"readOnlyDefinition":false,"readOnlyValue":false,"calculated":false,"deleted":false,"showCurrencySymbol":null,"numberDisplayHint":null,"textDisplayHint":null,"createdAt":1544542448040,"formField":false,"displayOrder":0,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"externalOptions":false,"displayMode":"current_value","createdUserId":null,"optionsAreMutable":null,"referencedObjectType":null,"updatedAt":1544631743791,"isCustomizedDefault":false,"searchableInGlobalSearch":false,"currencyPropertyName":null,"hasUniqueValue":false,"updatedUserId":null}'
  recorded_at: Wed, 12 Dec 2018 16:22:23 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2B6F77A40C249816722EA8B37B540D290591F77628000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Dec 2018 16:22:24 GMT
recorded_with: VCR 4.0.0
