---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/properties/named/my_new_property?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''my_new_property''","correlationId":"1581c088-3a09-4fd2-ab6f-353325ad0d52","requestId":"d448c4d0-cf56-4bce-a468-5d81c5c8cc9e"}'
  recorded_at: Thu, 18 Aug 2016 14:04:53 GMT
recorded_with: VCR 2.4.0
