---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","groupName":"companyinformation","description":"The
        company fax number.","fieldType":"text","type":"string","label":"Fax Number","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4B0A79FB13EF16A805DCA28DDC84792101C2D152000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","label":"Fax Number","description":"The company
        fax number.","groupName":"companyinformation","type":"string","fieldType":"text","options":[],"hidden":false,"deleted":false,"createdAt":1544542448040,"formField":false,"displayOrder":0,"readOnlyValue":false,"readOnlyDefinition":false,"hubspotDefined":null,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"updatedAt":1544544786186,"isCustomizedDefault":false,"searchableInGlobalSearch":false,"currencyPropertyName":null,"hasUniqueValue":false,"updatedUserId":null}'
  recorded_at: Tue, 11 Dec 2018 16:13:06 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2BEE136F7B4628EEEB176092233CFF6C158E0F2D47000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Dec 2018 16:13:06 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/properties/named/instagram_handle?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2B7D0235982AAD15447466785334BEAE1F8B7CC17D000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Dec 2018 16:13:06 GMT
recorded_with: VCR 4.0.0
