---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"instagram_handle","groupName":"socialmediainformation","description":"The
        company''s Instagram handle.","fieldType":"text","type":"string","label":"Instagram
        Handle","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B9FBCD4B6ADC97E680931E0C4DD030524B3BF5844000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"instagram_handle","label":"Instagram Handle","description":"The
        company''s Instagram handle.","groupName":"socialmediainformation","type":"string","fieldType":"text","hidden":false,"options":[],"deleted":false,"showCurrencySymbol":null,"hubspotDefined":null,"readOnlyDefinition":false,"readOnlyValue":false,"calculated":false,"createdAt":1544544451947,"formField":false,"displayOrder":0,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"externalOptions":false,"displayMode":"current_value","createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"updatedAt":1544646159019,"isCustomizedDefault":false,"searchableInGlobalSearch":false,"currencyPropertyName":null,"hasUniqueValue":false,"updatedUserId":null}'
  recorded_at: Wed, 12 Dec 2018 20:22:39 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/groups?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BEF815A59349E95F0B744FA4918BA787EF66B588A000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"companyinformation","displayName":"Company Information","displayOrder":1,"hubspotDefined":true},{"name":"socialmediainformation","displayName":"Social
        Media Information","displayOrder":2,"hubspotDefined":true},{"name":"analyticsinformation","displayName":"Web
        Analytics History","displayOrder":4,"hubspotDefined":true},{"name":"conversioninformation","displayName":"Conversion
        Information","displayOrder":5,"hubspotDefined":true},{"name":"group awesome","displayName":"","displayOrder":6,"hubspotDefined":false}]'
  recorded_at: Wed, 12 Dec 2018 20:22:39 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/instagram_handle?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2BBD2AA8E943D2B744C6E6E8706ECAE2961EBFBE8F000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Dec 2018 20:22:39 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2B1B39E627DDE123B70CA57DF50C54AAD20C41EC09000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Dec 2018 20:22:39 GMT
recorded_with: VCR 4.0.0
