---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/groups?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"name":"companyinformation","displayName":"Company Information","displayOrder":1,"hubspotDefined":false},{"name":"socialmediainformation","displayName":"Social
        Media Information","displayOrder":2,"hubspotDefined":false},{"name":"emailinformation","displayName":"Email
        Information","displayOrder":3,"hubspotDefined":false},{"name":"analyticsinformation","displayName":"Web
        Analytics History","displayOrder":4,"hubspotDefined":false},{"name":"conversioninformation","displayName":"Conversion
        Information","displayOrder":5,"hubspotDefined":false},{"name":"t56c8896e0d3c[...]
