---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"instagram_handle","groupName":"socialmediainformation","description":"The
        company''s Instagram handle.","fieldType":"text","type":"string","label":"Instagram
        Handle","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BD8FD2256647A2A6012499B4637C3B5D0AE86A4EC000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"instagram_handle","label":"Instagram Handle","description":"The
        company''s Instagram handle.","groupName":"socialmediainformation","type":"string","fieldType":"text","options":[],"hidden":false,"showCurrencySymbol":null,"deleted":false,"createdAt":1544544451947,"hubspotDefined":null,"formField":false,"displayOrder":0,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"updatedAt":1544646503913,"isCustomizedDefault":false,"searchableInGlobalSearch":false,"currencyPropertyName":null,"hasUniqueValue":false,"updatedUserId":null}'
  recorded_at: Wed, 12 Dec 2018 20:28:23 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/groups?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B9401F43AF27A2E1DB2C3DFFF8AD383986EF1503E000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"companyinformation","displayName":"Company Information","displayOrder":1,"hubspotDefined":true},{"name":"socialmediainformation","displayName":"Social
        Media Information","displayOrder":2,"hubspotDefined":true},{"name":"analyticsinformation","displayName":"Web
        Analytics History","displayOrder":4,"hubspotDefined":true},{"name":"conversioninformation","displayName":"Conversion
        Information","displayOrder":5,"hubspotDefined":true},{"name":"group awesome","displayName":"","displayOrder":6,"hubspotDefined":false}]'
  recorded_at: Wed, 12 Dec 2018 20:28:24 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/properties/named/instagram_handle?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2B16DEDDFDC199503A409188A9355F0771E025BD6C000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Dec 2018 20:28:24 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2BE2C14551930C5BA27BE4DBF4A23B9D48460A002E000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Dec 2018 20:28:24 GMT
recorded_with: VCR 4.0.0
