---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/properties?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","options":[],"displayOrder":-1,"hidden":false,"calculated":false,"readOnlyValue":false,"externalOptions":false,"hubspotDefined":true,"formField":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":true,"displayMode":"current_value"},{"name":"facebookfans","label":"Facebook
        Fans","description":"Number of facebook fans","groupName":"socialmediainformation","type":"number","fieldType":"text","options":[],"displayOrder":-1,"hidden":false,"calculated":false,"readOnlyValue":false,"externalOptions":false,"hubspotDefined":true,"formField":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":true,"displayMode":"current_value"},{"name":"first_conversion_date","label":"First
        Conversion Date"[...]
