---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","groupName":"companyinformation","type":"string","label":"fax
        number label","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4371ADF4DD890D6AD2CA403873E25443B9FACCDB000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","label":"fax number label","description":"","groupName":"companyinformation","type":"string","fieldType":"","options":[],"hidden":false,"deleted":false,"hubspotDefined":null,"readOnlyDefinition":false,"showCurrencySymbol":null,"createdAt":1544542448040,"formField":false,"displayOrder":-1,"readOnlyValue":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"updatedAt":1544644542648,"isCustomizedDefault":false,"searchableInGlobalSearch":false,"currencyPropertyName":null,"hasUniqueValue":false,"updatedUserId":null}'
  recorded_at: Wed, 12 Dec 2018 19:55:42 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"groupName":"companyinformation","type":"string","label":"new fax
        number label","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B798A1757935BD9FE79F0626CB9E0185F8FC6738D000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","label":"new fax number label","description":"","groupName":"companyinformation","type":"string","fieldType":"","hidden":false,"options":[],"showCurrencySymbol":null,"deleted":null,"currencyPropertyName":null,"displayOrder":-1,"hubspotDefined":null,"readOnlyDefinition":false,"readOnlyValue":false,"calculated":false,"createdAt":null,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"externalOptions":false,"displayMode":"current_value","createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"updatedAt":null,"isCustomizedDefault":false,"searchableInGlobalSearch":false,"hasUniqueValue":false,"formField":false,"updatedUserId":null}'
  recorded_at: Wed, 12 Dec 2018 19:55:42 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - 2B54F6E8BAEAAF15E0B903926F8370AD3392643D65000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Dec 2018 19:55:43 GMT
recorded_with: VCR 4.0.0
