---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"company_1531232487@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBB3CB423D56E062AFB885F4E3DBD00224AA346BB000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":856621245,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1531232487969","timestamp":1531232487969,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531232487969","timestamp":1531232487969,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"company_1531232487@example.com","timestamp":1531232487969,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1531232487@example.com","timestamp":1531232487969,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531232487969","timestamp":1531232487969,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1531232487969","timestamp":1531232487969,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 10 Jul 2018 14:21:28 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"contact_1531232488@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0224AA51139B40D78EC403D816A5CFFF7D261EE8000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":7846474,"canonical-vid":7846474,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPIUROIVrheiZLwtpQuwVLdG_1d8hLAkDk0RWQU5cCpvMl1lJ8JC1gwh0NQ5j3j2Lch1QvGOG4NzjT63xgeEsPRSpQtOGvOv8nAt6LSXVQtYKkwQP9N_sAjfJpyMthbhXdgkJg3","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPIUROIVrheiZLwtpQuwVLdG_1d8hLAkDk0RWQU5cCpvMl1lJ8JC1gwh0NQ5j3j2Lch1QvGOG4NzjT63xgeEsPRSpQtOGvOv8nAt6LSXVQtYKkwQP9N_sAjfJpyMthbhXdgkJg3/","properties":{"email":{"value":"contact_1531232488@example.com","versions":[{"value":"contact_1531232488@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1531232488297,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":7846474,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"contact_1531232488@example.com","timestamp":1531232488301,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"50494120-8475-435a-a3b9-3f03ae0f7f85","timestamp":1531232488309,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 10 Jul 2018 14:21:29 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/856621245/contacts/7846474?hapikey=demo
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BACD5E54FACDFB7E6C26A9E4B1D74AD4DA7C9927F000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":856621245,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1531232487969","timestamp":1531232487969,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531232487969","timestamp":1531232487969,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"company_1531232487@example.com","timestamp":1531232487969,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1531232487@example.com","timestamp":1531232487969,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531232487969","timestamp":1531232487969,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1531232487969","timestamp":1531232487969,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 10 Jul 2018 14:21:29 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/856621245?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B9EDF84350EFDE55FEF310727C9FB0E4F8F3A7588000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"companyId":856621245,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1531232489376","timestamp":1531232489376,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531232489376","timestamp":1531232489376,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":1531232489372,"source":"COMPANIES","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","timestamp":1531232489372,"source":"COMPANIES","sourceVid":[]}]},"name":{"value":"company_1531232487@example.com","timestamp":1531232487969,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1531232487@example.com","timestamp":1531232487969,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531232487969","timestamp":1531232487969,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1531232487969","timestamp":1531232487969,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 10 Jul 2018 14:21:29 GMT
recorded_with: VCR 4.0.0
