---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"company_1450058727@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":105694198,"isDeleted":false,"properties":{"name":{"value":"company_1450058727@example.com","timestamp":1450058722830,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1450058727@example.com","timestamp":1450058722830,"source":"API","sourceVid":[]}]},"createdate":{"value":"1450058722830","timestamp":1450058722830,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1450058722830","timestamp":1450058722830,"source":"API","sourceVid":[]}]}}}'
  recorded_at: Mon, 14 Dec 2015 02:05:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"contact_1450058727@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":331174,"canonical-vid":331174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mO-JomIMi2Ek5kPEgXjcG8pyp1Xzb_IkcK_1umuVVdVu5x3LZlStBieEjbcWYjV-rCppTMEeTfrLEHtQPWRBOs9-rhJJAWiwHTz6iG1wscIGQujPmGK_UAHLgY53xBRMbIkFmPf","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mO-JomIMi2Ek5kPEgXjcG8pyp1Xzb_IkcK_1umuVVdVu5x3LZlStBieEjbcWYjV-rCppTMEeTfrLEHtQPWRBOs9-rhJJAWiwHTz6iG1wscIGQujPmGK_UAHLgY53xBRMbIkFmPf/","properties":{"createdate":{"value":"1450058723257","versions":[{"value":"1450058723257","source-type":"API","source-id":null,"source-label":null,"timestamp":1450058723257,"selected":false}]},"email":{"value":"contact_1450058727@example.com","versions":[{"value":"contact_1450058727@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1450058723224,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":331174,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"contact_1450058727@example.com","timestamp":1450058723257,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"f6a61a24-5563-4148-b05d-86058142423d","timestamp":1450058723260,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 14 Dec 2015 02:05:28 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/105694198/contacts/331174?hapikey=demo
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":105694198,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1450058722831","timestamp":1450058722831,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1450058722831","timestamp":1450058722831,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"company_1450058727@example.com","timestamp":1450058722830,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1450058727@example.com","timestamp":1450058722830,"source":"API","sourceVid":[]}]},"createdate":{"value":"1450058722830","timestamp":1450058722830,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1450058722830","timestamp":1450058722830,"source":"API","sourceVid":[]}]}}}'
  recorded_at: Mon, 14 Dec 2015 02:05:28 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/created?hapikey=demo&recent=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":82167004,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1450058617370","timestamp":1450058617370,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1450058617370","timestamp":1450058617370,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":1450058617367,"source":"COMPANIES","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","timestamp":1450058617367,"source":"COMPANIES","sourceVid":[]}]},"name":{"value":"company_1450058619@example.com","timestamp":1450058615982,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1450058619@example.com","timestamp":1450058615982,"source":"API","sourceVid":[]}]},"createdate":{"value":"1450058615982","timestamp":1450058615982,"sou[...]
