---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6Myw3O2dldDo0LDY=
    body:
      encoding: UTF-8
      string: '{"total_count": 1, "objects": [{"allow_comments": true, "attached_stylesheets":
        [], "captcha_after_days": 7, "captcha_always": false, "close_comments_older":
        0, "comment_date_format": "medium", "comment_form_guid": "6ec02265-f341-4621-a71a-fa161ef94614",
        "comment_max_thread_depth": 3, "comment_moderation": false, "comment_notification_emails":
        [], "comment_should_create_contact": true, "comment_verification_text": "",
        "created": 1381896103000, "daily_notification_email_id": 348108949, "default_group_style_id":
        "", "deleted_at": 0, "description": "", "domain": "", "domain_when_published":
        "62515.hs-sites.com", "email_api_subscription_id": null, "enable_social_auto_publishing":
        false, "header": null, "html_footer": "", "html_footer_is_shared": true, "html_head":
        "", "html_head_is_shared": true, "html_keywords": [], "html_title": "API Demonstration
        Blog", "id": 351076997, "instant_notification_email_id": 348108934, "item_layout_id":
        348109319, "item_template_is_shared": true, "item_template_path": "generated_layouts/348109319.html",
        "language": "en_US", "legacy_guid": null, "legacy_module_id": null, "legacy_tab_id":
        null, "listing_layout_id": 348109319, "listing_template_path": "generated_layouts/348109319.html",
        "month_filter_format": "MMMM yyyy", "monthly_notification_email_id": 348108919,
        "name": "API Demonstration Blog", "portal_id": 62515, "post_html_footer":
        "", "post_html_head": "", "posts_per_listing_page": 10, "posts_per_rss_feed":
        10, "public_title": "API Demonstration Blog", "publish_date_format": "medium",
        "root_url": "http://62515.hs-sites.com/blog", "rss_custom_feed": null, "rss_description":
        null, "rss_item_footer": null, "rss_item_header": null, "show_social_link_facebook":
        false, "show_social_link_google_plus": false, "show_social_link_linkedin":
        false, "show_social_link_twitter": false, "show_summary_in_emails": false,
        "show_summary_in_listing": false, "show_summary_in_rss": false, "slug": "blog",
        "social_account_twitter": "", "social_publishing_slug": null, "social_sharing_delicious":
        null, "social_sharing_digg": null, "social_sharing_email": null, "social_sharing_facebook_like":
        null, "social_sharing_facebook_send": null, "social_sharing_googlebuzz": null,
        "social_sharing_googleplusone": null, "social_sharing_linkedin": null, "social_sharing_reddit":
        null, "social_sharing_stumbleupon": null, "social_sharing_twitter": null,
        "social_sharing_twitter_account": null, "subscription_contacts_property":
        "blog_api_demonstration_blog_subscription", "subscription_email_type": null,
        "subscription_form_guid": "6620143a-a4b1-4709-a537-c3e5b66c97c1", "subscription_lists_by_type":
        {"monthly": 278, "instant": 279, "daily": 280, "weekly": 281}, "updated":
        1390355024000, "use_featured_image_in_summary": false, "weekly_notification_email_id":
        348108964}], "limit": 20, "offset": 0}'
  recorded_at: Fri, 17 Oct 2014 01:05:37 GMT
recorded_with: VCR 2.4.0
