---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com//companies/v2/companies/115200636/contacts?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"identities":[{"vid":938174,"identity":[{"value":"daniel@jollo.se","type":"EMAIL","timestamp":1457718582858},{"value":"62093703-3b89-4142-b4f6-3ffb297ffd58","type":"LEAD_GUID","timestamp":1457718582858}],"linkedVid":[]}],"properties":[{"name":"firstname","value":"Daniel","sourceVid":[]},{"name":"lastmodifieddate","value":"1469699291238","sourceVid":[]},{"name":"company","value":"Jollo","sourceVid":[]},{"name":"lastname","value":"K","sourceVid":[]}],"formSubmissions":[],"listMembership":[],"vid":938174,"portalId":62515,"isContact":true,"vids":[],"imports":[],"publicToken":"AO_T-mO_KY6E05wXOfnIZFo01_Yg8J48L4WGGkEptaiT58xa-yno59qwIWWrprukqQYejHoNRsCVdK61eMp0Wrf2McNFufnFSsK29jGvymw5fgZZZbYNgHeJvwGagJB9bVgGC1MxOaZH","canonicalVid":938174,"mergeAudit":[],"mergedVids":[],"campaigns":[]},{"identities":[{"vid":937274,"identity":[{"value":"cissi@jollo.se","type":"EMAIL","timestamp":1457710853292},{"value":"ab3958de-ff84-48df-a372-8204364196cb","type":"LEAD_GUID","timestamp":1457710853289}],"linkedVid":[]}],"properties":[{"name":"firstname","value":"Cissi","sourceVid":[]},{"name":"lastmodifieddate","value":"1469699291206","sourceVid":[]},{"name":"company","value":"Jollo
        AB","sourceVid":[]},{"name":"lastname","value":"Elwin","sourceVid":[]}],"formSubmissions":[],"listMem[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/115200636/contacts?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"identities":[{"vid":938174,"identity":[{"value":"daniel@jollo.se","type":"EMAIL","timestamp":1457718582858},{"value":"6209370[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/938174/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":938174,"canonical-vid":938174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNT54papXr-55VXV_WtwV7MzZXypE4lXw9D0_-0R6sdExwan9YTxFtEq1o9H9Ff_lOFR4WMMH7pNpygVp-b9IYIMHn25ss_TGEm4sBl8Ec2a2LtX4Mtv1vO1K7A8sdj6EL2RGJT","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mNT54papXr-55VXV_WtwV7MzZXypE4lXw9D0_-0R6sdExwan9YTxFtEq1o9H9Ff_lOFR4WMMH7pNpygVp-b9IYIMHn25ss_TGEm4sBl8Ec2a2LtX4Mtv1vO1K7A8sdj6EL2RGJT/","properties":{"country":{"value":"SE","versions":[{"value":"SE","source-type":"CONTACTS_WEB","source-id":"testapi@hubspot.com","source-label":null,"timestamp":1457718582839,"selected":false}]},"hs_analytics_last_url":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_analytics_revenue":{"value":"0.0","versions":[{"value":"0.0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"createdate":{"value":"1457718582858","versions":[{"value":"1457718582858","source-type":"CONTACTS_WEB","source-id":null,"source-label":null,"timestamp":1457718582858,"selected":false}]},"hs_analytics_first_referrer":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_email_optout":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1457718582949,"selected":false}]},"hs_predictivecontactscore":{"value":"49","versions":[{"value":"49","source-type":"TASK","source-id":"predictive-contact-scoring","source-label":"2","timestamp":1469456456448,"selected":false},{"value":"24","source-type":"TASK","source-id":"predictive-contact-scoring","source-label":"1","timestamp":1457718584705,"selected":false}]},"mobilephone":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_analytics_num_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"state":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"fax":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"zip":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_predictivecontactscorebucket":{"value":"bucket_2","versions":[{"value":"bucket_2","source-type":"MIGRATION","source-id":"BulkLoadBuckets","source-label":"1","timestamp":1462847384721,"selected":false}]},"hubspotscore":{"value":"0","versions":[{"value":"0","source-type":"TASK","source-id":"csrsr","source-label":null,"timestamp":1469699207785,"selected":false},{"value":"-1","source-type":"TASK","source-id":"csrsr","source-label":null,"timestamp":1469688580763,"selected":false},{"value":"59","source-type":"TASK","source-id":"csrsr","source-label":null,"timestamp":1468858833275,"selected":false},{"value":"-1","source-type":"TASK","source-id":"csrsr","source-label":null,"timestamp":1466534118473,"selected":false},{"value":"0","source-type":"WAL_INCREMENTAL","source-id":"csrsu-kafka","source-label":null,"timestamp":1457718587288,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1457718582858","versions":[{"value":"1457718582858","source-type":"CONTACTS_WEB","source-id":null,"source-label":null,"timestamp":1457718582858,"selected":false}]},"hs_analytics_average_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"lastname":{"value":"K","versions":[{"value":"K","source-type":"CONTACTS_WEB","source-id":"testapi@hubspot.com","source-label":null,"timestamp":1457718582839,"selected":false}]},"twitterhandle":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"phone":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"currentlyinworkflow":{"value":"false","versions":[{"value":"false","source-type":"WORKFLOWS","source-id":null,"source-label":null,"timestamp":1466929328639,"selected":false},{"value":"true","source-type":"WORKFLOWS","source-id":null,"source-label":null,"timestamp":1466534168900,"selected":false},{"value":"false","source-type":"WORKFLOWS","source-id":null,"source-label":null,"timestamp":1457718686812,"selected":false},{"value":"true","source-type":"WORKFLOWS","source-id":null,"source-label":null,"timestamp":1457718597037,"selected":false}]},"hs_analytics_num_event_completions":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"docplanner_id":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_email_optout_2849":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1457718582949,"selected":false}]},"associatedcompanyid":{"value":"115200636","versions":[{"value":"115200636","source-type":"API","source-id":"CompaniesContactAssociator","source-label":null,"timestamp":1457718583833,"selected":false}]},"book2meet_first_booking_date":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"firstname":{"value":"Daniel","versions":[{"value":"Daniel","source-type":"CONTACTS_WEB","source-id":"testapi@hubspot.com","source-label":null,"timestamp":1457718582839,"selected":false}]},"city":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_email_optout_354586":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1457718582949,"selected":false}]},"hs_social_num_broadcast_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"industry":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_analytics_last_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_analytics_num_visits":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_social_linkedin_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_analytics_last_visit_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_social_last_engagement":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_analytics_source":{"value":"OFFLINE","versions":[{"value":"OFFLINE","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"company":{"value":"Jollo","versions":[{"value":"Jollo","source-type":"CONTACTS_WEB","source-id":"testapi@hubspot.com","source-label":null,"timestamp":1457718582839,"selected":false}]},"email":{"value":"daniel@jollo.se","versions":[{"value":"daniel@jollo.se","source-type":"CONTACTS_WEB","source-id":"testapi@hubspot.com","source-label":null,"timestamp":1457718582839,"selected":false}]},"hs_analytics_first_url":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"website":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"address":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"jobtitle":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_analytics_first_visit_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_analytics_first_timestamp":{"value":"1457718582858","versions":[{"value":"1457718582858","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"lastmodifieddate":{"value":"1469699291238","versions":[{"value":"1469699291238","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1469699291238,"selected":false}]},"hs_social_google_plus_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_analytics_last_referrer":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"message":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_email_optout_230318":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1457718582949,"selected":false}]},"hs_social_facebook_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"doc_test_data":{"value":"","versions":[{"value":"","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1468938041240,"selected":false}]},"hs_lead_status":{"value":"NEW","versions":[{"value":"NEW","source-type":"WORKFLOWS","source-id":"1102416","source-label":null,"timestamp":1457718681797,"selected":false}]},"hs_analytics_source_data_2":{"value":"testapi@hubspot.com","versions":[{"value":"testapi@hubspot.com","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_social_twitter_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"hs_analytics_source_data_1":{"value":"CONTACTS_WEB","versions":[{"value":"CONTACTS_WEB","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1457718584988,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"CONTACTS_WEB","source-id":null,"source-label":null,"timestamp":1457718582858,"selected":false}]}},"form-submissions":[],"list-memberships":[{"static-list-id":227,"internal-list-id":247,"timestamp":1457718588737,"vid":938174,"is-member":true},{"static-list-id":84994,"internal-list-id":97373,"timestamp":1457718588737,"vid":938174,"is-member":true},{"static-list-id":88462,"internal-list-id":88512,"timestamp":1466534168924,"vid":938174,"is-member":true},{"static-list-id":88464,"internal-list-id":88514,"timestamp":1466929328587,"vid":938174,"is-member":true},{"static-list-id":137891,"internal-list-id":143830,"timestamp":1457718588737,"vid":938174,"is-member":true},{"static-list-id":142600,"internal-list-id":142959,"timestamp":14577[...]
[...]
