---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/example.com/companies?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"limit":2,"requestOptions":{"properties":["name","createdate"]},"offset":{"isPrimary":true,"companyId":117004411}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":117004426,"isDeleted":false,"properties":{"name":{"value":"A
        company name","timestamp":1458392255848,"source":"API","sourceId":null,"versions":[{"name":"name","value":"A
        company name","timestamp":1458392255848,"source":"API","sourceVid":[]}]},"createdate":{"value":"1458392255848","timestamp":1458392255848,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1458392255848","timestamp":1458392255848,"source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":117004551,"isDeleted":false,"properties":{"name":{"value":"A
        company name","timestamp":1458392971731,"source":"API","sourceId":null,"versions":[{"name":"name","value":"A
        company name","timestamp":1458392971731,"source":"API","sourceVid":[]}]},"createdate":{"value":"1458392971731","timestamp":1458392971731,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1458392971731","timestamp":1458392971731,"source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}],"hasMore":true,"offset":{"companyId":117004551,"isPrimary":true}}'
  recorded_at: Tue, 03 Oct 2017 19:24:39 GMT
recorded_with: VCR 3.0.3
