---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"newcompany_y_1434460999@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":43178999,"isDeleted":false,"properties":{"name":{"value":"newcompany_y_1434460999@hsgem.com","timestamp":1434460999517,"source":"API","sourceId":null,"versions":[{"name":"name","value":"newcompany_y_1434460999@hsgem.com","timestamp":1434460999517,"source":"API","sourceVid":[]}]},"createdate":{"value":"1434460999517","timestamp":1434460999517,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1434460999517","timestamp":1434460999517,"source":"API","sourceVid":[]}]}}}'
  recorded_at: Tue, 16 Jun 2015 13:23:19 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/43178999?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"companyId":43178999,"deleted":true}'
  recorded_at: Tue, 16 Jun 2015 13:23:19 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - HEAD,POST,GET,OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jun 2015 13:23:20 GMT
recorded_with: VCR 2.4.0
