---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/example.com/companies?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"limit":100,"requestOptions":{"properties":["domain","createdate","name","hs_lastmodifieddate"]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":117000871,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1507056293828","timestamp":1507056293828,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1507056293828","timestamp":1507056293828,"source":"CALCULATED","sourceVid":[]}]},"domain":{"value":"example.com","timestamp":1458391823423,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"example.com","timestamp":1458391823423,"source":"API","sourceVid":[]}]},"name":{"value":"A
        company name","timestamp":1458391823423,"source":"API","sourceId":null,"versions":[{"name":"name","value":"A
        company name","timestamp":1458391823423,"source":"API","sourceVid":[]}]},"createdate":{"value":"1458391823423","timestamp":1458391823423,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1458391823423","timestamp":1458391823423,"source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":117004411,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1497136906911","timestamp":1497136906911,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1497136906911","timestamp":1497136906911,"source":"CALCULATED","sourceVid":[]}]},"domain":{"value":"example.com","timestamp":1458392144233,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"example.com","timestamp":1458392144233,"source":"API",[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/asdf1234baddomain.com/companies?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"limit":100,"requestOptions":{"properties":["domain","createdate","name","hs_lastmodifieddate"]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[],"hasMore":false,"offset":{"companyId":0,"isPrimary":true}}'
  recorded_at: Tue, 03 Oct 2017 18:52:03 GMT
recorded_with: VCR 3.0.3
