---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"company_1538128319@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B8F81B927E4B7B797D7928990B6B3E022B17C88CF000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":968266471,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1538128319821","timestamp":1538128319821,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1538128319821","timestamp":1538128319821,"source":"CALCULATED","sourceVid":[],"requestId":"98a3289f-d2bb-47e0-878b-89bfe57c7c0e"}]},"name":{"value":"company_1538128319@example.com","timestamp":1538128319821,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1538128319@example.com","timestamp":1538128319821,"source":"API","sourceVid":[],"requestId":"98a3289f-d2bb-47e0-878b-89bfe57c7c0e"}]},"createdate":{"value":"1538128319821","timestamp":1538128319821,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1538128319821","timestamp":1538128319821,"sourceId":"API","source":"API","sourceVid":[],"requestId":"98a3289f-d2bb-47e0-878b-89bfe57c7c0e"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 28 Sep 2018 09:51:59 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v1/batch-async/update?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"objectId":968266471,"properties":[{"name":"name","value":"Carol
        H"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BECB5B26754B96BB3EAE246957B08434DD0A4691B000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 28 Sep 2018 09:52:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/968266471?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF6F810C2269314E704C640D5140C62FE32300119000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"companyId":968266471,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1538128320190","timestamp":1538128320190,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1538128320190","timestamp":1538128320190,"source":"CALCULATED","sourceVid":[],"requestId":"32de432b-af26-460a-9054-1e1469b041f1"}]},"name":{"value":"Carol
        H","timestamp":1538128320151,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"name","value":"Carol
        H","timestamp":1538128320151,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"32de432b-af26-460a-9054-1e1469b041f1"}]},"createdate":{"value":"1538128319821","timestamp":1538128319821,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1538128319821","timestamp":1538128319821,"sourceId":"API","source":"API","sourceVid":[],"requestId":"98a3289f-d2bb-47e0-878b-89bfe57c7c0e"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 28 Sep 2018 09:52:00 GMT
recorded_with: VCR 4.0.0
