---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"New Company 1531234621"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BCC35CC9F6288AB2C80CDEE1A17A0C86356B73020000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":856953039,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1531234621266","timestamp":1531234621266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531234621266","timestamp":1531234621266,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"New
        Company 1531234621","timestamp":1531234621266,"source":"API","sourceId":null,"versions":[{"name":"name","value":"New
        Company 1531234621","timestamp":1531234621266,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531234621266","timestamp":1531234621266,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1531234621266","timestamp":1531234621266,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 10 Jul 2018 14:57:01 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/856953039?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Acme Flask"},{"name":"domain","value":"abcflasks.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7DCAC069E745FFFB260BA658AC2B0AD889933138000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":856953039,"isDeleted":false,"properties":{"website":{"value":"abcflasks.com","timestamp":1531234621583,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"abcflasks.com","timestamp":1531234621583,"source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1531234621583","timestamp":1531234621583,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531234621583","timestamp":1531234621583,"source":"CALCULATED","sourceVid":[]},{"name":"hs_lastmodifieddate","value":"1531234621266","timestamp":1531234621266,"source":"CALCULATED","sourceVid":[]}]},"domain":{"value":"abcflasks.com","timestamp":1531234621583,"source":"API","sourceId":"79ce0155-b260-4faa-b01c-3c640d1733f3","versions":[{"name":"domain","value":"abcflasks.com","timestamp":1531234621583,"sourceId":"79ce0155-b260-4faa-b01c-3c640d1733f3","source":"API","sourceVid":[]}]},"name":{"value":"Acme
        Flask","timestamp":1531234621583,"source":"API","sourceId":"79ce0155-b260-4faa-b01c-3c640d1733f3","versions":[{"name":"name","value":"Acme
        Flask","timestamp":1531234621583,"sourceId":"79ce0155-b260-4faa-b01c-3c640d1733f3","source":"API","sourceVid":[]},{"name":"name","value":"New
        Company 1531234621","timestamp":1531234621266,"source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 10 Jul 2018 14:57:01 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Acme Flask"},{"name":"domain","value":"abcflasks.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - text/html
      Allow:
      - HEAD,POST,GET,OPTIONS
      X-Trace:
      - 2B1497F4AEE26E84FBDFD42EE75E2FE70AA32ABBE0000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 Jul 2018 14:57:01 GMT
recorded_with: VCR 4.0.0
