---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/properties?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BEA3331B6CE797879A4CDDA4D3F6AB0D73231C0B1E65ED1A9A366343C
    body:
      encoding: UTF-8
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","hidden":false,"options":[],"calculated":false,"externalOptions":false,"favoritedOrder":-1,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":true,"favorited":false,"displayMode":"current_value","hubspotDefined":true},{"name":"another_example_property","label":"Another
        Updated Example Property Label","description":"","groupName":"companyinformation","type":"string","fieldType":"","hidden":false,"options":[],"calculated":false,"externalOptions":false,"updatedUserId":100097,"favoritedOrder":-1,"createdUserId":100097,"deleted":false,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"displayMode":"current_value"},{"name":"facebookfans","label":"Facebook
        Fans","description":"Number of facebook fans","groupName":"socialmediainformation","type":"number","fieldType":"text","hidden":false,"options":[],"calculated":false,"externalOptions":false,"favoritedOrder":-1,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readO[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/example.com/companies?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"limit":100,"requestOptions":{"properties":["about_us","another_example_property","facebookfans","first_conversion_date","first_conversion_event_name","first_deal_created_date","founded_year","hs_analytics_first_timestamp","hs_analytics_first_visit_timestamp","hs_analytics_last_timestamp","hs_analytics_last_visit_timestamp","hs_analytics_num_page_views","hs_analytics_num_visits","hs_analytics_source","hs_analytics_source_data_1","hs_analytics_source_data_2","hs_avatar_filemanager_key","hs_lastmodifieddate","hubspot_owner_assigneddate","i[...]
