---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"company_1539011436@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B1EBBEEBA73F61AF7F9C8C67DA9A902D767B0ECF8000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":983617566,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1539011436764","timestamp":1539011436764,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1539011436764","timestamp":1539011436764,"source":"CALCULATED","sourceVid":[],"requestId":"71cc07ac-33ba-4d0f-b5fc-71b92013afec"}]},"name":{"value":"company_1539011436@example.com","timestamp":1539011436764,"source":"API","sourceId":null,"versions":[{"name":"name","value":"company_1539011436@example.com","timestamp":1539011436764,"source":"API","sourceVid":[],"requestId":"71cc07ac-33ba-4d0f-b5fc-71b92013afec"}]},"createdate":{"value":"1539011436764","timestamp":1539011436764,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1539011436764","timestamp":1539011436764,"sourceId":"API","source":"API","sourceVid":[],"requestId":"71cc07ac-33ba-4d0f-b5fc-71b92013afec"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Oct 2018 15:10:37 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v1/batch-async/update?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"objectId":983617566,"properties":[{"name":"name","value":"Carol
        H"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2B5906B8B7FD3E9DB24328E4FA3F17FF7227458A000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Oct 2018 15:10:37 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/983617566?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BABB8C6E653D8894AC1D1A4B25F874FE53F0350EE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"companyId":983617566,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1539011437495","timestamp":1539011437495,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1539011437495","timestamp":1539011437495,"source":"CALCULATED","sourceVid":[],"requestId":"4fc06bcb-e8d3-4091-9c9a-13d346d40dc3"}]},"name":{"value":"Carol
        H","timestamp":1539011437296,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"name","value":"Carol
        H","timestamp":1539011437296,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"4fc06bcb-e8d3-4091-9c9a-13d346d40dc3"}]},"createdate":{"value":"1539011436764","timestamp":1539011436764,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1539011436764","timestamp":1539011436764,"sourceId":"API","source":"API","sourceVid":[],"requestId":"71cc07ac-33ba-4d0f-b5fc-71b92013afec"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Oct 2018 15:10:38 GMT
recorded_with: VCR 4.0.0
