---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=100&hapikey=demo&offset=0&q=@hubspot.com
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":"@hubspot.com","offset":100,"has-more":true,"total":1952,"contacts":[{"vid":1085724,"canonical-vid":1085724,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPlEy02gxsYfFZ6AvSVTIOTjwriHR3BN_KsrlgwDd6e3ZGiav7WTifLQDSb3WAqX_mUehkBgq74rwyCM2ONGdSJE67R75a0vamC5aJ-7dofPufqtfUHOEXeZvpe8NFP7Xc1W9Dg","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPlEy02gxsYfFZ6AvSVTIOTjwriHR3BN_KsrlgwDd6e3ZGiav7WTifLQDSb3WAqX_mUehkBgq74rwyCM2ONGdSJE67R75a0vamC5aJ-7dofPufqtfUHOEXeZvpe8NFP7Xc1W9Dg/","properties":{"country":{"value":"NL"},"hs_analytics_last_url":{"value":""},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"createdate":{"value":"1459244730132"},"hs_analytics_first_referrer":{"value":""},"hs_email_optout":{"value":""},"days_to_close":{"value":"51"},"hs_predictivecontactscore":{"value":"35"},"hubspot_owner_id":{"value":"70"},"annualrevenue":{"value":"29000000"},"mobilephone":{"value":""},"hs_analytics_num_page_views":{"value":"0"},"state":{"value":""},"fax":{"value":""},"zip":{"value":""},"notes_last_updated":{"value":"1459244935877"},"hs_predictivecontactscorebucket":{"value":"bucket_2"},"hubspotscore":{"value":"59"},"active":{"value":"true"},"hs_lifecyclestage_subscriber_date":{"value":"1459244730132"},"hs_analytics_average_page_views":{"value":"0"},"lastname":{"value":"Halligan"},"twitterhandle":{"value":""},"phone":{"value":"888-482-7768"},"num_conversion_events":{"value":"0"},"currentlyinworkflow":{"value":"false"},"hs_analytics_num_event_completions":{"value":"0"},"hs_lifecyclestage_customer_date":{"value":"1463646806413"},"hs_lifecyclestage_lead_date":{"value":"1459244890396"},"followercount":{"value":"0"},"docplanner_id":{"value":""},"hs_email_optout_2849":{"value":""},"book2meet_first_booking_date":{"value":""},"firstname":{"value":"Brian"},"city":{"value":""},"hs_email_optout_354586":{"value":""},"hs_social_num_broadcast_clicks":{"value":"0"},"industry":{"value":""},"hs_analytics_last_timestamp":{"value":""},"hs_analytics_num_visits":{"value":"0"},"twitterbio":{"value":""},"hs_social_linkedin_clicks":{"value":"0"},"centaur_client_id":{"value":"1122573"},"hs_analytics_last_visit_timestamp":{"value":""},"hs_social_last_engagement":{"value":""},"hs_twitterid":{"value":""},"hs_analytics_source":{"value":"OFFLINE"},"num_contacted_notes":{"value":"1"},"company":{"value":"HubSpot
        default"},"email":{"value":"bh@hubspot.com"},"hs_analytics_first_url":{"value":""},"website":{"value":"http://www.hubspot.com"},"address":{"value":""},"closedate":{"value":"1463646806413"},"jobtitle":{"value":"CEO"},"hs_analytics_first_visit_timestamp":{"value":""},"hs_analytics_first_timestamp":{"value":"1459244730132"},"lastmodifieddate":{"value":"1468858971597"},"photo":{"value":"https://d2ojpxxtu63wzl.cloudfront.net/static/1fbb78f286651b0233dae90b1aa01c45_849bf5896cfe1df532eae3f335d25d07963c82a133db3242f39a7adaa85944c7"},"hs_social_google_plus_clicks":{"value":"0"},"hs_analytics_last_referrer":{"value":""},"kloutscoregeneral":{"value":"19"},"message":{"value":""},"hs_email_optout_230318":{"value":""},"hs_social_facebook_clicks":{"value":"0"},"hubspot_owner_assigneddate":{"value":"1459244935922"},"notes_last_contacted":{"value":"1459244935871"},"twitterprofilephoto":{"value":""},"doc_test_data":{"value":""},"hs_lead_status":{"value":"NEW"},"hs_analytics_source_data_2":{"value":"CRM_UI"},"hs_social_twitter_clicks":{"value":"0"},"hs_analytics_source_data_1":{"value":"SALES"},"lifecyclestage":{"value":"customer"},"num_notes":{"value":"4"}},"form-submissions":[],"identity-profiles":[{"vid":1085724,"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"bh@hubspot.com","timestamp":1459244730132},{"type":"LEAD_GUID","value":"11a31a70-2788-4cb7-9cb3-2a997773d5fc","timestamp":1459244730149}]}],"merge-audits":[]},{"vid":2138524,"canonical-vid":2138524,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPvWdKy-J_8Y0wdIRuBpTnJ7lVZpstYaql-J__WICGzzlga4yCRtazGJtAQ1sX6-v36RTuc8f9i8tjaN7Fai9uL5an_Ei5fMtPiTIh7zdOWYOFQnGosFGF7xAiL2Jr9umf-tLi7","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPvWdKy-J_8Y0wdIRuBpTnJ7lVZpstYaql-J__WICGzzlga4yCRtazGJtAQ1sX6-v36RTuc8f9i8tjaN7Fai9uL5an_Ei5fMtPiTIh7zdOWYOFQnGosFGF7xAiL2Jr9umf-tLi7/","properties":{"country":{"[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=1&hapikey=demo&offset=0&q=@hubspot.com
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":"@hubspot.com","offset":1,"has-more":true,"total":1952,"contacts":[{"vid":1747874,"canonical-vid":1747874,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mM12XjaDHQxXdzEPs7yi3KxAAMxyXbU0Vx7kv6ZKMvbc4lHeWOlPtVLtBpLV0Uaf4poZsWVQxsJvlMK2A0TlCpYenwQIG5TlIUTzwlH8K9aaPe-YSl-Yhc4DbNblu2avI34foUe","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mM12XjaDHQxXdzEPs7yi3KxAAMxyXbU0Vx7kv6ZKMvbc4lHeWOlPtVLtBpLV0Uaf4poZsWVQxsJvlMK2A0TlCpYenwQIG5TlIUTzwlH8K9aaPe-YSl-Yhc4DbNblu2avI34foUe/","properties":{"country":{"value":""},"hs_analytics_last_url":{"value":""},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"createdate":{"value":"1464980567383"},"hs_analytics_first_referrer":{"value":""},"hs_email_optout":{"value":""},"hs_predictivecontactscore":{"value":"24"},"annualrevenue":{"value":"181000000"},"mobilephone":{"value":""},"num_associated_deals":{"value":"0"},"hs_analytics_num_page_views":{"value":"0"},"state":{"value":""},"fax":{"value":""},"zip":{"value":""},"hs_predictivecontactscorebucket":{"value":"bucket_2"},"hubspotscore":{"value":"59"},"hs_lifecyclestage_subscriber_date":{"value":"1464980567383"},"hs_analytics_average_page_views":{"value":"0"},"lastname":{"value":""},"twitterhandle":{"value":""},"phone":{"value":""},"num_conversion_events":{"value":"0"},"currentlyinworkflow":{"value":"false"},"hs_analytics_num_event_completions"[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=100&hapikey=demo&offset=0&q=something_that_doesn_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":"something_that_doesn_not_exist","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Sat, 23 Jul 2016 19:00:37 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=100&hapikey=demo&offset=0&q=testingapis@hubspot.com
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":"testingapis@hubspot.com","offset":2,"has-more":false,"total":2,"contacts":[{"vid":2067924,"canonical-v[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=100&hapikey=demo&offset=0&q=hugh%20jackman%20jr
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":"hugh jackman jr","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Sat, 23 Jul 2016 19:10:25 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=100&hapikey=demo&offset=0&q=something_that_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":"something_that_does_not_exist","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Sat, 23 Jul 2016 19:19:10 GMT
recorded_with: VCR 2.4.0
