---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Hugh"},{"property":"lastname","value":"Jackman"},{"property":"email","value":"primary_1531148079@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BA8AA3BBC9BC6078B031379E6228B26E7275509A1000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":7823424,"canonical-vid":7823424,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPHM8-mcn7qnevfdMceuj_dGXY2rC-C8qrkHw9jkZuwdZcpSYdgQmIe9zPvotgJ-aqkz79lGUWfGTz3NXjmpSr2n6euwRxwtN_uGOzfFxpBYm8kwpyIU2xXl9U72HTwINh2a7N9","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPHM8-mcn7qnevfdMceuj_dGXY2rC-C8qrkHw9jkZuwdZcpSYdgQmIe9zPvotgJ-aqkz79lGUWfGTz3NXjmpSr2n6euwRxwtN_uGOzfFxpBYm8kwpyIU2xXl9U72HTwINh2a7N9/","properties":{"firstname":{"value":"Hugh","versions":[{"value":"Hugh","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079149,"selected":false}]},"email":{"value":"primary_1531148079@hsgem.com","versions":[{"value":"primary_1531148079@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079149,"selected":false}]},"lastname":{"value":"Jackman","versions":[{"value":"Jackman","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079149,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":7823424,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"primary_1531148079@hsgem.com","timestamp":1531148079152,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d0f12a3e-ec5c-46cc-9843-d0cdc95cde1c","timestamp":1531148079162,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 09 Jul 2018 14:54:39 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/7823424?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"vidToMerge":7823474}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B18D84240C6ECC47703BC6EBC8A4DD6F843D186EE000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Mon, 09 Jul 2018 14:54:40 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/7823424/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2A2A0B1798009E87A39CF724C1E87AF60938334A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":7823424,"canonical-vid":7823424,"merged-vids":[7823474,7823424],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMr6UQQiEnUO02wY2fkVZDpvaTdTaxBtQls-qOgfE3rBQEUKcUfUOUlz_b5TOhatT5wwK8iLPWr1ya5Q2NxGAMJoJNqgvbZwIM9ioD-eSEQ_28k4E35NWLhHzqfnTxeP_edCm9b","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMr6UQQiEnUO02wY2fkVZDpvaTdTaxBtQls-qOgfE3rBQEUKcUfUOUlz_b5TOhatT5wwK8iLPWr1ya5Q2NxGAMJoJNqgvbZwIM9ioD-eSEQ_28k4E35NWLhHzqfnTxeP_edCm9b/","properties":{"firstname":{"value":"Wolverine","versions":[{"value":"Wolverine","source-type":"API","source-id":null,"source-label":null,"source-vids":[7823474],"timestamp":1531148079567,"selected":false},{"value":"Hugh","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079149,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"lastmodifieddate":{"value":"1531148079713","versions":[{"value":"1531148079713","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1531148079713,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_email_domain":{"value":"hsgem.com","versions":[{"value":"hsgem.com","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"createdate":{"value":"1531148079152","versions":[{"value":"1531148079152","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079152,"selected":false},{"value":"1531148079572","source-type":"API","source-id":null,"source-label":null,"source-vids":[7823474],"timestamp":1531148079572,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1531148079152","versions":[{"value":"1531148079152","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079152,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079152,"selected":false}]},"email":{"value":"primary_1531148079@hsgem.com","versions":[{"value":"primary_1531148079@hsgem.com","source-type":"MERGE_CONTACTS","source-id":null,"source-label":null,"timestamp":1531148080178,"selected":false},{"value":"secondary_1531148079@hsgem.com","source-type":"API","source-id":null,"source-label":null,"source-vids":[7823474],"timestamp":1531148079572,"selected":false},{"value":"primary_1531148079@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079152,"selected":false}]},"lastname":{"value":"Jackman","versions":[{"value":"Jackman","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079149,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":7823424,"saved-at-timestamp":1531148080061,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"primary_1531148079@hsgem.com","timestamp":1531148079152,"is-primary":true},{"type":"LEAD_GUID","value":"d0f12a3e-ec5c-46cc-9843-d0cdc95cde1c","timestamp":1531148079162},{"type":"EMAIL","value":"secondary_1531148079@hsgem.com","timestamp":1531148079572,"is-secondary":true}]},{"vid":7823474,"saved-at-timestamp":1531148080257,"deleted-changed-timestamp":0,"identities":[{"type":"LEAD_GUID","value":"ae80e575-fb5f-48b4-88d0-e70e60960039","timestamp":1531148079585}]}],"merge-audits":[{"canonical-vid":7823424,"vid-to-merge":7823474,"timestamp":1531148080061,"entity-id":"{\"authName\":\"hapikey\",\"authLevel\":\"EXTERNAL\",\"zkGroup\":null,\"internalCookieProto\":null,\"accessToken\":null,\"hubId\":62515,\"userId\":null,\"appId\":null,\"originIpAddress\":\"80.12.95.57\",\"loginId\":null,\"correlationId\":\"dd0db8ba-f203-4b3f-a1d6-eecc643afa21\",\"clientServiceName\":null}","num-properties-moved":3,"merged_from_email":{"value":"secondary_1531148079@hsgem.com","source-type":"API","source-id":null,"source-label":null,"source-vids":[7823474],"timestamp":1531148079572,"selected":false},"merged_to_email":{"value":"primary_1531148079@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1531148079152,"selected":false},"first-name":"Wolverine"}]}'
  recorded_at: Mon, 09 Jul 2018 14:54:40 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/primary_1531148079@hsgem.com/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B22109A9E54D9A07094A792D864A0D68A8CD9CE07000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":7823424,"canonical-vid":782[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/secondary_1531148079@hsgem.com/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B24AA043217E416010A7A637BD3431B4487CAE82F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":7823424,"canonical-vid":7[...]
