---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"update_instance_contact_1531237345@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B21CE940DADB229F782C79B6A79C3609C3E1B3942000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":7848924,"canonical-vid":7848924,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNAYFwNMo8FWEK-aihhXJIdWrDtTOz-nwbwPL-wMujK8khEJ0VXx30gLRv2fq4n3xw2Gqsek_Mm6FsJ6I5jkLELZvKrnyaE84J7q_W3CdLMZqfQ3o5fIYnRdfEbEYnisxwiVdU4","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mNAYFwNMo8FWEK-aihhXJIdWrDtTOz-nwbwPL-wMujK8khEJ0VXx30gLRv2fq4n3xw2Gqsek_Mm6FsJ6I5jkLELZvKrnyaE84J7q_W3CdLMZqfQ3o5fIYnRdfEbEYnisxwiVdU4/","properties":{"email":{"value":"update_instance_contact_1531237345@hsgem.com","versions":[{"value":"update_instance_contact_1531237345@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1531237345617,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":7848924,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"update_instance_contact_1531237345@hsgem.com","timestamp":1531237345622,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"983c053e-6664-4e96-bc59-3aa75ddd3e1d","timestamp":1531237345629,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 10 Jul 2018 15:42:25 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/7848924/profile?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Steve"},{"property":"lastname","value":"Cunningham"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B958C061593117906354DB08FB81885A359A6F8F5000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 Jul 2018 15:42:26 GMT
recorded_with: VCR 4.0.0
