---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: US-ASCII
      string: '{"properties":[{"property":"email","value":"testingapis@hubspot.com"}]}'
    headers: {}
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"status":"error","message":"{\"msg\":\"Contact already existed\",\"error\":\"CONTACT_EXISTS\",\"property\":{\"vid\":82325,\"identities\":[{\"type\":\"EMAIL\",\"value\":\"testingapis@hubspot.com\",\"timestamp\":1345062449327},{\"type\":\"LEAD_GUID\",\"value\":\"c0da5c41-f289-4642-910c-9aa2b0fba245\",\"timestamp\":1345062449333}]}}","guid":"cd0e6f59-c8a3-4ae5-b897-3b3990ebda40"}'
  recorded_at: Fri, 22 Feb 2013 20:28:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"testingapis@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - HEAD,GET,OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 25 Feb 2015 18:15:03 GMT
recorded_with: VCR 2.4.0
