---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/testingapis@hubspot.com?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Hugh"},{"property":"lastname","value":"Jackman,
        Jr."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":1582724,"isNew":false}'
  recorded_at: Mon, 20 Jun 2016 17:17:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/1582724/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":1582724,"canonical-vid":1582724,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mN_cjnV6Nz5nDpsNsZHq_AvCn7sSMngRbUs-aCto1F3t1rm1tO7LLxryisVP5VB-DP2G47BjWFJoVlaxyNPXQpyM80IhjPl_UGSzlllDOvyQMZ3APqtAEIHYLKluCeN0XODrQbl","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mN_cjnV6Nz5nDpsNsZHq_AvCn7sSMngRbUs-aCto1F3t1rm1tO7LLxryisVP5VB-DP2G47BjWFJoVlaxyNPXQpyM80IhjPl_UGSzlllDOvyQMZ3APqtAEIHYLKluCeN0XODrQbl/","properties":{"hs_analytics_last_url":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_analytics_revenue":{"value":"0.0","versions":[{"value":"0.0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"createdate":{"value":"1463875236185","versions":[{"value":"1463875236185","source-type":"INTEGRATION","source-id":null,"source-label":null,"timestamp":1463875236185,"selected":false}]},"hs_analytics_first_referrer":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_email_optout":{"value":"true","versions":[{"value":"true","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1463875236279,"selected":false}]},"hs_predictivecontactscore":{"value":"26","versions":[{"value":"26","source-type":"TASK","source-id":"predictive-contact-scoring","source-label":"1","timestamp":1466442948582,"selected":false},{"value":"25","source-type":"TASK","source-id":"predictive-contact-scoring","source-label":"1","timestamp":1463875236996,"selected":false}]},"annualrevenue":{"value":"181000000","versions":[{"value":"181000000","source-type":"API","source-id":null,"source-label":null,"timestamp":1463875276695,"selected":false}]},"hs_analytics_num_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_predictivecontactscorebucket":{"value":"bucket_2","versions":[{"value":"bucket_2","source-type":"TASK","source-id":"predictive-contact-scoring","source-label":"1","timestamp":1463875236996,"selected":false}]},"hubspotscore":{"value":"0","versions":[{"value":"0","source-type":"WAL_INCREMENTAL","source-id":"csrsu-kafka","source-label":null,"timestamp":1463875238194,"selected":false}]},"linkedinconnections":{"value":"0","versions":[{"value":"0","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1463875236185","versions":[{"value":"1463875236185","source-type":"INTEGRATION","source-id":null,"source-label":null,"timestamp":1463875236185,"selected":false}]},"hs_analytics_average_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"lastname":{"value":"Jackman,
        Jr.","versions":[{"value":"Jackman, Jr.","source-type":"API","source-id":null,"source-label":null,"timestamp":1466442948404,"selected":false},{"value":"DO
        NOT DELETE","source-type":"INTEGRATION","source-id":null,"source-label":null,"timestamp":1463875236155,"selected":false}]},"twitterhandle":{"value":"ghidinelli","versions":[{"value":"ghidinelli","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"currentlyinworkflow":{"value":"false","versions":[{"value":"false","source-type":"WORKFLOWS","source-id":null,"source-label":null,"timestamp":1463875313746,"selected":false},{"value":"true","source-type":"WORKFLOWS","source-id":null,"source-label":null,"timestamp":1463875241604,"selected":false}]},"hs_analytics_num_event_completions":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"followercount":{"value":"551","versions":[{"value":"551","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_email_optout_2849":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1463875236279,"selected":false}]},"firstname":{"value":"Hugh","versions":[{"value":"Hugh","source-type":"API","source-id":null,"source-label":null,"timestamp":1466443032245,"selected":false},{"value":"DO
        NOT DELETE","source-type":"INTEGRATION","source-id":null,"source-label":null,"timestamp":1463875236155,"selected":false}]},"hs_email_optout_354586":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1463875236279,"selected":false}]},"hs_social_num_broadcast_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_analytics_last_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_analytics_num_visits":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"twitterbio":{"value":"Racecar
        driver, entrepreneur & world traveler. Crossfitter, foodie & SaaS junkie.
        New Dad. Labradoodle master, karter & founder at @MotorsportReg, @RaceHeroApp","versions":[{"value":"Racecar
        driver, entrepreneur & world traveler. Crossfitter, foodie & SaaS junkie.
        New Dad. Labradoodle master, karter & founder at @MotorsportReg, @RaceHeroApp","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_social_linkedin_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_analytics_last_visit_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_social_last_engagement":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_twitterid":{"value":"49019793","versions":[{"value":"49019793","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_analytics_source":{"value":"OFFLINE","versions":[{"value":"OFFLINE","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"company":{"value":"HubSpot","versions":[{"value":"HubSpot","source-type":"API","source-id":null,"source-label":null,"timestamp":1463875276695,"selected":false}]},"email":{"value":"testingapis@hubspot.com","versions":[{"value":"testingapis@hubspot.com","source-type":"INTEGRATION","source-id":null,"source-label":null,"timestamp":1463875236155,"selected":false}]},"linkedinbio":{"value":"Racecar
        driver, entrepreneur, world traveler","versions":[{"value":"Racecar driver,
        entrepreneur, world traveler","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_analytics_first_url":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"website":{"value":"http://www.hubspot.com","versions":[{"value":"http://www.hubspot.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1463875276695,"selected":false}]},"hs_analytics_first_visit_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_analytics_first_timestamp":{"value":"1463875236185","versions":[{"value":"1463875236185","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"lastmodifieddate":{"value":"1466443032266","versions":[{"value":"1466443032266","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1466443032266,"selected":false}]},"photo":{"value":"https://d2ojpxxtu63wzl.cloudfront.net/static/5b37fd1365186dd697c8a4c950be4222_f4b374414287ef87185ce792c90c266ce333e83eac137c3105bdbd20994556a5","versions":[{"value":"https://d2ojpxxtu63wzl.cloudfront.net/static/5b37fd1365186dd697c8a4c950be4222_f4b374414287ef87185ce792c90c266ce333e83eac137c3105bdbd20994556a5","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_social_google_plus_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_analytics_last_referrer":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"kloutscoregeneral":{"value":"48","versions":[{"value":"48","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_email_optout_230318":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1463875236279,"selected":false}]},"hs_social_facebook_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"twitterprofilephoto":{"value":"https://pbs.twimg.com/profile_images/712369625632116736/PNku5AjB_reasonably_small.jpg","versions":[{"value":"https://pbs.twimg.com/profile_images/712369625632116736/PNku5AjB_reasonably_small.jpg","source-type":"WAL_INCREMENTAL","source-id":"iwsmp","source-label":null,"timestamp":1463875438973,"selected":false}]},"hs_lead_status":{"value":"NEW","versions":[{"value":"NEW","source-type":"WORKFLOWS","source-id":"1102416","source-label":null,"timestamp":1463875243524,"selected":false}]},"hs_analytics_source_data_2":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_social_twitter_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"hs_analytics_source_data_1":{"value":"INTEGRATION","versions":[{"value":"INTEGRATION","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1463875238459,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"INTEGRATION","source-id":null,"source-label":null,"timestamp":1463875236185,"selected":false}]}},"form-submissions":[],"list-memberships":[{"static-list-id":1,"internal-list-id":97398,"timestamp":1463875444200,"vid":1582724,"is-member":true},{"static-list-id":3,"internal-list-id":5,"timestamp":1466088888977,"vid":1582724,"is-member":true},{"static-list-id":137,"internal-list-id":273,"timestamp":1463875278200,"vid":1582724,"is-member":true},{"static-list-id":227,"internal-list-id":247,"timestamp":1463875239525,"vid":1582724,"is-member":true},{"static-list-id":286,"internal-list-id":314,"timestamp":1463875239525,"vid":1582724,"is-member":true},{"static-list-id":305,"internal-list-id":138349,"timestamp":1463875239525,"vid":158272[...]
