---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/newcontact_x_1466443030@hsgem.com?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Hugh"},{"property":"lastname","value":"Jackman"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":1878535,"isNew":true}'
  recorded_at: Mon, 20 Jun 2016 17:17:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/1878535/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":1878535,"canonical-vid":1878535,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPvSpjImtUCl5mFQpdXzLvzdWRa3vJuy1u0AGMStOvNQOCNFbUOI6xT-EOxcmEnq-iaKgSAqvXMynbpa-wImrBy7dIuYz7m2pByemyrXMVx3KcScYW3OlukdVUTPh2Hmw09MO6K","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPvSpjImtUCl5mFQpdXzLvzdWRa3vJuy1u0AGMStOvNQOCNFbUOI6xT-EOxcmEnq-iaKgSAqvXMynbpa-wImrBy7dIuYz7m2pByemyrXMVx3KcScYW3OlukdVUTPh2Hmw09MO6K/","properties":{"firstname":{"value":"Hugh","versions":[{"value":"Hugh","source-type":"API","source-id":null,"source-label":null,"timestamp":1466443031302,"selected":false}]},"lastmodifieddate":{"value":"1466443031396","versions":[{"value":"1466443031396","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1466443031396,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"createdate":{"value":"1466443031321","versions":[{"value":"1466443031321","source-type":"API","source-id":"contact-upsert","source-label":null,"timestamp":1466443031321,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1466443031321","versions":[{"value":"1466443031321","source-type":"API","source-id":null,"source-label":null,"timestamp":1466443031321,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1466443031321,"selected":false}]},"email":{"value":"newcontact_x_1466443030@hsgem.com","versions":[{"value":"newcontact_x_1466443030@hsgem.com","source-type":"API","source-id":"contact-upsert","source-label":null,"timestamp":1466443031321,"selected":false}]},"lastname":{"value":"Jackman","versions":[{"value":"Jackman","source-type":"API","source-id":null,"source-label":null,"timestamp":1466443031302,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":1878535,"saved-at-timestamp":1466443031327,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"newcontact_x_1466443030@hsgem.com","timestamp":1466443031321},{"type":"LEAD_GUID","value":"1f8d6863-3024-4dde-89b0-39ae66e097b6","timestamp":1466443031326}]}],"merge-audits":[]}'
  recorded_at: Mon, 20 Jun 2016 17:17:11 GMT
[...]
