---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metaData":{"processing":"DONE","size":3355,"error":"","lastProcessingStateChangeAt":1335448864306,"lastSizeChangeAt":1424402567742},"name":"twitterers","dynamic":true,"filters":[[{"property":"twitterhandle","operator":"IS_NOT_EMPTY","withinTimeMode":"PAST"}]],"listType":"DYNAMIC","portalId":62515,"createdAt":1335448813688,"listId":1,"updatedAt":1335448813688,"internalListId":1}'
  recorded_at: Fri, 20 Feb 2015 19:03:44 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/-1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a List with the given id
        ''-1''.","requestId":"179444ae-e19c-4084-b4c6-3fd1e5f5bf0d"}'
  recorded_at: Fri, 20 Feb 2015 19:06:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/static?count=3&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"dynamic":false,"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1336673990262,"error":"","lastSizeChangeAt":1424559295352,"size":0},"filters":[[{"operator":"IS_NOT_EMPTY","withinTimeMode":"PAST","property":"twitterhandle"}]],"listId":2,"updatedAt":1336673951299,"portalId":62515,"createdAt":1336673951299,"internalListId":2,"name":"HubSpot-HootSuite
        App"},{"dynamic":false,"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1344891893390,"error":"","lastSizeChangeAt":1424561579485,"size":0},"filters":[],"listId":3,"updatedAt":1344891893390,"listType":"STATIC","portalId":62515,"createdAt":1344891893390,"internalListId":5,"name":"staticTest"},{"dynamic":false,"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1345057450679,"error":"","lastSizeChangeAt":1424562780944,"size":0},"filters":[],"listId":4,"updatedAt":1424574658753,"listType":"STATIC","portalId":62515,"createdAt":1345057450679,"internalListId":6,"name":"Workface
        Leads"}],"offset":3,"has-more":true}'
  recorded_at: Wed, 25 Feb 2015 15:08:22 GMT
recorded_with: VCR 2.4.0
