---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"newcontactlist_1424575628","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"dynamic":false,"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1424575628874,"lastSizeChangeAt":0,"error":"","size":0},"filters":[],"listType":"STATIC","portalId":62515,"createdAt":1424575628874,"listId":97345,"updatedAt":1424575628874,"internalListId":97397,"name":"newcontactlist_1424575628"}'
  recorded_at: Sun, 22 Feb 2015 03:27:08 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/lists/97345?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 Feb 2015 03:27:09 GMT
recorded_with: VCR 2.4.0
