---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: US-ASCII
      string: '{"properties":[{"property":"firstname","value":"Hugh"},{"property":"lastname","value":"Jackman"},{"property":"email","value":"newcontact_x_1361564914@hsgem.com"}]}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"vid":154964,"portal-id":62515,"profile-token":"AO_T-mMaMO14Jys0CrLFvkD56Xc8f7PvvFmhsvSPDDdm6-6uF2wbsFHaXFthseHCDcYvwjiWsMGmF9JSy1cdRpd2-PHwsGHsvBwWTwTDSH7cfTId6uYx7xpng_5YxQM9KauZgI_NJMKL","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMaMO14Jys0CrLFvkD56Xc8f7PvvFmhsvSPDDdm6-6uF2wbsFHaXFthseHCDcYvwjiWsMGmF9JSy1cdRpd2-PHwsGHsvBwWTwTDSH7cfTId6uYx7xpng_5YxQM9KauZgI_NJMKL/","properties":{"email":{"value":"newcontact_x_1361564914@hsgem.com","versions":[{"value":"newcontact_x_1361564914@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1361564915163,"selected":false}]},"createdate":{"value":"1361564915163","versions":[{"value":"1361564915163","source-type":"API","source-id":null,"source-label":null,"timestamp":1361564915163,"selected":false}]},"lastname":{"value":"Jackman","versions":[{"value":"Jackman","source-type":"API","source-id":null,"source-label":null,"timestamp":1361564915163,"selected":false}]},"firstname":{"value":"Hugh","versions":[{"value":"Hugh","source-type":"API","source-id":null,"source-label":null,"timestamp":1361564915163,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":154964,"identities":[{"type":"EMAIL","value":"newcontact_x_1361564914@hsgem.com","timestamp":1361564915163},{"type":"LEAD_GUID","value":"49034e6d-f3f4-4018-8b50-1baa22cdb514","timestamp":1361564915173}]}]}'
  recorded_at: Fri, 22 Feb 2013 20:28:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Hugh"},{"property":"lastname","value":"Jackman"},{"property":"email","value":"newcontact_x_1424888102@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - HEAD,GET,OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 25 Feb 2015 18:15:02 GMT
recorded_with: VCR 2.4.0
