---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/newcontact1466443029@hsgem.com?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":1878577,"isNew":true}'
  recorded_at: Mon, 20 Jun 2016 17:17:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/1878577/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":1878577,"canonical-vid":1878577,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOk5zQt9VXpbgOOOATrum1WqBK0LYK2gp-gHLLqodhRA0cOllDlyWLDvX1cY_pJ7H-1TIihachUYXLVNX6gz4ni9VOn568Yrr1APEeV3sXFGlYcO-tJSsvj28eZkRrDCJ9-TBq2","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mOk5zQt9VXpbgOOOATrum1WqBK0LYK2gp-gHLLqodhRA0cOllDlyWLDvX1cY_pJ7H-1TIihachUYXLVNX6gz4ni9VOn568Yrr1APEeV3sXFGlYcO-tJSsvj28eZkRrDCJ9-TBq2/","properties":{"lastmodifieddate":{"value":"1466443030451","versions":[{"value":"1466443030451","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1466443030451,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"createdate":{"value":"1466443030374","versions":[{"value":"1466443030374","source-type":"API","source-id":"contact-upsert","source-label":null,"timestamp":1466443030374,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1466443030374","versions":[{"value":"1466443030374","source-type":"API","source-id":null,"source-label":null,"timestamp":1466443030374,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1466443030374,"selected":false}]},"email":{"value":"newcontact1466443029@hsgem.com","versions":[{"value":"newcontact1466443029@hsgem.com","source-type":"API","source-id":"contact-upsert","source-label":null,"timestamp":1466443030374,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":1878577,"saved-at-timestamp":1466443030393,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"newcontact1466443029@hsgem.com","timestamp":1466443030374},{"type":"LEAD_GUID","value":"70689a9f-043a-4e5d-a606-c7149746e5f2","timestamp":1466443030392}]}],"merge-audits":[]}'
  recorded_at: Mon, 20 Jun 2016 17:17:10 GMT
[...]
