---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metaData":{"processing":"DONE","size":3355,"error":"","lastProcessingStateChangeAt":1335448864306,"lastSizeChangeAt":1424402567742},"name":"twitterers","dynamic":true,"filters":[[{"property":"twitterhandle","operator":"IS_NOT_EMPTY","withinTimeMode":"PAST"}]],"listType":"DYNAMIC","portalId":62515,"createdAt":1335448813688,"listId":1,"updatedAt":1335448813688,"internalListId":1}'
  recorded_at: Fri, 20 Feb 2015 19:03:44 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/-1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a List with the given id
        ''-1''.","requestId":"179444ae-e19c-4084-b4c6-3fd1e5f5bf0d"}'
  recorded_at: Fri, 20 Feb 2015 19:06:11 GMT
recorded_with: VCR 2.4.0
