---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"dynamic":true,"metaData":{"processing":"DONE","lastSizeChangeAt":1424402567742,"lastProcessingStateChangeAt":1335448864306,"error":"","size":3355},"listType":"DYNAMIC","filters":[[{"operator":"IS_NOT_EMPTY","withinTimeMode":"PAST","property":"twitterhandle"}]],"listId":1,"portalId":62515,"createdAt":1335448813688,"updatedAt":1335448813688,"internalListId":1,"name":"twitterers"}'
  recorded_at: Fri, 20 Feb 2015 18:46:55 GMT
recorded_with: VCR 2.4.0
