---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"update_instance_contact_1532354160@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6D52AA1879D04C84D4D2DB851A4611E073AF19F8000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":8124424,"canonical-vid":8124424,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOIaDVgcSzryZmBfyplKcFUJLOorcXAByH3tJd_fEfFeSP9Xk1fDL1sO7fvIb9n9GFDSes7a8QOFKPVL932mJ5Y623jLyR4LCxyin2rhcTDHjwffQFmDNgbSdzGIPPti4qLciBr","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mOIaDVgcSzryZmBfyplKcFUJLOorcXAByH3tJd_fEfFeSP9Xk1fDL1sO7fvIb9n9GFDSes7a8QOFKPVL932mJ5Y623jLyR4LCxyin2rhcTDHjwffQFmDNgbSdzGIPPti4qLciBr/","properties":{"email":{"value":"update_instance_contact_1532354160@hsgem.com","versions":[{"value":"update_instance_contact_1532354160@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354160512,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":8124424,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"update_instance_contact_1532354160@hsgem.com","timestamp":1532354160515,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"345340cf-8ca4-4ece-a86b-fa32f61db4e0","timestamp":1532354160525,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 23 Jul 2018 13:56:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/8124424/profile?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Steve"},{"property":"lastname","value":"Cunningham"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFCB8B9612FD84F45A4533E07CC4124225D90721D000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Jul 2018 13:56:01 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/1/profile?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Steve"},{"property":"lastname","value":"Cunningham"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 2B9F8209A2BE107004DFED4F6B39AA8B37BA8EC215000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"resource not found","correlationId":"1863ffb1-8da0-4628-8f39-35dd30016a0c","requestId":"d5e81f44d0636d46f8391af201e59872"}'
  recorded_at: Mon, 23 Jul 2018 13:56:01 GMT
recorded_with: VCR 4.0.0
