---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"update_class_contact_1532354159@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B21774C7272DB8F0F1669681382D64447987AFBB0000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":8124374,"canonical-vid":8124374,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNNSis_wx5BmeNFwSHNq6y-uYmedUiDCm75r0soX-bqzmwgxnjP7krkfVSAff9Q77PQbBnZPaVMFo8YKTL_W41ikNh_dOQNxtTuxdo5QeU4APO8RgPKonSpVJCFze-mdCi0lIpx","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mNNSis_wx5BmeNFwSHNq6y-uYmedUiDCm75r0soX-bqzmwgxnjP7krkfVSAff9Q77PQbBnZPaVMFo8YKTL_W41ikNh_dOQNxtTuxdo5QeU4APO8RgPKonSpVJCFze-mdCi0lIpx/","properties":{"email":{"value":"update_class_contact_1532354159@hsgem.com","versions":[{"value":"update_class_contact_1532354159@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354159430,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":8124374,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"update_class_contact_1532354159@hsgem.com","timestamp":1532354159434,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"aa7263b2-352b-4d95-afcc-39dce7fcf201","timestamp":1532354159442,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 23 Jul 2018 13:55:59 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/8124374/profile?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Steve"},{"property":"lastname","value":"Cunningham"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BCC561BFB0BF02A2335D6C6D6AACBD70784061C80000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Jul 2018 13:55:59 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/8124374/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0E1780950F90A463F86991DE1E557AEC1561A670000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":8124374,"canonical-vid":8124374,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mP8iKCl7Jwm5mx9Ds_E_zRnd1qE-s03PN76ne2PQQqPxWr9AvRFPn9-LX6jHN1GlVCalPnG1dWjOof9qRJtuglJ9usO5EI2zkQloSG8phJZKw9eiUcRgCOF9wo4i-XIU5zuNtpd","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mP8iKCl7Jwm5mx9Ds_E_zRnd1qE-s03PN76ne2PQQqPxWr9AvRFPn9-LX6jHN1GlVCalPnG1dWjOof9qRJtuglJ9usO5EI2zkQloSG8phJZKw9eiUcRgCOF9wo4i-XIU5zuNtpd/","properties":{"firstname":{"value":"Steve","versions":[{"value":"Steve","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354159820,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"lastmodifieddate":{"value":"1532354159832","versions":[{"value":"1532354159832","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1532354159832,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_email_domain":{"value":"hsgem.com","versions":[{"value":"hsgem.com","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"createdate":{"value":"1532354159434","versions":[{"value":"1532354159434","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354159434,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1532354159434","versions":[{"value":"1532354159434","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354159434,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354159434,"selected":false}]},"email":{"value":"update_class_contact_1532354159@hsgem.com","versions":[{"value":"update_class_contact_1532354159@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354159434,"selected":false}]},"lastname":{"value":"Cunningham","versions":[{"value":"Cunningham","source-type":"API","source-id":null,"source-label":null,"timestamp":1532354159820,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":8124374,"saved-at-timestamp":1532354159445,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"update_class_contact_1532354159@hsgem.com","timestamp":1532354159434,"is-primary":true},{"type":"LEAD_GUID","value":"aa7263b2-352b-4d95-afcc-39dce7fcf201","timestamp":1532354159442}]}],"merge-audits":[]}'
  recorded_at: Mon, 23 Jul 2018 13:56:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/1/profile?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Steve"},{"property":"lastname","value":"Cunningham"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 2B5D8F09278E96C98C9EABCEBFDF199737601647DE000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"resource not found","correlationId":"9db71737-fc89-4160-805b-dec525acef5f","requestId":"ca4e3486d72fa1cd6d868eac95aa0139"}'
  recorded_at: Mon, 23 Jul 2018 13:56:00 GMT
recorded_with: VCR 4.0.0
