---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Morpheus"},{"property":"email","value":"morpheus@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":340774,"canonical-vid":340774,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNmYXDgnv_OFtLW_qfPnJ-tCd3eg4vpP3R2yvr8AUh6fd0_ef1st7ltWYL2_M63f6a_bSkz4bd418XyzYaMTbFahbLsjP5lhqCpB-qzBH4zWXtejjxC_o-zEQ0AEOybfRpMNOWb","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mNmYXDgnv_OFtLW_qfPnJ-tCd3eg4vpP3R2yvr8AUh6fd0_ef1st7ltWYL2_M63f6a_bSkz4bd418XyzYaMTbFahbLsjP5lhqCpB-qzBH4zWXtejjxC_o-zEQ0AEOybfRpMNOWb/","properties":{"firstname":{"value":"Morpheus","versions":[{"value":"Morpheus","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682793,"selected":false}]},"createdate":{"value":"1450151682814","versions":[{"value":"1450151682814","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682814,"selected":false}]},"email":{"value":"morpheus@example.com","versions":[{"value":"morpheus@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682793,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":340774,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"morpheus@example.com","timestamp":1450151682814,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"c37364d7-c81e-47dd-ba77-c067e76a16db","timestamp":1450151683244,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 15 Dec 2015 03:54:47 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/batch/?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"properties":[{"property":"email","value":"morpheus@example.com"},{"property":"firstname","value":"Neo"}],"vid":340774},{"properties":[{"property":"email","value":"smith@example.com"},{"property":"firstname","value":"Smith"}],"email":"smith@example.com"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Dec 2015 03:54:48 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/340774/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":340774,"canonical-vid":340774,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMX595U6X5h01gOt8_cypA-9tR1HZgVnnMzUPRCXIi0JX5roHXOCst7PcLdVEDqedqRibGfc0O1i6USW5nWwfK9gWAf6BUrDUAp3SfTI4BIIQb_9oVQMjXncIfvk_sdlzSRQogc","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMX595U6X5h01gOt8_cypA-9tR1HZgVnnMzUPRCXIi0JX5roHXOCst7PcLdVEDqedqRibGfc0O1i6USW5nWwfK9gWAf6BUrDUAp3SfTI4BIIQb_9oVQMjXncIfvk_sdlzSRQogc/","properties":{"associatedcompanyid":{"value":"85324596","versions":[{"value":"85324596","source-type":"API","source-id":"CompaniesContactAssociator","source-label":null,"timestamp":1450151683733,"selected":false}]},"firstname":{"value":"Neo","versions":[{"value":"Neo","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1450151683715,"selected":false},{"value":"Morpheus","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682793,"selected":false}]},"hs_analytics_last_url":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_email_optout_354586":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1450151683445,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_analytics_revenue":{"value":"0.0","versions":[{"value":"0.0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"createdate":{"value":"1450151682814","versions":[{"value":"1450151682814","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682814,"selected":false}]},"hs_social_num_broadcast_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_first_referrer":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_last_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_email_optout":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1450151683445,"selected":false}]},"hs_predictivecontactscore":{"value":"24","versions":[{"value":"24","source-type":"TASK","source-id":"predictive-contact-scoring","source-label":"1","timestamp":1450151686457,"selected":false},{"value":"23","source-type":"TASK","source-id":"predictive-contact-scoring","source-label":"1","timestamp":1450151684668,"selected":false}]},"hs_analytics_num_visits":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_social_linkedin_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_last_visit_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_social_last_engagement":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_source":{"value":"OFFLINE","versions":[{"value":"OFFLINE","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_num_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"email":{"value":"morpheus@example.com","versions":[{"value":"morpheus@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682793,"selected":false}]},"hs_analytics_first_url":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hubspotscore":{"value":"0","versions":[{"value":"0","source-type":"WAL_INCREMENTAL","source-id":"csrsu-kafka","source-label":null,"timestamp":1450151683892,"selected":false}]},"hs_analytics_first_visit_timestamp":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_first_timestamp":{"value":"1450151682814","versions":[{"value":"1450151682814","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"lastmodifieddate":{"value":"1450151689957","versions":[{"value":"1450151689957","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1450151689957,"selected":false}]},"hs_social_google_plus_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_last_referrer":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1450151682814","versions":[{"value":"1450151682814","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682814,"selected":false}]},"hs_analytics_average_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_email_optout_230318":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1450151683445,"selected":false}]},"hs_social_facebook_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_analytics_num_event_completions":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_source_data_2":{"value":"","versions":[{"value":"","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_social_twitter_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"hs_analytics_source_data_1":{"value":"API","versions":[{"value":"API","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"timestamp":1450151685000,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1450151682814,"selected":false}]},"hs_email_optout_2849":{"value":"","versions":[{"value":"","source-type":"EMAIL","source-id":"Updated
        in response to an email address change.","source-label":null,"timestamp":1450151683445,"selected":false}]}},"form-submissions":[],"list-memberships":[{"static-list-id":227,"internal-list-id":247,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":286,"internal-list-id":314,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":305,"internal-list-id":335,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":26842,"internal-list-id":110741,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":61556,"internal-list-id":61762,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":84994,"internal-list-id":97373,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":104182,"internal-list-id":104245,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":118484,"internal-list-id":118565,"timestamp":1450151685892,"vid":340774,"is-member":true},{"static-list-id":134689,"internal-list-id":134885,"timestamp":1450151685892,"vid":340774,"is-member":true}],"identity-profiles":[{"vid":340774,"saved-at-timestamp":1450151683260,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"morpheus@example.com","timestamp":1450151682814},{"type":"LEAD_GUID","value":"c37364d7-c81e-47dd-ba77-c067e76a16db","timestamp":1450151683244}]}],"merge-audits":[],"associated-company":{"company-id":85324596,"portal-id":62515,"properties":{"zip":{"value":"94520"},"country":{"value":"United
        States"},"website":{"value":"example.com"},"address":{"value":"4020 Nelson
        Ave"},"city":{"value":"Concord"},"num_associated_contacts":{"value":"2"},"timezone":{"value":"America/Los_Angeles"},"createdate":{"value":"1450151102299"},"description":{"value":"Ringalytics
        is an advertising platform for playing interactive audio-based ads on telephone
        calls. On the supply side, we help publishers of business directory information
        monetize phone calls originating from their sites. On the demand side, we
        offer the engagement of a captive play audio ad combined with the targeting
        efficacy of web based advertising, and layer on top of this interactive SMS
        capabilities for response-focused marketers."},"linkedin_company_page":{"value":"http://www.linkedin.com/company/3245735"},"hs_lastmodifieddate":{"value":"1450151685467"},"phone":{"value":"1
        (925) 682-3740"},"annualrevenue":{"value":"10000000"},"domain":{"value":"example.com"},"founded_year":{"value":"1992"},"is_public":{"value":"false"},"name":{"value":"Trackphonulously"},"state":{"value":"CA"},"linkedinbio":{"value":"Ringalytics
        is an advertising platform for playing interactive audio-based ads on telephone
        calls. On the supply side, we help publishers of business directory information
        monetize phone calls originating from their sites. On the demand side, we
        offer the engagement of a captive play audio ad combined with the targeting
        efficacy of web based advertising, and layer on top of this interactive SMS
        capabilities for response-focused marketers."}}}}'
  recorded_at: Tue, 15 Dec 2015 03:54:58 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/recently_updated/contacts/recent?hapikey=demo&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1450151691214,"vid":340824,"canonical-vid":340824,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mM33Zg1PUp2PdTWvGhOBcJMiN26me3h7wiHT0S4UIfWcPTpl4B70_j1jZQzng4_VQHVMUjihV3fgcIMQilc1Ady6dVnze7eqb2M34JNqVzUxZHEqUIQeVnI--stPpqdZ0mqIG4M","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mM33Zg1PUp2PdTWvGhOBcJMiN26me3h7wiHT0S4UIfWcPTpl4B70_j1jZQzng4_VQHVMUjihV3fgcIMQilc1Ady6dVnze7eqb2M34JNqVzUxZHEqUIQeVnI--stPpqdZ0mqIG4M/","properties":{"last[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/smith@example.com/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":340824,"canonical-vid":340824,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPg6lHaDrzUmi-bbtO[...]
