---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"testing list","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1424571860081,"lastSizeChangeAt":0,"error":"","size":0},"dynamic":false,"listType":"STATIC","createdAt":1424571860081,"listId":97344,"updatedAt":1424571860081,"filters":[],"portalId":62515,"internalListId":97396,"name":"testing
        list"}'
  recorded_at: Sun, 22 Feb 2015 02:24:20 GMT
recorded_with: VCR 2.4.0
