---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v2/groups/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group One","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group One","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Tue, 05 Jan 2016 22:51:35 GMT
recorded_with: VCR 2.4.0
