---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/properties?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"name":"hs_campaign","label":"Campaign","description":"The marketing
        campaign the deal is associated with","groupName":"dealinformation","type":"string","fieldType":"text","formField":false,"options":[],"mutableDefinitionNotDeletable":true,"readOnlyDefinition":true,"displayOrder":-1,"displayMode":"current_value","hidden":true,"hubspotDefined":true,"readOnlyValue":false,"calculated":false,"externalOptions":true},{"name":"hs_lastmodifieddate","label":"Last
        Modified Date","description":"The date any property on this deal was modified","groupName":"dealinformation","type":"datetime","fieldType":"text","formField":false,"options":[],"mutableDefinitionNotDeletable":true,"readOnlyDefinition":true,"displayOrder":-1,"displayMode":"current_value","hidden":false,"hubspotDefined":true,"readOnlyValue":true,"calculated":false,"externalOptions":false},{"name":"hubspot_owner_assigneddate","label":"Owner
        Assigned Date","description":"The timestamp when an owner was assigned to
        this deal","groupName":"dealinformation","type":"datetime","fieldType":"text","formField":false,"options":[],"mutableDefinitionNotDeletable":true,"readOnlyDefinition":true,"displayOrder":-1,"displayMode":"current_value","hidden":false,"hubspotDefined":true,"readOnlyValue":true,"calculated":false,"externalOptions":false},{"name":"dealname","label":"Deal
        Name","description":"Name of the deal","groupName":"dealinformation","type":"string","fieldType":"text","formField":false,"options":[],"mutableDefinitionNotDeletable":true,"readOnlyDefinition":true,"displayOrder":0,"displayMode":"current_value","hidden":false,"hubspotDefined":true,"readOnlyValue":false,"calculated":false,"externalOptions":false},{"name":"wfm_contactid","label":"WFM
        Job ID","description":"","groupName":"workflowmax","type":"number","fieldType":"","formField":false,"options":[],"deleted":false,"mutableDefinitionNotDeletable":false,"readOnlyDefinition":false,"displayOrder":0,"displayMode":"current_value","hidden":false,"readOnlyValue":false,"calculated":false,"externalOptions":false},{"name":"wfm_clienturl","label":"WFM
        Job URL","description":"","groupName":"workflowmax","type":"string","fieldType":"","formField":false,"options":[],"deleted":false,"mutableDefinitionNotDeletable":false,"readOnlyDefinition":false,"displayOrder":1,"displayMode":"current_value","hidden":false,"readOnlyValue":false,"calculated":false,"externalOptions":false},{"name":"amount","label":"Amount","description":"The
        total amount of the deal","groupName":"dealinformation","type":"number","fieldType":"text","formField":false,"options":[],"showCurrencySymbol":true,"mutableDefinitionNotDeletable":true,"readOnlyDefinition":true,"displayOrder":2,"displayMode":"current_value","hidden":false,"hubspotDefined":true,"readOnlyValue":false,"calculated":false,"externalOptions":false},{"name":"dealstage","label":"Deal
        Stage","description":"The stage of the deal","groupName":"dealinformation","type":"enumeration","fieldType":"radio","formField":false,"options":[{"value":"appointmentscheduled","readOnly":null,"description":"","label":"Appointment
        Scheduled","displayOrder":1,"hidden":false,"doubleData":0.2},{"value":"qualifiedtobuy","readOnly":null,"description":"","label":"Qualified
        To Buy","displayOrder":2,"hidden":false,"doubleData":0.4},{"value":"presentationscheduled","readOnly":null,"description":"","label":"Presentation
        Scheduled","displayOrder":3,"hidden":false,"doubleData":0.6},{"value":"decisionmakerboughtin","readOnly":null,"description":"","label":"Decision
        Maker Bought-In","displayOrder":4,"hidden":false,"doubleData":0.8},{"value":"contractsent","readOnly":null,"description":"","label":"Contract
        Sent","displayOrder":5,"hidden":false,"doubleData":0.9},{"value":"closedwon","readOnly":null,"description":"","label":"Closed
        Won","displayOrder":6,"hidden":false,"doubleData":1.0},{"value":"closedlost","readOnly":null,"description":"","label":"Closed
        Lost","displayOrder":7,"hidden":false,"doubleData":0.0},{"value":"fullrefund","readOnly":null,"description":"","label":"Full
        Refund","displayOrder":8,"hidden":false,"doubleData":0.0},{"value":"lead","readOnly":null,"description":"","label":"lead","displayOrder":9,"hidden":false,"doubleData":1.0}],"deleted":false,"mutableDefinitionNotDeletable":true,"optionsAreMutable":true,"createdUserId":215482,"readOnlyDefinition":true,"displayOrder":3,"displayMode":"current_value","hidden":false,"hubspotDefined":true,"readOnlyValue":false,"calculated":false,"externalOptions":false,"updatedUserId":215482},{"name":"pipeline","label":"Pipeline","description":"The
        pipeline the deal is in. This determines which stages are options for the
        deal.","groupName":"dealinformation","type":"enumeration","fieldType":"select","formField":false,"options":[],"mutableDefinitionNotDeletable":true,"readOnlyDefinition":true,"displayOrder":3,"displayMode":"current_value","hidden":true,"hubspotDefined":true,"readOnlyValue":false,"calculated":false,"externalOptions":true},{"name":"pipelinesdealst[...]
