---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/properties/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        kind of x would you like?","groupName":"dealinformation","type":"string","fieldType":"text","options":[],"displayOrder":0,"formField":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        kind of x would you like?","groupName":"dealinformation","type":"string","fieldType":"text","formField":true,"displayOrder":0,"readOnlyDefinition":false,"hidden":false,"mutableDefinitionNotDeletable":false,"displayMode":"current_value","options":[],"calculated":false,"readOnlyValue":false,"externalOptions":false}'
  recorded_at: Mon, 04 Jan 2016 18:55:20 GMT
recorded_with: VCR 2.4.0
