---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6AA6CE006F4D529396E7835723FF59CEC75FB0B8000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":319502377,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"hs_lastmodifieddate":{"value":"1531297803459","timestamp":1531297803459,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531297803459","timestamp":1531297803459,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1531297803459","timestamp":1531297803459,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1531297803459","timestamp":1531297803459,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531297803459","timestamp":1531297803459,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1531297803459","timestamp":1531297803459,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Wed, 11 Jul 2018 08:30:03 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/319502377?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"Acme Flask"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BD55515F19F042464854029B5C82A74E7AF79FD1C000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":319502377,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"Acme
        Flask","timestamp":1531297803936,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Acme
        Flask","timestamp":1531297803936,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1531297803936","timestamp":1531297803936,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531297803936","timestamp":1531297803936,"source":"CALCULATED","sourceVid":[]},{"name":"hs_lastmodifieddate","value":"1531297803459","timestamp":1531297803459,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1531297803459","timestamp":1531297803459,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1531297803459","timestamp":1531297803459,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531297803459","timestamp":1531297803459,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1531297803459","timestamp":1531297803459,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Wed, 11 Jul 2018 08:30:04 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/invalid?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"Acme Flask"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace:
      - 2B8307A65842D9F0CE7A284F149A4D8B75FF1931B5000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 11 Jul 2018 08:30:04 GMT
recorded_with: VCR 4.0.0
