---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/properties?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"name":"hs_campaign","label":"Campaign","description":"The marketing
        campaign the deal is associated with","groupName":"dealinformation","type":"string","fieldType":"text","formField":false,"displayOrder":-1,"readOnlyDefinition":true,"hidden":true,"mutableDefinitionNotDeletable":true,"displayMode":"current_value","hubspotDefined":true,"options":[],"calculated":false,"readOnlyValue":false,"externalOptions":true},{"name":"hs_lastmodifieddate","label":"Last
        Modified Date","description":"The date any property on this deal was modified","groupName":"dealinformation","type":"datetime","fieldType":"text","formField":false,"displayOrder":-1,"readOnlyDefinition":true,"hidden":false,"mutableDefinitionNotDeletable":true,"displayMode":"current_value","hubspotDefined":true,"options":[],"calculated":false,"readOnlyValue":true,"externalOptions":false},{"name":"hubspot_owner_assigneddate","label":"Owner
[...]
