---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/properties/named/my_new_property?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        is their favorite flavor?","groupName":"dealinformation","type":"string","fieldType":"text","options":[],"displayOrder":0,"formField":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        is their favorite flavor?","groupName":"dealinformation","type":"string","fieldType":"text","formField":true,"options":[],"mutableDefinitionNotDeletable":false,"readOnlyDefinition":false,"displayOrder":0,"displayMode":"current_value","hidden":false,"readOnlyValue":false,"calculated":false,"externalOptions":false}'
  recorded_at: Mon, 04 Jan 2016 18:55:20 GMT
recorded_with: VCR 2.4.0
