---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B9AB51FF7A8162724246FA71D98CD9C3538B0AFE0000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":325398711,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"hs_lastmodifieddate":{"value":"1532354467246","timestamp":1532354467246,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1532354467246","timestamp":1532354467246,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1532354467246","timestamp":1532354467246,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1532354467246","timestamp":1532354467246,"source":"API","sourceVid":[]}]},"createdate":{"value":"1532354467246","timestamp":1532354467246,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1532354467246","timestamp":1532354467246,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 23 Jul 2018 14:01:07 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/325398711?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"Acme Cogs"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6BAC6387F4376B55823ABCA4DEB225538F440D54000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":325398711,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"Acme
        Cogs","timestamp":1532354467460,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Acme
        Cogs","timestamp":1532354467460,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1532354467460","timestamp":1532354467460,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1532354467460","timestamp":1532354467460,"source":"CALCULATED","sourceVid":[]},{"name":"hs_lastmodifieddate","value":"1532354467246","timestamp":1532354467246,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1532354467246","timestamp":1532354467246,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1532354467246","timestamp":1532354467246,"source":"API","sourceVid":[]}]},"createdate":{"value":"1532354467246","timestamp":1532354467246,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1532354467246","timestamp":1532354467246,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 23 Jul 2018 14:01:07 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/1?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"Acme Cogs"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 2B22F2391720E2BE6F86B8E6D856AC51297E93BCD1000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"No deal found for dealId=1 portalId=62515","correlationId":"0e09d3b2-d6eb-4d00-a897-49510e29ec1b","requestId":"191bb9f1ca021e018250127dbda00a87"}'
  recorded_at: Mon, 23 Jul 2018 14:01:08 GMT
recorded_with: VCR 4.0.0
