---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/properties/named/my_new_property?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''my_new_property''","correlationId":"74a854fa-b3a6-48ff-b4f4-1d8633407e0b","requestId":"1e67ba24-3f95-4dff-a57f-523f74f17c44"}'
  recorded_at: Tue, 05 Jan 2016 22:51:39 GMT
recorded_with: VCR 2.4.0
