---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4AF225A202A3389D38BE025C9BA3B97470D879D4000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":325444455,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"hs_lastmodifieddate":{"value":"1532354466560","timestamp":1532354466560,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1532354466560","timestamp":1532354466560,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1532354466560","timestamp":1532354466560,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1532354466560","timestamp":1532354466560,"source":"API","sourceVid":[]}]},"createdate":{"value":"1532354466560","timestamp":1532354466560,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1532354466560","timestamp":1532354466560,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 23 Jul 2018 14:01:06 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/325444455?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"Acme Flask"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6AB4327AA23FA27DC3196F31F079C0D1FDCB7CFA000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":325444455,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"Acme
        Flask","timestamp":1532354466804,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Acme
        Flask","timestamp":1532354466804,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1532354466804","timestamp":1532354466804,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1532354466804","timestamp":1532354466804,"source":"CALCULATED","sourceVid":[]},{"name":"hs_lastmodifieddate","value":"1532354466560","timestamp":1532354466560,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1532354466560","timestamp":1532354466560,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1532354466560","timestamp":1532354466560,"source":"API","sourceVid":[]}]},"createdate":{"value":"1532354466560","timestamp":1532354466560,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1532354466560","timestamp":1532354466560,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 23 Jul 2018 14:01:06 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/1?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"Acme Flask"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 2BB820995C51F157788C2D5F308F35657CAD76F36C000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"No deal found for dealId=1 portalId=62515","correlationId":"6441c70d-e3bf-4c4c-9424-e7bc3f40779b","requestId":"b103371cc88b771356fc327bb9f27fd6"}'
  recorded_at: Mon, 23 Jul 2018 14:01:07 GMT
recorded_with: VCR 4.0.0
