---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/groups/named/ff_group1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 1B41F22567BAE9B8C25CFB9119D6288D57041F0FFD6E9486A26FC614EA
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"962b3684-ab95-4aee-8c14-540437dbfa7a","requestId":"61f33c20-757b-4cdd-a86b-eab29f915e11"}'
  recorded_at: Tue, 05 Jan 2016 22:51:41 GMT
recorded_with: VCR 2.4.0
