---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8954037],"associatedVids":[27136]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BC4AB761836BFB2ACD9061338A7FBC5A17F51C5B1000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":317824073,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"associationCreateFailures":[{"association":{"fromObjectId":317824073,"toObjectId":8954037,"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5,"associationType":"DEAL_TO_COMPANY","timestamp":null},"failReason":"INVALID_OBJECT_IDS","message":"COMPANY=8954037
        is not valid"},{"association":{"fromObjectId":317824073,"toObjectId":27136,"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3,"associationType":"DEAL_TO_CONTACT","timestamp":null},"failReason":"INVALID_OBJECT_IDS","message":"CONTACT=27136
        is not valid"}],"properties":{"amount":{"value":"30","timestamp":1530887572220,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1530887572220,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1530887572220","timestamp":1530887572220,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1530887572220","timestamp":1530887572220,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1530887572220","timestamp":1530887572220,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1530887572220","timestamp":1530887572220,"source":"API","sourceVid":[]}]},"createdate":{"value":"1530887572220","timestamp":1530887572220,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1530887572220","timestamp":1530887572220,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Fri, 06 Jul 2018 14:32:52 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"New Company 1530887572"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2E3A967B3C035E3BCB321E536C458833B517A7FC000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":854210387,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1530887572549","timestamp":1530887572549,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1530887572549","timestamp":1530887572549,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"New
        Company 1530887572","timestamp":1530887572549,"source":"API","sourceId":null,"versions":[{"name":"name","value":"New
        Company 1530887572","timestamp":1530887572549,"source":"API","sourceVid":[]}]},"createdate":{"value":"1530887572549","timestamp":1530887572549,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1530887572549","timestamp":1530887572549,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 06 Jul 2018 14:32:52 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"newcontact1530887572@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B1C7FA0D7115A67CC9FA13C465CD4D455ABD19554000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":7802824,"canonical-vid":7802824,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPDnTpIsRHz-tU268FcDFmOuw_M6KeF_jvOmkW7abRXBzP5W3pLheu2cw6mztBvw7KQ8PZJtSOjDZEq4bexOPAavPyxfApYcqCNYtvP83uogxGlT_GJWOvT-N2V8X_TOtPBY_vC","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPDnTpIsRHz-tU268FcDFmOuw_M6KeF_jvOmkW7abRXBzP5W3pLheu2cw6mztBvw7KQ8PZJtSOjDZEq4bexOPAavPyxfApYcqCNYtvP83uogxGlT_GJWOvT-N2V8X_TOtPBY_vC/","properties":{"email":{"value":"newcontact1530887572@hsgem.com","versions":[{"value":"newcontact1530887572@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1530887572881,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":7802824,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"newcontact1530887572@hsgem.com","timestamp":1530887572886,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d17f14b4-00a6-4337-8c2d-963a6eb80f2e","timestamp":1530887572896,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Fri, 06 Jul 2018 14:32:53 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/317824073/associations/CONTACT?hapikey=demo&id=7802824
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE75680918097F05D4AC3C17173A7477FD470EA33000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Jul 2018 14:32:53 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/317824073/associations/COMPANY?hapikey=demo&id=854210387
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2046BCCA82D247A9C70E865C875FA75F5BF31387000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Jul 2018 14:32:54 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/317824073?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFE43E5CB255E4DA96E6A2D2FD398FB17801212AA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"dealId":317824073,"isDeleted":false,"associations":{"associatedVids":[7802824],"associatedCompanyIds":[854210387],"associatedDealIds":[]},"properties":{"amount":{"value":"30","timestamp":1530887572220,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1530887572220,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1530887573375","timestamp":1530887573375,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1530887573375","timestamp":1530887573375,"source":"CALCULATED","sourceVid":[]}]},"hs_analytics_source":{"value":"","timestamp":1530887572588,"source":"DEALS","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source","value":"","timestamp":1530887572588,"sourceId":"deal
        sync with no associated contacts","source":"DEALS","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1530887572220","timestamp":1530887572220,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1530887572220","timestamp":1530887572220,"source":"API","sourceVid":[]}]},"createdate":{"value":"1530887572220","timestamp":1530887572220,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1530887572220","timestamp":1530887572220,"source":"API","sourceVid":[]}]},"hs_analytics_source_data_2":{"value":"","timestamp":1530887572588,"source":"DEALS","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source_data_2","value":"","timestamp":1530887572588,"sourceId":"deal
        sync with no associated contacts","source":"DEALS","sourceVid":[]}]},"hs_analytics_source_data_1":{"value":"","timestamp":1530887572588,"source":"DEALS","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source_data_1","value":"","timestamp":1530887572588,"sourceId":"deal
        sync with no associated contacts","source":"DEALS","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Fri, 06 Jul 2018 14:32:54 GMT
recorded_with: VCR 4.0.0
