---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo&portalId=62515
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8954037],"associatedVids":[27136]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":1071865,"isDeleted":false,"associations":{"associatedVids":[27136],"associatedCompanyIds":[8954037],"associatedDealIds":[]},"properties":{"createdate":{"value":"1418045462749","timestamp":1418045462749,"source":null,"sourceId":null,"versions":[{"name":"createdate","value":"1418045462749","timestamp":1418045462749,"sourceVid":[]}]},"hs_createdate":{"value":"1418045462749","timestamp":1418045462749,"source":null,"sourceId":null,"versions":[{"name":"hs_createdate","value":"1418045462749","timestamp":1418045462749,"sourceVid":[]}]}}}'
  recorded_at: Mon, 08 Dec 2014 13:31:33 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/1071865?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":1071865,"isDeleted":false,"associations":{"associatedVids":[27136],"associatedCompanyIds":[8954037],"associatedDealIds":[]},"properties":{"createdate":{"value":"1418045462749","timestamp":1418045462762,"source":null,"sourceId":null,"versions":[{"name":"createdate","value":"1418045462749","timestamp":1418045462762,"sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1418045462749","timestamp":1418045462762,"source":null,"sourceId":null,"versions":[{"name":"hs_createdate","value":"1418045462749","timestamp":1418045462762,"sourceVid":[]}]}}}'
  recorded_at: Mon, 08 Dec 2014 13:33:58 GMT
recorded_with: VCR 2.4.0
