---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/properties/named/my_new_property?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''my_new_property''","correlationId":"8c44f978-c95d-476a-be6f-85fd1b6d854f","requestId":"92ee7398-80f6-4bca-80c6-3b3a541c52b2"}'
  recorded_at: Mon, 04 Jan 2016 18:40:45 GMT
recorded_with: VCR 2.4.0
