---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/properties/named/my_new_property?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","groupName":"dealinformation","description":"What
        is their favorite flavor?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[{"description":"","value":"Over $50K","label":"Over
        $50K","hidden":false,"displayOrder":0},{"description":"","value":"Under $50K","label":"Under
        $50K","hidden":false,"displayOrder":1}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        is their favorite flavor?","groupName":"dealinformation","type":"string","fieldType":"text","formField":true,"displayOrder":0,"readOnlyValue":false,"readOnlyDefinition":false,"hidden":false,"mutableDefinitionNotDeletable":false,"calculated":false,"externalOptions":false,"displayMode":"current_value","options":[{"description":"","label":"Over
        $50K","displayOrder":0,"hidden":false,"doubleData":null,"readOnly":null,"value":"Over
        $50K"},{"description":"","label":"Under $50K","displayOrder":1,"hidden":false,"doubleData":null,"readOnly":null,"value":"Under
        $50K"}]}'
  recorded_at: Tue, 05 Jan 2016 22:51:38 GMT
recorded_with: VCR 2.4.0
