---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBF6883F535DF8D1B79F96DC77B569335B8D8DE34000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":319502350,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"hs_lastmodifieddate":{"value":"1531297804400","timestamp":1531297804400,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531297804400","timestamp":1531297804400,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1531297804400","timestamp":1531297804400,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1531297804400","timestamp":1531297804400,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531297804400","timestamp":1531297804400,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1531297804400","timestamp":1531297804400,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Wed, 11 Jul 2018 08:30:04 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/319502350?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"Acme Cogs"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B9F39D53C23654243C95E3B4C6636594F6460F549000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":319502350,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"Acme
        Cogs","timestamp":1531297804856,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Acme
        Cogs","timestamp":1531297804856,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1531297804856","timestamp":1531297804856,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1531297804856","timestamp":1531297804856,"source":"CALCULATED","sourceVid":[]},{"name":"hs_lastmodifieddate","value":"1531297804400","timestamp":1531297804400,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1531297804400","timestamp":1531297804400,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1531297804400","timestamp":1531297804400,"source":"API","sourceVid":[]}]},"createdate":{"value":"1531297804400","timestamp":1531297804400,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1531297804400","timestamp":1531297804400,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Wed, 11 Jul 2018 08:30:04 GMT
recorded_with: VCR 4.0.0
