---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v2/properties/named/my_new_property?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''my_new_property''","correlationId":"628a4acd-45b5-48f5-a4f4-15b6e500c90a","requestId":"00224518-40b3-42a3-adfb-32b0b303d3bc"}'
  recorded_at: Thu, 31 Dec 2015 23:30:21 GMT
recorded_with: VCR 2.4.0
