---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v2/groups/named/ff_group1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"5bcec14d-4374-4c2e-a672-945efd66e06b","requestId":"5fdbe88c-bbf8-4ff1-8d00-ad6b4d665e7e"}'
  recorded_at: Thu, 31 Dec 2015 23:10:53 GMT
recorded_with: VCR 2.4.0
