---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo&portalId=62515
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8954037],"associatedVids":[27136]},"properties":[{"name":"amount","value":30}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":1418749,"isDeleted":false,"associations":{"associatedVids":[27136],"associatedCompanyIds":[8954037],"associatedDealIds":[]},"properties":{"amount":{"value":"30","timestamp":1420832089249,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1420832089249,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1420832089253","timestamp":1420832089253,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1420832089253","timestamp":1420832089253,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1420832089253","timestamp":1420832089253,"source":null,"sourceId":null,"versions":[{"name":"hs_createdate","value":"1420832089253","timestamp":1420832089253,"sourceVid":[]}]},"createdate":{"value":"1420832089253","timestamp":1420832089253,"source":null,"sourceId":null,"versions":[{"name":"createdate","value":"1420832089253","timestamp":1420832089253,"sourceVid":[]}]}}}'
  recorded_at: Fri, 09 Jan 2015 19:34:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/1418749?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":1418749,"isDeleted":false,"associations":{"associatedVids":[27136],"associatedCompanyIds":[8954037],"associatedDealIds":[]},"properties":{"amount":{"value":"30","timestamp":1420832089260,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1420832089260,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1420832089253","timestamp":1420832089260,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1420832089253","timestamp":1420832089260,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1420832089253","timestamp":1420832089260,"source":null,"sourceId":null,"versions":[{"name":"hs_createdate","value":"1420832089253","timestamp":1420832089260,"sourceVid":[]}]},"createdate":{"value":"1420832089253","timestamp":1420832089260,"source":null,"sourceId":null,"versions":[{"name":"createdate","value":"1420832089253","timestamp":1420832089260,"sourceVid":[]}]}}}'
  recorded_at: Fri, 09 Jan 2015 19:34:49 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/1418749?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Deal does not exist","requestId":"31456253-ec6a-49a6-a170-6721fc030277"}'
  recorded_at: Fri, 09 Jan 2015 19:39:20 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8954037],"associatedVids":[27136]},"properties":[{"name":"amount","value":30}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      [...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/2153873?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BF95B4C12411F9FF5CF3361D112DC37830B229B83FB82885400A1ABA9
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Deal does not exist","requestId":"0fa11d39-af49-4146-9a70-fdef574ab67b"}'
  recorded_at: Sun, 22 Feb 2015 16:20:04 GMT
recorded_with: VCR 2.4.0
