---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8954037],"associatedVids":[27136]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BEC2314C3DF25672BC74A391F60A18D5E92386BD3000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '131382'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":423241776,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"associationCreateFailures":[{"association":{"fromObjectId":423241776,"toObjectId":27136,"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3,"timestamp":null},"failReason":"INVALID_OBJECT_IDS","message":"CONTACT=27136
        is not valid"},{"association":{"fromObjectId":423241776,"toObjectId":8954037,"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5,"timestamp":null},"failReason":"INVALID_OBJECT_IDS","message":"COMPANY=8954037
        is not valid"}],"properties":{"amount":{"value":"30","timestamp":1543856195636,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1543856195636,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1543856195636","timestamp":1543856195636,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1543856195636","timestamp":1543856195636,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1543856195636","timestamp":1543856195636,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1543856195636","timestamp":1543856195636,"source":"API","sourceVid":[]}]},"createdate":{"value":"1543856195636","timestamp":1543856195636,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1543856195636","timestamp":1543856195636,"source":"API","sourceVid":[]}]},"amount_in_home_currency":{"value":"30","timestamp":1543856195636,"source":"CALCULATED","sourceId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1543856195636,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 03 Dec 2018 16:56:35 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/deal/423241776?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B79432B7EC59162004B71E135371704E3C440E023000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '131381'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Dec 2018 16:56:35 GMT
recorded_with: VCR 4.0.0
