---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"CALL"},"associations":{"contactIds":[null],"dealIds":[null],"ownerIds":[null]},"metadata":{"body":"test
        call","status":"COMPLETED","durationMilliseconds":0}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":185949816,"portalId":62515,"active":true,"createdAt":1481812713434,"lastUpdated":1481812713434,"type":"CALL","timestamp":1481812713434},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"status":"COMPLETED","durationMilliseconds":0,"body":"test
        call"}}'
  recorded_at: Thu, 15 Dec 2016 14:38:33 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/185949816?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":185949816,"portalId":62515,"active":true,"createdAt":1481812713434,"lastUpdated":1481812713434,"type":"CALL","timestamp":1481812713434},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"status":"COMPLETED","durationMilliseconds":0,"body":"test
        call"}}'
  recorded_at: Thu, 15 Dec 2016 14:38:33 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/185949816?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Dec 2016 14:38:33 GMT
recorded_with: VCR 2.4.0
