---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[null]},"metadata":{"body":"note"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B9AB6AD8D1886E27829FD0F994392977C9A98E6ED000000000000000000
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":1079675197,"portalId":62515,"active":true,"createdAt":1531229227054,"lastUpdated":1531229227054,"type":"NOTE","timestamp":1531229227054},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[]},"attachments":[],"metadata":{"body":"note"}}'
  recorded_at: Tue, 10 Jul 2018 13:27:07 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"newcontact1531229227@hsgem.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BEF31BE994305893427A4FC786D2DCF526282EF6F000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":7845574,"canonical-vid":7845574,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mP7JZlldghIshBWGN0uEnFvLbIqF9vZv3cTmtn76wDtumUGYrhiZBBotY7SaYI23GasTHYlZEp6kSvdP_meNDxxHyjKPQdzEMyT1C-ThMZjx2wZB97hEmH-uA_qEafzNFY0bcoE","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mP7JZlldghIshBWGN0uEnFvLbIqF9vZv3cTmtn76wDtumUGYrhiZBBotY7SaYI23GasTHYlZEp6kSvdP_meNDxxHyjKPQdzEMyT1C-ThMZjx2wZB97hEmH-uA_qEafzNFY0bcoE/","properties":{"email":{"value":"newcontact1531229227@hsgem.com","versions":[{"value":"newcontact1531229227@hsgem.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1531229227538,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":7845574,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"newcontact1531229227@hsgem.com","timestamp":1531229227542,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"137757e2-3f20-4aa2-940e-210dc70e2b90","timestamp":1531229227549,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 10 Jul 2018 13:27:07 GMT
- request:
    method: put
    uri: https://api.hubapi.com/engagements/v1/engagements/1079675197/associations/contact/7845574?hapikey=demo
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFE7B6CB1CBE9131DD263D501551D9FCFD4811F62000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 Jul 2018 13:29:26 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/CONTACT/7845574/paged?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B41BA59C0FA24AEFA65C3C5A34429A64651025B34000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":1079675197,"portalId":62515,"active":true,"createdAt":1531229227054,"lastUpdated":1531229227054,"type":"NOTE","timestamp":1531229227054},"associations":{"contactIds":[7845574],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[]},"attachments":[],"metadata":{"body":"note"}}],"hasMore":false,"offset":1079675197}'
  recorded_at: Tue, 10 Jul 2018 13:29:27 GMT
recorded_with: VCR 4.0.0
