---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/4709059?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":4709059,"portalId":62515,"active":true,"createdAt":1428586724779,"lastUpdated":1479827851650,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"CALL","timestamp":1428565020000},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"attachments":[],"metadata":{"durationMilliseconds":0,"body":"test
        call"}}'
  recorded_at: Thu, 15 Dec 2016 14:25:36 GMT
recorded_with: VCR 2.4.0
