---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/CONTACT/1085724/paged?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"engagement":{"id":42173607,"portalId":62515,"active":true,"createdAt":1459244820170,"lastUpdated":1459244820170,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"NOTE","timestamp":1459244820170},"associations":{"contactIds":[1085724],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"attachments":[],"metadata":{"body":"This
        is&nbsp; a note I want to leave to Brian<br>"}},{"engagement":{"id":42173972,"portalId":62515,"active":true,"createdAt":1459244905563,"lastUpdated":1459244905563,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"NOTE","timestamp":1459244905563},"associations":{"contactIds":[1085724],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"attachments":[],"metadata":{"body":"xyjdgyjdy"}},{"engagement":{"id":58699116,"portalId":62515,"active":true,"createdAt":1459244915301,"lastUpdated":1459244915301,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"NOTE","timestamp":1459244915301},"associations":{"contactIds":[1085724],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"attachments":[],"metadata":{"body":"<div>gqdgg</div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div>"}},{"engagement":{"id":58699206,"portalId":62515,"active":true,"createdAt":1459244935877,"lastUpdated":1459244935877,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"EMAIL","uid":"828e5c1e-e8b0-3856-a4d0-42b5e54843bf","timestamp":1459244935871},"associations":{"contactIds":[1085724],"companyIds":[184896670],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"from":{"email":"testapi@hubspot.com","firstName":"Test
        API","lastName":"Anwar"},"to":[{"email":"Brian Halligan (Sample Contact) <bh@hubspot.com>"}],"cc":[],"bcc":[],"subject":"qghgh","html":"sqdgsfg","text":"sqdgsfg","status":"SENT"}}],"hasMore":false,"offset":58699206}'
  recorded_at: Sat, 08 Oct 2016 14:52:39 GMT
recorded_with: VCR 2.4.0
