---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[null]},"metadata":{"body":"Test
        note"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":74241847,"portalId":62515,"active":true,"createdAt":1467231019741,"lastUpdated":1467231019741,"type":"NOTE","timestamp":1467231019741},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"body":"Test
        note"}}'
  recorded_at: Wed, 29 Jun 2016 20:10:19 GMT
recorded_with: VCR 2.4.0
