---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[null]},"metadata":{"body":"test
        note"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":92819546,"portalId":62515,"active":true,"createdAt":1467232005455,"lastUpdated":1467232005455,"type":"NOTE","timestamp":1467232005455},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"body":"test
        note"}}'
  recorded_at: Wed, 29 Jun 2016 20:26:45 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/92819546?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":92819546,"portalId":62515,"active":true,"createdAt":1467232005455,"lastUpdated":1467232005455,"type":"NOTE","timestamp":1467232005455},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"body":"test
        note"}}'
  recorded_at: Wed, 29 Jun 2016 20:26:45 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/92819546?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 29 Jun 2016 20:27:11 GMT
recorded_with: VCR 2.4.0
