---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/51484873?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":51484873,"portalId":62515,"active":true,"createdAt":1450278022053,"lastUpdated":1450278022053,"ownerId":1,"type":"NOTE","timestamp":1409172644778},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"body":"note
        body"}}'
  recorded_at: Wed, 29 Jun 2016 20:24:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/58699206?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":58699206,"portalId":62515,"active":true,"createdAt":1459244935877,"lastUpdated":1459244935877,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"EMAIL","uid":"828e5c1e-e8b0-3856-a4d0-42b5e54843bf","timestamp":1459244935871},"associations":{"contactIds":[1085724],"companyIds":[184896670],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"from":{"email":"testapi@hubspot.com","firstName":"Test
        API","lastName":"Anwar"},"to":[{"email":"Brian Halligan (Sample Contact) <bh@hubspot.com>"}],"cc":[],"bcc":[],"subject":"qghgh","html":"sqdgsfg","text":"sqdgsfg","status":"SENT"}}'
  recorded_at: Sat, 08 Oct 2016 14:14:13 GMT
recorded_with: VCR 2.4.0
