---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/FAKE_TYPE/1/paged?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Invalid enum constant ''FAKE_TYPE'' for
        class ObjectType","correlationId":"583362b9-af33-403d-b2af-6e6d630a11c6","requestId":"b5fc03ad-5a7e-4500-9e3a-bd3371af2345"}'
  recorded_at: Sat, 08 Oct 2016 15:10:00 GMT
recorded_with: VCR 2.4.0
