---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/COMPANY/184896670/paged?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"engagement":{"id":58699206,"portalId":62515,"active":true,"createdAt":1459244935877,"lastUpdated":1459244935877,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"EMAIL","uid":"828e5c1e-e8b0-3856-a4d0-42b5e54843bf","timestamp":1459244935871},"associations":{"contactIds":[1085724],"companyIds":[184896670],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"from":{"email":"testapi@hubspot.com","firstName":"Test
        API","lastName":"Anwar"},"to":[{"email":"Brian Halligan (Sample Contact) <bh@hubspot.com>"}],"cc":[],"bcc":[],"subject":"qghgh","html":"sqdgsfg","text":"sqdgsfg","status":"SENT"}},{"engagement":{"id":72025532,"portalId":62515,"active":true,"createdAt":1466779970472,"lastUpdated":1466779970472,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"EMAIL","timestamp":1466779970265},"associations":{"contactIds":[1288124],"companyIds":[184896670],"dealIds":[],"ownerIds":[],"workflowIds":[]},"attachments":[],"metadata":{"from":{},"to":[{"email":"bh+215482@hubspot.com","firstName":"Brian"}],"cc":[],"bcc":[],"subject":"hjgkjgkgjhg"}},{"engagement":{"id":77622860,"portalId":62515,"active":true,"createdAt":1464989737995,"lastUpdated":1464989737995,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"CALL","timestamp":1464989700000},"associations":{"contactIds":[1753574],"companyIds":[184896670],"dealIds":[],"ownerIds":[],"workflowIds":[]},"attachments":[],"metadata":{"durationMilliseconds":0,"body":"<div>This
        is log activity</div><div><br></div>"}},{"engagement":{"id":91998391,"portalId":62515,"active":true,"createdAt":1467198754505,"lastUpdated":1467198765123,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"CALL","timestamp":1467198754487},"associations":{"contactIds":[1288124],"companyIds":[184896670],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"toNumber":"8327302767","fromNumber":"6179256372","status":"CANCELED","durationMilliseconds":0,"externalAccountId":"AC5c70f60a7c32c74da8b69cdbb8806d62","body":"taking
        notes for the call<br />"}},{"engagement":{"id":91999016,"portalId":62515,"active":true,"createdAt":1467198809596,"lastUpdated":1467198815740,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"CALL","timestamp":1467198809582},"associations":{"contactIds":[1288124],"companyIds":[184896670],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"toNumber":"8327302767","fromNumber":"6179256372","status":"CANCELED","durationMilli[...]
