---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/51484873?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":51484873,"portalId":62515,"active":true,"createdAt":1450278022053,"lastUpdated":1450278022053,"ownerId":1,"type":"NOTE","timestamp":1409172644778},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"body":"note
        body"}}'
  recorded_at: Wed, 29 Jun 2016 20:24:10 GMT
recorded_with: VCR 2.4.0
