---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"CALL"},"associations":{"contactIds":[null],"dealIds":[null],"ownerIds":[null]},"metadata":{"body":"Test
        call","status":"COMPLETED","durationMilliseconds":0}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":185916081,"portalId":62515,"active":true,"createdAt":1481811908160,"lastUpdated":1481811908160,"type":"CALL","timestamp":1481811908160},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"status":"COMPLETED","durationMilliseconds":0,"body":"Test
        call"}}'
  recorded_at: Thu, 15 Dec 2016 14:25:08 GMT
recorded_with: VCR 2.4.0
