---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/automation/v2/workflows/2582322/enrollments/contacts/hahha@hubspot.com?hapikey=demo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 2B5E01D3EBB7F53B8A53B3580CB84212BD3C415F68000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Contact with the email
        ''hahha@hubspot.com''","correlationId":"2981981b-825a-4930-aca4-3440a6f80022","requestId":"e4b40c14c7a5211d9086cde0731d04f0"}'
  recorded_at: Fri, 16 Feb 2018 21:36:49 GMT
recorded_with: VCR 4.0.0
