---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/fields/561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0/email?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":2,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"email","message":"Please
        enter a valid email address","data":"","useDefaultBlockList":false},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":""}'
  recorded_at: Mon, 23 Feb 2015 15:51:46 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0/email?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"The Form with the guid ''561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0''
        has no FormField with the name ''email''.","correlationId":"f76718bd-a625-44fe-bbc2-97695622f433","requestId":"151d9350-8542-4158-be2f-f51d9603e3d4"}'
  recorded_at: Thu, 16 Jun 2016 22:44:10 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/78c2891f-ebdd-44c0-bd94-15c012bbbfbf/sb_pres_name?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"sb_pres_name","label":"SlideBear Presentation Name","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false}'
  recorded_at: Thu, 16 Jun 2016 23:31:24 GMT
recorded_with: VCR 2.4.0
