---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/filemanager/api/v2/files/4958081202?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":4958081202,"portal_id":62515,"name":"Google Display Network","size":589192,"height":null,"width":null,"encoding":null,"type":"DOCUMENT","extension":"pdf","cloud_key":"hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","s3_url":"http://cdn1.hubspot.com/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","friendly_url":"https://cdn2.hubspot.net/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","alt_key":"hubfs/62515/hubspot-projects-attachments/473512/7899431/google%20display%20network","alt_key_hash":"a5372456c13f281c68f7ca7173fcf808","title":"Google
        Display Network","meta":{"redirects":["hubfs/62515/Google%20Display%20Network.pdf"],"url_scheme":"SIMPLIFIED","allows_anonymous_access":true},"created":1490025439634,"updated":1490025440432,"deleted_at":0,"folder_id":4958081211,"hidden":false,"cloud_key_hash":"7b33c1c6d9abf8a8388f7cf0988bab59","archived":false,"url":"https://cdn2.hubspot.net/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","alt_url":"http://cdn2.hubspot.net/hubfs/62515/hubspot-projects-attachments/473512/7899431/google%20display%20network.pdf"}'
  recorded_at: Tue, 06 Feb 2018 17:47:31 GMT
- request:
    method: post
    uri: https://api.hubapi.com/filemanager/api/v2/files?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"data":{"file_names":null,"folder_paths":null,"folder_id":null},"files":{"files":"JVBERi0xLjINJeLjz9MNCjMgMCBvYmoNPDwgDS9MaW5lYXJpemVkIDEgDS9P\nIDUgDS9IIFsgNzYwIDE1NyBdIA0vTCAzOTA4IA0vRSAzNjU4IA0vTiAxIA0v\nVCAzNzMxIA0+PiANZW5kb2JqDSAgICAgICAgICAgICAgICAgICAgICAgICAg\nICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICB4cmVmDTMg\nMTUgDTAwMDAwMDAwMTYgMDAwMDAgbg0KMDAwMDAwMDY0NCAwMDAwMCBuDQow\nMDAwMDAwOTE3IDAwMDAwIG4NCjAwMDAwMDEwNjggMDAwMDAgbg0KMDAwMDAw\nMTIyNCAwMDAwMCBuDQowMDAwMDAxNDEwIDAwMDAwIG4NCjAwMDAwMDE1ODkg\nMDAwMDAgbg0KMDAwMDAwMTc2OCAwMDAwMCBuDQowMDAwMDAyMTk3IDAw[...]
- request:
    method: get
    uri: https://api.hubapi.com/filemanager/api/v2/files?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BC993DDDC6F61F3C03690C1002B28187D42263AD78630FB28738C119F
    body:
      encoding: ASCII-8BIT
      string: '{"limit":100,"offset":0,"objects":[{"id":4958081202,"portal_id":62515,"name":"Google
        Display Network","size":589192,"height":null,"width":null,"encoding":null,"type":"DOCUMENT","extension":"pdf","cloud_key":"hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","s3_url":"http://cdn1.hubspot.com/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","friendly_url":"https://cdn2.hubspot.net/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Di[...]
