---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/filemanager/api/v2/files/4958081202?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":4958081202,"portal_id":62515,"name":"Google Display Network","size":589192,"height":null,"width":null,"encoding":null,"type":"DOCUMENT","extension":"pdf","cloud_key":"hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","s3_url":"http://cdn1.hubspot.com/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","friendly_url":"https://cdn2.hubspot.net/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","alt_key":"hubfs/62515/hubspot-projects-attachments/473512/7899431/google%20display%20network","alt_key_hash":"a5372456c13f281c68f7ca7173fcf808","title":"Google
        Display Network","meta":{"redirects":["hubfs/62515/Google%20Display%20Network.pdf"],"url_scheme":"SIMPLIFIED","allows_anonymous_access":true},"created":1490025439634,"updated":1490025440434,"deleted_at":1519239034623,"folder_id":4958081211,"hidden":false,"cloud_key_hash":"7b33c1c6d9abf8a8388f7cf0988bab59","archived":false,"url":"https://cdn2.hubspot.net/hubfs/62515/HubSpot-Projects-Attachments/473512/7899431/Google%20Display%20Network.pdf","alt_url":"http://cdn2.hubspot.net/hubfs/62515/hubspot-projects-attachments/473512/7899431/google%20display%20network.pdf"}'
  recorded_at: Wed, 21 Feb 2018 18:52:54 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/filemanager/api/v2/files/4958081202/full-delete?hapikey=demo
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"succeeded":true}'
  recorded_at: Wed, 21 Feb 2018 18:53:24 GMT
recorded_with: VCR 4.0.0
