---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/created?hapikey=demo&recent=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":42866817,"isDeleted":false,"properties":{"zip":{"value":"94520","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"zip","value":"94520","timestamp":1434442722322,"sourceVid":[]}]},"country":{"value":"United
        States","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"country","value":"United
        States","timestamp":1434442722322,"sourceVid":[]}]},"website":{"value":"example.com","timestamp":1434442722316,"source":null,"sourceId":null,"versions":[{"name":"website","value":"example.com","timestamp":1434442722316,"sourceVid":[]}]},"address":{"value":"4020
        Nelson Avenue","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"address","value":"4020
        Nelson Avenue","timestamp":1434442722322,"sourceVid":[]}]},"city":{"value":"Concord","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"city","value":"Concord","timestamp":1434442722322,"sourceVid":[]}]},"timezone":{"value":"America/Los_Angeles","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"timezone","value":"America/Los_Angeles","timestamp":1434442722322,"sourceVid":[]}]},"facebook_company_page":{"value":"https://www.facebook.com/1190AMWLIB","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"facebook_company_page","value":"https://www.facebook.com/1190AMWLIB","timestamp":1434442722322,"sourceVid":[]}]},"createdate":{"value":"1434442722261","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"createdate","value":"1434442722261","timestamp":1434442722261,"sourceVid":[]}]},"description":{"value":"description","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"description","value":"description","timestamp":1434442722261,"sourceVid":[]}]},"linkedin_company_page":{"value":"http://www.linkedin.com/company/3129823","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"linkedin_company_page","value":"http://www.linkedin.com/company/3129823","timestamp":1434442722322,"sourceVid":[]}]},"twitterhandle":{"value":"UncorkdArt","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"twitterhandle","value":"UncorkdArt","timestamp":1434442722322,"sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1434442722459","timestamp":1434442722459,"source":null,"sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1434442722459","timestamp":1434442722459,"sourceVid":[]}]},"phone":{"value":"1.925.682.3740","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"phone","value":"1.925.682.3740","timestamp":1434442722322,"sourceVid":[]}]},"annualrevenue":{"value":"1000000000","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"annualrevenue","value":"1000000000","timestamp":1434442722322,"sourceVid":[]}]},"domain":{"value":"example.com","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"domain","value":"example.com","timestamp":1434442722261,"sourceVid":[]}]},"founded_year":{"value":"1996","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"founded_year","value":"1996","timestamp":1434442722322,"sourceVid":[]}]},"is_public":{"value":"false","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"is_public","value":"false","timestamp":1434442722322,"sourceVid":[]}]},"name":{"value":"name","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"name","value":"name","timestamp":1434442722261,"sourceVid":[]}]},"state":{"value":"California","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"state","value":"California","timestamp":1434442722322,"sourceVid":[]}]},"linkedinbio":{"value":"Ringalytics
        is an advertising platform for playing interactive audio-based ads on telephone
        calls. On the supply side, we help publishers of business directory information
        monetize phone calls originating from their sites. On the demand side, we
        offer the engagement of a captive play audio ad combined with the targeting
        efficacy of web based advertising, and layer on top of this interactive SMS
        capabilities for response-focused marketers.[...]
