---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1405347851360,"vid":154835,"canonical-vid":154835,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNJu56Masvy-UGew0va-sSwlbSvfM2QxK1J7sd52Qci-gZCHybsgFoIwqgvmHq9f01ywtMLA6vB131sFPFEpkGAvl-bvEJ0ZB9xzpVbPkYVRmHfFIU3q9WfOStV1IMYOqGL9wYl","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mNJu56Masvy-UGew0va-sSwlbSvfM2QxK1J7sd52Qci-gZCHybsgFoIwqgvmHq9f01ywtMLA6vB131sFPFEpkGAvl-bvEJ0ZB9xzpVbPkYVRmHfFIU3q9WfOStV1IMYOqGL9wYl/","properties":{"firstname":{"value":"HubSpot"},"lastmodifieddate":{"value":"1414183315068"},"lastname":{"value":"Test"}},"form-submissions":[{"conversion-id":"b18f9fd8-b8d3-49e5-898a-ac301fac93e9","timestamp":1405347851180,"form-id":"b844ad5e-32bd-41e1-b0e6-ed990c5f3d1b","portal-id":62515,"page-url":"http://demo.hubapi.com/your-stunning-headline-30","page-title":"Your
        stunning headline!","page-id":"324527","title":"My New Form","meta-data":[]}],"identity-profiles":[{"vid":154835,"saved-at-timestamp":1405347851237,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"test@hubspot.com","timestamp":1405347851180},{"type":"LEAD_GUID","value":"c8f20860-d3d6-4b57-b092-86a07cebdcbc","timestamp":1405347851237}]}],"merge-audits":[]},{"addedAt":1390569372731,"vid":196181,"canonical-vid":196181,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMIvDKHrvpwOBJZFyPEfOShYcO5PwUtJl0kwaIpsdPv533R18vJiH0w5yHk8LrLBCMVyKkRqgRKYkEUcaLmsZwIjwpjy-WLoGBWK1Gurw-sfAbZCeQ1ICgoEN5rM_PO1_dIye-H","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMIvDKHrvpwOBJZFyPEfOShYcO5PwUtJl0kwaIpsdPv533R18vJiH0w5yHk8LrLBCMVyKkRqgRKYkEUcaLmsZwIjwpjy-WLoGBWK1Gurw-sfAbZCeQ1ICgoEN5rM_PO1_dIye-H/","properties":{"firstname":{"value":"Charles"},"lastmodifieddate":{"value":"1414183318111"},"company":{"value":""},"lastname":{"value":"Gowland"}},"form-submissions":[],"identity-profiles":[{"vid":196181,"saved-at-timestamp":1390569372649,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"clg@gburnette.com","timestamp":1390568711002},{"type":"LEAD_GUID","value":"dca0d8a2-fa9c-4ca6-b5ef-c1bfb4a0bed4","timestamp":1390569372636}]}],"merge-audits":[]},{"addedAt":1390569372834,"vid":196182,"canonical-vid":196182,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"A[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=2&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1405347851360,"vid":154835,"canonical-vid":154835,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-tok[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=1&hapikey=demo&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1405347851360,"vid":154835,"canonical-vid":154835,"merged-vids":[],"portal-id":62515,"is-contact":true,"pr[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=1&hapikey=demo&vid-offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1405347851360,"vid":154835,"canonical-vid":154835,"merged-vids":[],"portal-id":62515,"is-contact":true[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=1&hapikey=demo&vidOffset=154835
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1390569372731,"vid":196181,"canonical-vid":196181,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMN_5UTisMlYNPPYlhtxjNSaNd6gmtkpeCjXH_qREthy25LLaY4OOsA7cdXTLqM5mrxcU0jFZ33ym4cUvjNRbYi_h8h80esdoyxw_w0-tfzqFwPgT8t8S03dBASBcxR68M4q52G","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMN_5UTisMlYNPPYlhtxjNSaNd6gmtkpeCjXH_qREthy25LLaY4OOsA7cdXTLqM5mrxcU0jFZ33ym4cUvjNRbYi_h8h80esdoyxw_w0-tfzqFwPgT8t8S03dBASBcxR68M4q52G/","properties":{"firstname":{"value":"Charles"},"lastmodifieddate":{"value":"1414183318111"},"company":{"value":""},"lastname":{"value":"Gowland"}},"form-submissions":[],"identity-profiles":[{"vid":196181,"saved-at-timestamp":1390569372649,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"clg@gburnette.com","timestamp":1390568711002},{"type":"LEAD_GUID","value":"dca0d8a2-fa9c-4ca6-b5ef-c1bfb4a0bed4","timestamp":1390569372636}]}],"merge-audits":[]}],"has-more":true,"vid-offset":196181}'
  recorded_at: Sat, 10 Jan 2015 14:58:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"metaData":{"processing":"DONE","size":3355,"error":"","lastProcessingStateChangeAt":1335448864306,"lastSizeChangeAt":1424402567742},"name":"twitterers","dynamic":true,"filters":[[{"property":"twitterhandle","operator":"IS_NOT_EMPTY","withinTimeMode":"PAST"}]],"listType":"DYNAMIC","portalId":62515,"createdAt":1335448813688,"listId":1,"updatedAt":1335448813688,"internalListId":1},{"metaData":{"processing":"DONE","size":4,"error":"","lastProcessingStateChangeAt":1336673990262,"lastSizeChangeAt":1418738702960},"name":"HubSpot-HootSuite
        App","dynamic":false,"filters":[[{"property":"twitterhandle","operator":"IS_NOT_EMPTY","withinTimeMode":"PAST"}]],"portalId":62515,"createdAt":1336673951299,"listId":2,"updatedAt":1336673951299,"internalListId":2},{"metaData":{"processing":"DONE","size":5,"error":"","lastProcessingStateChangeAt":1344891893390,"lastSizeChangeAt":14[...]
