---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":137460646,"companies":[{"portalId":62515,"companyId":115200636,"isDeleted":false,"properties":{"name":
        {"sourceId": "name", "timestamp": 1464484587592, "versions": [{"name": "name",
        "sourceId": "name", "timestamp": 1464484587592, "value": "Example Company",
        "source": "BIDEN", "sourceVid": [] } ], "value": "Example Company", "source":
        "BIDEN"}},"additionalDomains":[],"stateChanges":[]},{"portalId":62515,"companyId":115279791,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[]},{"portalId":62515,"companyId":115329486,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[]},{"portalId":62515,"companyId":115954806,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[]},{"portalId":62515,"companyId":116011506,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[]},{"portalId":62515,"companyId":11[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=demo&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":115279791,"companies":[{"portalId":62515,"companyId":115200636,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[]},{"portalId":62515,"companyId":115279791,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[]}]}'
  recorded_at: Thu, 25 May 2017 19:11:27 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=demo&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":2,"companies":[{"portalId":62515,"companyId":115200636,"isDeleted":false,"properties":{},"additionalDomains":[],"stateCha[...]
