---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/automation/v3/workflows?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2BA03334E84BF93B65F22E19F21441485C1914D4E2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"workflows":[{"type":"DRIP_DELAY","name":"New Workflow","id":2325759,"enabled":false,"updateSource":{"sourceApplication":{"source":"WORKFLOWS_APP","serviceName":"https://app.hubspot.com/workflows/62515"},"updatedByUser":{"userId":215482,"userEmail":"testapi@hubspot.com"},"updatedAt":1510086175105},"creationSource":{"sourceApplication":{"source":"WORKFLOWS_APP","serviceName":"https://app.hubspot.com/workflows/62515"},"createdByUser":{"userId":215482,"userEmail":"testapi@hubspot.com"},"createdAt":1510086175104},"originalAuthorUserId":215482,"insertedAt":1510086175105,"updatedAt":1510086175105,"lastUpdatedByUserId":215482,"contactListIds":{"enrolled":299452,"active":299453,"steps":[]},"contactCounts":{"active":0,"enrolled":0},"personaTagIds":[]},{"type":"DRIP_DELAY","name":"Test","id":2349483,"enabled":false,"updateSource":{"sourceApplication":{"source":"WORKFLOWS_APP","serviceName":"https://app.hubspot.com/workflows/62515/flow/2349483/edit"},"updatedByUser":{"userId":215482,"userEmail":"testapi@hubspot.com"},"updatedAt":1510718106596},"creationSource":{"sourceApplication":{"source":"WORKFLOWS_APP","serviceName":"https://app.hubspot.com/workflows/62515"},"createdByUser":{"userId":215482,"userEmail":"testapi@hubspot.com"},"createdAt"[...]
- request:
    method: get
    uri: https://api.hubapi.com/automation/v3/workflows?hapikey=demo&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2BBAB5A9ACB79BBF815839515CC69A27FEE8E3420B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"workflows":[{"type":"DRIP_DELAY","name":"New Workflow","id":232[...]
