---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/dynamic?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"twitterers","metaData":{"size":3355,"error":"","processing":"DONE","lastProcessingStateChangeAt":1335448864306,"lastSizeChangeAt":1424402567742},"dynamic":true,"portalId":62515,"createdAt":1335448813688,"listId":1,"internalListId":1,"filters":[[{"property":"twitterhandle","operator":"IS_NOT_EMPTY","withinTimeMode":"PAST"}]],"updatedAt":1335448813688,"listType":"DYNAMIC"},{"name":"stuff","metaData":{"size":0,"error":"","processing":"DONE","lastProcessingStateChangeAt":1352457865767,"lastSizeChangeAt":1356047577025},"dynamic":true,"portalId":62515,"createdAt":1345150315056,"listId":5,"internalListId":111,"filters":[[{"property":"email","value":"venky10596@gmail.com","type":"string","operator":"EQ","withinTimeMode":"PAST"}]],"updatedAt":1352457795448,"listType":"DYNAMIC"},{"name":"VP
        From LS","metaData":{"size":0,"error":"","processing":"DONE","lastProcessingStateChangeAt":1353112579422,"lastSizeChangeAt":1379278698150},"dynamic":true,"portalId":62515,"createdAt":1353112478149,"listId":123,"internalListId":128,"filters":[[{"property":"created_from_learning_studio","value":"true","type":"enumeration","operator":"SET_EQ","withinTimeMode":"PAST"}]],"updatedAt"[...]
