---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"dealId":1245777,"isDeleted":false,"associations":{"associatedVids":[259323],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"goanimatesubscriptionplan":{"value":"GoPremium
        - 1 month","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"goanimatesubscriptionplan","value":"GoPremium
        - 1 month","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"dealname":{"value":"1420787916-gou2rzdgjzx2@u2rzdgjzx2.com","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"1420787916-gou2rzdgjzx2@u2rzdgjzx2.com","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"amount":{"value":"0","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"0","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1420787917686","timestamp":1420787917692,"source":null,"sourceId":null,"versions":[{"name":"createdate","value":"1420787917686","timestamp":1420787917692,"sourceVid":[]}]},"subscription_expiration":{"value":"02/10/2015","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"subscription_expiration","value":"02/10/2015","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"goteam_role":{"value":"","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"goteam_role","value":"","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"have_a_coupon_code_":{"value":"YES","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"have_a_coupon_code_","value":"YES","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"autorenew":{"value":"ON","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"autorenew","value":"ON","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1420787917686","timestamp":1420787917692,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1420787917686","timestamp":1420787917692,"source":"CALCULATED","sourceVid":[]}]},"dealstage":{"value":"closedwon","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"dealstage","value":"closedwon","timestamp":1420787917692,"source":"API","sourceVid":[]}]},"hs_createdate":{"value":"1420787917686","timestamp":1420787917692,"source":null,"sourceId":null,"versions":[{"name":"hs_createdate","value":"1420787917686","timestamp":1420787917692,"sourceVid":[]}]},"goteam_size":{"value":"0","timestamp":1420787917692,"source":"API","sourceId":null,"versions":[{"name":"goteam_size","value":"0","timestamp":1420787917692,"source":"API","sourceVid":[]}]}}},{"portalId":62515,"dealId":1390526,"isDeleted":false,"associations":{"associatedVids":[259249],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"goanimatesubscriptionplan":{"value":"GoPremium
        - 3 months","timestamp":1420704408848,"source":"API","sourceId":null,"versions":[{"name":"goanimatesubscript[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?count=2&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"dealId":1245777,"isDeleted":false,"associations":{"associatedVids":[259323],"associatedCompanyIds":[],"associated[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?count=1&hapikey=demo&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"dealId":1390526,"isDeleted":false,"associations":{"associatedVids":[259249],"associatedCompanyIds":[],"a[...]
