---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1335448864306,"error":"","lastSizeChangeAt":1424402567742,"size":3355},"dynamic":true,"listType":"DYNAMIC","listId":1,"filters":[[{"operator":"IS_NOT_EMPTY","withinTimeMode":"PAST","property":"twitterhandle"}]],"portalId":62515,"createdAt":1335448813688,"updatedAt":1335448813688,"internalListId":1,"name":"twitterers"},{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1336673990262,"error":"","lastSizeChangeAt":1418738702960,"size":4},"dynamic":false,"listId":2,"filters":[[{"operator":"IS_NOT_EMPTY","withinTimeMode":"PAST","property":"twitterhandle"}]],"portalId":62515,"createdAt":1336673951299,"updatedAt":1336673951299,"internalListId":2,"name":"HubSpot-HootSuite
        App"},{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1344891893390,"error":"","lastSizeChangeAt":1422468593853,"size":5},"dynamic":false,"listType":"STATIC","listId":3,"filters":[],"portalId":62515,"createdAt":1344891893390,"updatedAt":1344891893390,"internalListId":5,"name":"staticTest"},{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1345057450679,"error":"","lastSizeChangeAt":1421930685051,"size":2},"dynamic":false,"listType":"STATIC","listId":4,"filters":[],"portalId":62515,"createdAt":1345057450679,"updatedAt":1345057450679,"internalListId":6,"name":"Workface
        Leads"},{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1352457865767,"error":"","lastSizeChangeAt":1356047577025,"size":0},"dynamic":true,"listType":"DYNAMIC","listId":5,"filters":[[{"type":"string","operator":"EQ","withinTimeMode":"PAST","property":"email","value":"venky10596@gmail.com"}]],"portalId":62515,"createdAt":1345150315056,"updatedAt":1352457795448,"internalListId":111,"name":"stuff"},{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1412965644048,"error":"","lastSizeChangeAt":1412965644007,"size":1134},"dynamic":false,"listType":"STATIC","deleted":false,"listId":106,"filters":[],"portalId":62515,"createdAt":1348730165681,"updatedAt":1348730165681,"internalListId":108,"name":"test1.csv"},{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1353112579422,"error":"","lastSizeChangeAt":1379278698150,"size":0},"dynamic":true,"listType":"DYNAMIC","listId":123,"filters":[[{"type":"enumeration","operator":"SET_EQ","withinTimeMode":"PAST","property":"created_from_learning_studio","value":"true"}]],"portalId":62515,"createdAt":13531124781[...]
