---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/forms/8291bdd1-0681-4d99-b5f7-76ffffb4f98d?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"guid":"8291bdd1-0681-4d99-b5f7-76ffffb4f98d","name":"Demo Form 1424708546","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","fields":[],"submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1424708546415,"updatedAt":1424708546415,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"embeddedCode":"<script
        charset=\"utf-8\" src=\"http://js.hubspot.com/forms/current.js\"></script>\n<script>\n  hbspt.forms.create({\n    portalId:
        ''62515'',\n    formId: ''8291bdd1-0681-4d99-b5f7-76ffffb4f98d''\n  });\n</script>"}'
  recorded_at: Mon, 23 Feb 2015 16:32:30 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/8291bdd1-0681-4d99-b5f7-76ffffb4f98d?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"No form found with guid ''8291bdd1-0681-4d99-b5f7-76ffffb4f98d''","correlationId":"f2878f23-ebbc-4140-b945-7915d74465b9","type":"NOT_FOUND","requestId":"74c0dc73-c0ab-4c78-9460-bf7537d922b5"}'
  recorded_at: Thu, 16 Jun 2016 22:44:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/beb92950-ca65-4daf-87ae-a42c054e429f?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"beb92950-ca65-4daf-87ae-a42c054e429f","name":"Demo
        Form 1466117050","action":"","method":"POST","cssClass":"hs-form stacked","redirect":"","submitText":"Sign
        Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1466117050301,"updatedAt":1466117050301,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","socialLoginEnabled":false,"socialLoginTypes":[],"tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"visible":true,"formType":"HUBSPOT"}'
  recorded_at: Thu, 16 Jun 2016 23:33:34 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/forms/v2/forms/beb92950-ca65-4daf-87ae-a42c054e429f?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 16 Jun 2016 23:33:35 GMT
recorded_with: VCR 2.4.0
