---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/forms/561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"guid":"561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0","name":"Test Example
        Form","action":"","method":"POST","cssClass":"hs-form stacked","redirect":"http://developers.hubspot.com/","fields":[{"name":"firstname","label":"First
        Name","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":0,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":""},{"name":"lastname","label":"Last
        Name","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":""},{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":2,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"email","message":"Please
        enter a valid email address","data":"","useDefaultBlockList":false},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":""}],"submitText":"Submit","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1366835347235,"updatedAt":1404737770155,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"embeddedCode":"<script
        charset=\"utf-8\" src=\"http://js.hubspot.com/forms/current.js\"></script>\n<script>\n  hbspt.forms.create({\n    portalId:
        ''62515'',\n    formId: ''561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0''\n  });\n</script>"}'
  recorded_at: Mon, 23 Feb 2015 14:32:26 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/forms/-1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"No form found with guid ''-1''","type":"NOT_FOUND","requestId":"e319b127-f054-485f-bb76-15ddd69f7286"}'
  recorded_at: Mon, 23 Feb 2015 14:32:27 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0","name":"updated
        form name 1424709912","action":"","method":"","cssClass":"","redirect":"http://hubspot.com","submitText":"","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":0,"updatedAt":1466116632531,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","socialLoginEnabled":false,"socialLoginTypes":[],"tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"visible":true,"formType":"HUBSPOT"}'
  recorded_at: Thu, 16 Jun 2016 22:44:09 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 16 Jun 2016 22:44:09 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/-1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"No form found with guid ''-1''","correlationId":"6490817e-7708-4bab-aae1-e6e1bfe8f8d6","type":"NOT_FOUND","requestId":"768d826e-8424-42bb-b1fd-a8b3e9b537cc"}'
  recorded_at: Thu, 16 Jun 2016 22:44:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/78c2891f-ebdd-44c0-bd94-15c012bbbfbf?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"78c2891f-ebdd-44c0-bd94-15c012bbbfbf","name":"excedalogic
        form","action":"excedalogic.com/default.aspx?test=test","method":"POST","cssClass":"classic
        stacked","redirect":"excedalogic.com","submitText":"","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[{"fields":[{"name":"sb_pres_name","label":"SlideBear
        Presentation Name","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false},{"name":"campaignid","label":"AudienceCampaignID","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false},{"name":"abandonedproducturl1","label":"AbandonedProductURL1","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false}],"default":true,"isSmartGroup":false,"richText":{"content":""}},{"fields":[{"name":"campaignextractid","label":"AudienceCampaignExtractID","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false},{"name":"abandonedproductu[...]
[...]
