---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/78c2891f-ebdd-44c0-bd94-15c012bbbfbf/?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"78c2891f-ebdd-44c0-bd94-15c012bbbfbf","name":"excedalogic
        form","action":"excedalogic.com/default.aspx?test=test","method":"POST","cssClass":"classic
        stacked","redirect":"excedalogic.com","submitText":"","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[{"fields":[{"name":"sb_pres_name","label":"SlideBear
        Presentation Name","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false},{"name":"campaignid","label":"AudienceCampaignID","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false},{"name":"abandonedproducturl1","label":"AbandonedProductURL1","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false}],"default":true,"isSmartGroup":false,"richText":{"content":""}},{"fields":[{"name":"campaignextractid","label":"AudienceCampaignExtractID","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false},{"name":"abandonedproductu[...]
