---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/1/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B3419610968BDABD048CD6E59C94F6FE0D4E422C1000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979454'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"canonical vid is not a valid contact or
        is already in the process of being merged","correlationId":"07183c3f-3867-4a1c-b264-c3680ed82231","requestId":"4a37890c8fc6c30556da6644b72f7e7b"}'
  recorded_at: Sat, 04 May 2019 14:44:44 GMT
recorded_with: VCR 4.0.0
