---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Pfeffer LLC"},{"name":"domain","value":"roob.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4BB1F40E65327D3B44172FE8F3962AECEC0A2D60000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979563'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897430239,"isDeleted":false,"properties":{"website":{"value":"roob.net","timestamp":1556981027520,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"roob.net","timestamp":1556981027520,"source":"CALCULATED","sourceVid":[],"requestId":"6eb82c14-f270-400c-bd52-ddeac0125f24"}]},"hs_lastmodifieddate":{"value":"1556981027520","timestamp":1556981027520,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981027520","timestamp":1556981027520,"source":"CALCULATED","sourceVid":[],"requestId":"6eb82c14-f270-400c-bd52-ddeac0125f24"}]},"domain":{"value":"roob.net","timestamp":1556981027520,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"roob.net","timestamp":1556981027520,"source":"API","sourceVid":[],"requestId":"6eb82c14-f270-400c-bd52-ddeac0125f24"}]},"name":{"value":"Pfeffer
        LLC","timestamp":1556981027520,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Pfeffer
        LLC","timestamp":1556981027520,"source":"API","sourceVid":[],"requestId":"6eb82c14-f270-400c-bd52-ddeac0125f24"}]},"createdate":{"value":"1556981027520","timestamp":1556981027520,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981027520","timestamp":1556981027520,"source":"API","sourceVid":[],"requestId":"6eb82c14-f270-400c-bd52-ddeac0125f24"},{"name":"createdate","value":"1556981027520","timestamp":1556981027520,"sourceId":"API","source":"API","sourceVid":[],"requestId":"6eb82c14-f270-400c-bd52-ddeac0125f24"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:47 GMT
recorded_with: VCR 4.0.0
