---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Korey"},{"property":"lastname","value":"Hauck"},{"property":"email","value":"81058wmml@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B61EB4DDB3C5887D91ABB6AAD9B47FC5F8139B25B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979510'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":12052874,"canonical-vid":12052874,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPoH_CoMSQdN7dCSKUkZE-BZW6FuLPPBCFrmVGGZJK1D1wg1bzlnWbMsJxZq0axaMnwDSqeTiGLJFc4OTeofl5TQt82YWnQptSXKx2n_yiOVTiimWrrhib45phlEzMaFDChWGY3","profile-url":"https://app.hubspot.com/contacts/62515/contact/12052874","properties":{"firstname":{"value":"Korey","versions":[{"value":"Korey","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981058742,"selected":false}]},"email":{"value":"81058wmml@example.org","versions":[{"value":"81058wmml@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981058742,"selected":false}]},"lastname":{"value":"Hauck","versions":[{"value":"Hauck","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981058742,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12052874,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81058wmml@example.org","timestamp":1556981058748,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"96e47943-bcdc-457a-927e-df70da8b7993","timestamp":1556981058759,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dietrich, Hackett and Metz"},{"name":"domain","value":"krajcik.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B846EAC873021072E679859F4A0B23298C04D65F1000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979509'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897447169,"isDeleted":false,"properties":{"website":{"value":"krajcik.info","timestamp":1556981059222,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"krajcik.info","timestamp":1556981059222,"source":"CALCULATED","sourceVid":[],"requestId":"e7fe7c6d-f370-47f5-a995-ad735c8111a9"}]},"hs_lastmodifieddate":{"value":"1556981059222","timestamp":1556981059222,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981059222","timestamp":1556981059222,"source":"CALCULATED","sourceVid":[],"requestId":"e7fe7c6d-f370-47f5-a995-ad735c8111a9"}]},"domain":{"value":"krajcik.info","timestamp":1556981059222,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"krajcik.info","timestamp":1556981059222,"source":"API","sourceVid":[],"requestId":"e7fe7c6d-f370-47f5-a995-ad735c8111a9"}]},"name":{"value":"Dietrich,
        Hackett and Metz","timestamp":1556981059222,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Dietrich,
        Hackett and Metz","timestamp":1556981059222,"source":"API","sourceVid":[],"requestId":"e7fe7c6d-f370-47f5-a995-ad735c8111a9"}]},"createdate":{"value":"1556981059222","timestamp":1556981059222,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981059222","timestamp":1556981059222,"source":"API","sourceVid":[],"requestId":"e7fe7c6d-f370-47f5-a995-ad735c8111a9"},{"name":"createdate","value":"1556981059222","timestamp":1556981059222,"sourceId":"API","source":"API","sourceVid":[],"requestId":"e7fe7c6d-f370-47f5-a995-ad735c8111a9"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:19 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/1897447169/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0496D14143A666F85D074C17921DBC98D64B9998000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979508'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Sat, 04 May 2019 14:44:20 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1897447169/contacts/12052874?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4253E135FEA260CC808FFFE0E5D51092239637FF000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '100[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/1897447169/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B3E13C64F71CCCBBEF6D3C2655F9E1A8A9371D3E1000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979505'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"vids":[12052874],"vidOffset":12052874,"hasMore":false}'
  recorded_at: Sat, 04 May 2019 14:44:20 GMT
recorded_with: VCR 4.0.0
