---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B49840C0D5562833448F7B5EAE9431B8696BAF168000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979542'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897466917,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1556981036758","timestamp":1556981036758,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981036758","timestamp":1556981036758,"source":"CALCULATED","sourceVid":[],"requestId":"86bf9b24-4e4d-4285-9669-20885e5c1c0b"}]},"createdate":{"value":"1556981036758","timestamp":1556981036758,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981036758","timestamp":1556981036758,"source":"API","sourceVid":[],"requestId":"86bf9b24-4e4d-4285-9669-20885e5c1c0b"},{"name":"createdate","value":"1556981036758","timestamp":1556981036758,"sourceId":"API","source":"API","sourceVid":[],"requestId":"86bf9b24-4e4d-4285-9669-20885e5c1c0b"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:56 GMT
recorded_with: VCR 4.0.0
