---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Swift, Kirlin and Schoen"},{"name":"domain","value":"hammes.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249694'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":2606282040,"isDeleted":false,"properties":{"website":{"value":"hammes.org","timestamp":1574267987219,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"hammes.org","timestamp":1574267987219,"source":"CALCULATED","sourceVid":[],"requestId":"c6ea7765-01f7-4f90-946e-861f19840f76"}]},"hs_lastmodifieddate":{"value":"1574267987219","timestamp":1574267987219,"source":"CALCULATED","sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","versions":[{"name":"hs_lastmodifieddate","value":"1574267987219","timestamp":1574267987219,"sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","source":"CALCULATED","sourceVid":[],"requestId":"c6ea7765-01f7-4f90-946e-861f19840f76"}]},"domain":{"value":"hammes.org","timestamp":1574267987219,"source":"API","sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","versions":[{"name":"domain","value":"hammes.org","timestamp":1574267987219,"sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","source":"API","sourceVid":[],"requestId":"c6ea7765-01f7-4f90-946e-861f19840f76"}]},"hs_object_id":{"value":"2606282040","timestamp":1574267987219,"source":"API","sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","versions":[{"name":"hs_object_id","value":"2606282040","timestamp":1574267987219,"sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","source":"API","sourceVid":[],"requestId":"c6ea7765-01f7-4f90-946e-861f19840f76"}]},"name":{"value":"Swift,
        Kirlin and Schoen","timestamp":1574267987219,"source":"API","sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","versions":[{"name":"name","value":"Swift,
        Kirlin and Schoen","timestamp":1574267987219,"sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","source":"API","sourceVid":[],"requestId":"c6ea7765-01f7-4f90-946e-861f19840f76"}]},"createdate":{"value":"1574267987219","timestamp":1574267987219,"source":"API","sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","versions":[{"name":"createdate","value":"1574267987219","timestamp":1574267987219,"sourceId":"c6ea7765-01f7-4f90-946e-861f19840f76","source":"API","sourceVid":[],"requestId":"c6ea7765-01f7-4f90-946e-861f19840f76"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 20 Nov 2019 16:39:47 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Buck"},{"property":"lastname","value":"Haley"},{"property":"email","value":"cole@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249693'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"vid":73351,"canonical-vid":73351,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNX7E6s7Hhk74vtYbEO5_hVexUvMIOu0JA3aekLC4Koti0rvSRBwq4lwPBuXfp1IrgHh9v8tRh2i6Ykx5sucMXc4Z83OaLScJSxMsDSTU2hMNhnyOI52ZPoetnpS_BkkEAIDGRT","profile-url":"https://app.hubspot.com/contacts/62515/contact/73351","properties":{"firstname":{"value":"Buck","versions":[{"value":"Buck","source-type":"API","source-id":null,"source-label":null,"timestamp":1574267987639,"selected":false}]},"email":{"value":"cole@example.net","versions":[{"value":"cole@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1574267987639,"selected":false}]},"lastname":{"value":"Haley","versions":[{"value":"Haley","source-type":"API","source-id":null,"source-label":null,"timestamp":1574267987639,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":73351,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"cole@example.net","timestamp":1574267987646,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"80ea1486-2c9b-4dcf-b711-0bc51fd81f95","timestamp":1574267987660,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 20 Nov 2019 16:39:48 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[2606282040],"associatedVids":[73351]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249692'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":1188816845,"isDeleted":false,"associations":{"associatedVids":[73351],"associatedCompanyIds":[2606282040],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"hs_closed_amount":{"value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"hs_lastmodifieddate":{"value":"1574267988266","timestamp":1574267988266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1574267988266","timestamp":1574267988266,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1574267988266","timestamp":1574267988266,"source":"API","sourceId":"","versions":[{"name":"hs_createdate","value":"1574267988266","timestamp":1574267988266,"sourceId":"","source":"API","sourceVid":[]}]},"hs_object_id":{"value":"1188816845","timestamp":1574267988266,"source":"API","sourceId":null,"versions":[{"name":"hs_object_id","value":"1188816845","timestamp":1574267988266,"source":"API","sourceVid":[]}]},"createdate":{"value":"1574267988266","timestamp":1574267988266,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1574267988266","timestamp":1574267988266,"source":"API","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"hs_deal_stage_probability":{"value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_deal_stage_probability","value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"days_to_close":{"value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1574267988266,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Wed, 20 Nov 2019 16:39:48 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":1188816845,"toObjectId":1234,"category":"HUBSPOT_DEFINED","definitionId":3},{"fromObjectId":1188816845,"toObjectId":2606282040,"category":"HUBSPOT_DEFINED","definitionId":5}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249691'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Nov 2019 16:39:48 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/1188816845?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249690'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000[...]
