---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Benny"},{"property":"lastname","value":"Bauch"},{"property":"email","value":"81077wdhn@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B66677D5EF9BDA96F7156B810363524668C1DDB59000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979469'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":12053574,"canonical-vid":12053574,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNhABUasU3EMnXhglJTs2axJm-lwrLPiQtxzEaLSyc0XHpXxSSn4PlyBGam42VNpxtrPhOd8g41kDZCn-FtLNKBorjqsToyR1uAbSl27Eyg4ftyC_jZc4TdueRYxNSuNr6nn3z_","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053574","properties":{"firstname":{"value":"Benny","versions":[{"value":"Benny","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981077253,"selected":false}]},"email":{"value":"81077wdhn@example.net","versions":[{"value":"81077wdhn@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981077253,"selected":false}]},"lastname":{"value":"Bauch","versions":[{"value":"Bauch","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981077253,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053574,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81077wdhn@example.net","timestamp":1556981077259,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"8524422e-0327-4a97-a0c8-e13b7498ac79","timestamp":1556981077271,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:37 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"81077wdhn@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6E398ECE38C2D93E1D2B295320FAF2633FA16B2E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979468'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"message":"Contact already exists","identityProfile":{"vid":12053574,"identity":[{"value":"81077wdhn@example.net","type":"EMAIL","timestamp":1556981077259,"isPrimary":true},{"value":"8524422e-0327-4a97-a0c8-e13b7498ac79","type":"LEAD_GUID","timestamp":1556981077271}],"linkedVid":[],"isContact":true,"savedAtTimestamp":1556981077274},"status":"error","correlationId":"80733e8e-4095-4620-ba72-61997a11360f","error":"CONTACT_EXISTS","requestId":"dd7e8720a03a817e7e429329e0173f45"}'
  recorded_at: Sat, 04 May 2019 14:44:38 GMT
recorded_with: VCR 4.0.0
