---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Homenick, Zulauf and Orn"},{"name":"domain","value":"cartwright.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B68656FBE73E150C06FEA52F53E9665B60507FA60000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979500'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897447170,"isDeleted":false,"properties":{"website":{"value":"cartwright.io","timestamp":1556981061313,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"cartwright.io","timestamp":1556981061313,"source":"CALCULATED","sourceVid":[],"requestId":"196ea9b0-4f0a-4a3b-945e-38b23497eebf"}]},"hs_lastmodifieddate":{"value":"1556981061313","timestamp":1556981061313,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981061313","timestamp":1556981061313,"source":"CALCULATED","sourceVid":[],"requestId":"196ea9b0-4f0a-4a3b-945e-38b23497eebf"}]},"domain":{"value":"cartwright.io","timestamp":1556981061313,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"cartwright.io","timestamp":1556981061313,"source":"API","sourceVid":[],"requestId":"196ea9b0-4f0a-4a3b-945e-38b23497eebf"}]},"name":{"value":"Homenick,
        Zulauf and Orn","timestamp":1556981061313,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Homenick,
        Zulauf and Orn","timestamp":1556981061313,"source":"API","sourceVid":[],"requestId":"196ea9b0-4f0a-4a3b-945e-38b23497eebf"}]},"createdate":{"value":"1556981061313","timestamp":1556981061313,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981061313","timestamp":1556981061313,"source":"API","sourceVid":[],"requestId":"196ea9b0-4f0a-4a3b-945e-38b23497eebf"},{"name":"createdate","value":"1556981061313","timestamp":1556981061313,"sourceId":"API","source":"API","sourceVid":[],"requestId":"196ea9b0-4f0a-4a3b-945e-38b23497eebf"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:21 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Markita"},{"property":"lastname","value":"Beier"},{"property":"email","value":"81061ttgd@example.com"},{"property":"associatedCompanyId","value":1897447170}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B04801128B07907AFB7565EE4DB2B8B225DD61C13000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979499'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"vid":12052924,"canonical-vid":12052924,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMuiZHPj5OGAJ9cvSCcsIvJqB1yDUIjdUo_d-W2U8YdIKnGIBE1SURplobgt4KBrWRY2SB3o58C7cGXaw3HEciq0mbZVdBGqStph1nCsWDWTHq0yF8bNYIpx9rc6jsVGuqEyfB_","profile-url":"https://app.hubspot.com/contacts/62515/contact/12052924","properties":{"firstname":{"value":"Markita","versions":[{"value":"Markita","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981061579,"selected":false}]},"associatedcompanyid":{"value":"1897447170","versions":[{"value":"1897447170","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981061579,"selected":false}]},"email":{"value":"81061ttgd@example.com","versions":[{"value":"81061ttgd@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981061579,"selected":false}]},"lastname":{"value":"Beier","versions":[{"value":"Beier","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981061579,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12052924,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81061ttgd@example.com","timestamp":1556981061590,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"126bdbe6-369b-4207-b663-d6dc0298b7bb","timestamp":1556981061607,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:21 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/1897447170/contacts/12052924?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6004F7611E6C34D6D6DF736AE2646740EA29E9ED000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979498'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 May 2019 14:44:22 GMT
recorded_with: VCR 4.0.0
