---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF7CDDB5750B2559F9912D447F5B3914A9F21DEA7000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126862'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664906148,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280279138,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280279138,"source":"CALCULATED","sourceVid":[],"requestId":"f48a1b3a-ecae-4ad1-97fc-261464091437"}]},"hs_lastmodifieddate":{"value":"1551280279138","timestamp":1551280279138,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280279138","timestamp":1551280279138,"source":"CALCULATED","sourceVid":[],"requestId":"f48a1b3a-ecae-4ad1-97fc-261464091437"}]},"domain":{"value":"padberg.biz","timestamp":1551280279138,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280279138,"source":"API","sourceVid":[],"requestId":"f48a1b3a-ecae-4ad1-97fc-261464091437"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280279138,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280279138,"source":"API","sourceVid":[],"requestId":"f48a1b3a-ecae-4ad1-97fc-261464091437"}]},"createdate":{"value":"1551280279138","timestamp":1551280279138,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280279138","timestamp":1551280279138,"source":"API","sourceVid":[],"requestId":"f48a1b3a-ecae-4ad1-97fc-261464091437"},{"name":"createdate","value":"1551280279138","timestamp":1551280279138,"sourceId":"API","source":"API","sourceVid":[],"requestId":"f48a1b3a-ecae-4ad1-97fc-261464091437"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/padberg.biz/companies?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"limit":25,"requestOptions":{},"offset":{"isPrimary":true,"companyId":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B9BC2CD9442471A844EB70598A3780197BE73CEEE000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126861'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":1664881557,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664887029,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664887030,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664895202,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664895203,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664906142,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664906146,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664906148,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664908831,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}],"hasMore":false,"offset":{"companyId":1664908831,"isPrimary":true}}'
  recorded_at: Wed, 27 Feb 2019 15:11:19 GMT
recorded_with: VCR 4.0.0
