---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/0?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2AD66FB2FD2DD7261FC60752C0FCFCE4915D75B6000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979543'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"resource not found","correlationId":"4ad5e1b3-c2b2-4793-b481-d0a5831e941d","requestId":"b7b571273c323fc7331c9515bc23a533"}'
  recorded_at: Sat, 04 May 2019 14:43:56 GMT
recorded_with: VCR 4.0.0
