---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2577E7BCF1B0D54EB42DEB94DE9F95C5EC5D0B47000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126887'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '54'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664911094,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1551280271019","timestamp":1551280271019,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280271019","timestamp":1551280271019,"source":"CALCULATED","sourceVid":[],"requestId":"59f46a19-1dd7-4f4b-ad58-825b52abffb8"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1551280271019,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1551280271019,"source":"API","sourceVid":[],"requestId":"59f46a19-1dd7-4f4b-ad58-825b52abffb8"}]},"createdate":{"value":"1551280271019","timestamp":1551280271019,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280271019","timestamp":1551280271019,"source":"API","sourceVid":[],"requestId":"59f46a19-1dd7-4f4b-ad58-825b52abffb8"},{"name":"createdate","value":"1551280271019","timestamp":1551280271019,"sourceId":"API","source":"API","sourceVid":[],"requestId":"59f46a19-1dd7-4f4b-ad58-825b52abffb8"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:11 GMT
recorded_with: VCR 4.0.0
