---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Lorinda"},{"property":"lastname","value":"Will"},{"property":"email","value":"81063wwmj@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BD4184792028274D7BBE7222F793C38A6DD0B4030000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979495'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"vid":12053074,"canonical-vid":12053074,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mP5LJVjcko2s4gnkV7PkT2tzIc7h_rtcNoktMxdqbVuWgelb5mhqwWFxY25wBDnnuhz8r7TnIKN4p22Ln5nN10yEgn_Tat6rUjfkJaLRgYhYu5he5FBmGHJFjxpemiZzKVFTdfA","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053074","properties":{"firstname":{"value":"Lorinda","versions":[{"value":"Lorinda","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981063934,"selected":false}]},"email":{"value":"81063wwmj@example.org","versions":[{"value":"81063wwmj@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981063934,"selected":false}]},"lastname":{"value":"Will","versions":[{"value":"Will","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981063934,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053074,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81063wwmj@example.org","timestamp":1556981063938,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"45774fbc-43d4-4bad-8976-337e340a4385","timestamp":1556981063952,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:24 GMT
recorded_with: VCR 4.0.0
