---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/0?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF2BF4CECD6C593D8E94419B718142BBABB003225000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979555'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a company with the ID ''0''
        in portal ''62515''","correlationId":"b5a45d72-6aae-440d-8a19-57655b3bce0a","requestId":"09af4fcf24c1891bccea019f4c21cf06"}'
  recorded_at: Sat, 04 May 2019 14:43:52 GMT
recorded_with: VCR 4.0.0
