---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0193AB18400D5B828A1F130A333E1DA3512E2BEE000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126832'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"contact does not exist","correlationId":"d32dca4b-b535-497b-86ee-458d1ff27d75","requestId":"b5c96bf7fb8536c50184a0aeb0d42cfc"}'
  recorded_at: Wed, 27 Feb 2019 15:11:36 GMT
recorded_with: VCR 4.0.0
