---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Gilbert"},{"property":"lastname","value":"Fritsch"},{"property":"email","value":"81064qxvt@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BEFC3240D861427E02B5C21ABAF85566C787A4FC1000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979492'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":12053124,"canonical-vid":12053124,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPNmQxM__95a1b2tGnHgx1_hIcD415HdFVfjmhPoKgHsYH6bmjmkXcUjzN-CojGen6rn9hyn6hmHa8zbzEUSIrD_iFrB50d5_05mAAR7c0kn2uP3mmoNZLHGC_OKg4RI7m2uOiJ","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053124","properties":{"firstname":{"value":"Gilbert","versions":[{"value":"Gilbert","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981065158,"selected":false}]},"email":{"value":"81064qxvt@example.com","versions":[{"value":"81064qxvt@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981065158,"selected":false}]},"lastname":{"value":"Fritsch","versions":[{"value":"Fritsch","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981065158,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053124,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81064qxvt@example.com","timestamp":1556981065163,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"9b4a62e6-9bf4-4d8b-a90b-5684d6060621","timestamp":1556981065178,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:25 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/12053124/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B8CA89F633FB778C450855A9AD6F453795278461A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979490'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 May 2019 14:44:26 GMT
recorded_with: VCR 4.0.0
