---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Allison"},{"property":"email","value":"pbpk81075@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B5BBA7AA36C606C359B8C5740A4B3366E82878BE0000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979471'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":12053524,"canonical-vid":12053524,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNOQIE4Vsixg05aO1tGmKlHn83spD60s7ZB54KPVBRNi61nJHPmtyUo2IKmiiS68UoqOMV1dV745eDuCOjhQb_3VxSTQlgCiFh39gPDxk1Q-LlR64xOeSf7E1cHs5aYrIXWdeHA","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053524","properties":{"firstname":{"value":"Allison","versions":[{"value":"Allison","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981075389,"selected":false}]},"email":{"value":"pbpk81075@example.net","versions":[{"value":"pbpk81075@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981075389,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053524,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"pbpk81075@example.net","timestamp":1556981075395,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ae9b3942-a6b5-4a89-8060-445616103644","timestamp":1556981075424,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:35 GMT
recorded_with: VCR 4.0.0
