---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Wilton"},{"property":"lastname","value":"Feil"},{"property":"email","value":"81082mgci@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BB5220B884C8126572E04CCA9330BF6726AFC9CDD000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979457'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":12053724,"canonical-vid":12053724,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPbG7VUFPhZZ2VoDssCA51-xgsBRBZmZDJWkKv9oc0Oiz8nUcevLFp5i_t_WH8AnDZ7p-_o4b0f0gh4DSlyS-jtNbM0fUsJOQRfcTcTJeu0nPY5y1OYhK_ujoWWWVHW5xG-5hIW","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053724","properties":{"firstname":{"value":"Wilton","versions":[{"value":"Wilton","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981082670,"selected":false}]},"email":{"value":"81082mgci@example.net","versions":[{"value":"81082mgci@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981082670,"selected":false}]},"lastname":{"value":"Feil","versions":[{"value":"Feil","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981082670,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053724,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81082mgci@example.net","timestamp":1556981082675,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"cf185d50-d480-4d3f-9519-4d21d5bb3cdb","timestamp":1556981082686,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:43 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/12053724/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":12053774}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BB7755B34D4AA482A8CC030A9A29584A46BE4F105000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979455'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Sat, 04 May 2019 14:44:44 GMT
recorded_with: VCR 4.0.0
