---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Eli"},{"property":"lastname","value":"Hudson"},{"property":"email","value":"31427zmjg@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF2CA8CB4F72A7F73CF03211092B95BF353E7A1ED000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122775'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11654624,"canonical-vid":11654624,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOET5-J69Q33QMZZNTb3n3SDossqA522i9B0XgPbdgZTCMh489gY5P_vRXQuQva4rlXu6lYhzA7Y4yc2LfZkvdzWdf7NLTOgc9QYVoXvOe_1o92Td3eZIAE3YW50EApPsuxFhHb","profile-url":"https://app.hubspot.com/contacts/62515/contact/11654624","properties":{"firstname":{"value":"Eli","versions":[{"value":"Eli","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231428073,"selected":false}]},"email":{"value":"31427zmjg@example.com","versions":[{"value":"31427zmjg@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231428073,"selected":false}]},"lastname":{"value":"Hudson","versions":[{"value":"Hudson","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231428073,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11654624,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"31427zmjg@example.com","timestamp":1552231428076,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"96a63b1a-3ff4-43d8-91c6-d2d2a5560eb7","timestamp":1552231428088,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:23:48 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/11654624/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":11654674}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B609909DA4EB477AE4C1194C21C36FBE99CB282FF000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122773'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Sun, 10 Mar 2019 15:23:49 GMT
recorded_with: VCR 4.0.0
