---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Allison"},{"property":"email","value":"coyu81074@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B957F814E2FC1E1BC5FD037CCF125F11DB9E60C72000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979472'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"vid":12053474,"canonical-vid":12053474,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPruc891sE0l71v2l2HUUgbyGNctPsaXwWSm9pvj94jmQ-Z3SVNeZ3H-xa7kzZfzq66x5T2MyvRqQFBm0b6ZF4cHTFvOaR2fJgV6NZnUEYML_4t0dLdaq04_KzI9pcdKPNQREzs","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053474","properties":{"firstname":{"value":"Allison","versions":[{"value":"Allison","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981074987,"selected":false}]},"email":{"value":"coyu81074@example.org","versions":[{"value":"coyu81074@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981074987,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053474,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"coyu81074@example.org","timestamp":1556981074992,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"66e5e8fa-38f0-4d00-87ac-d9a6a50f066b","timestamp":1556981075005,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:35 GMT
recorded_with: VCR 4.0.0
