---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"an_invalid_email"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7555C3D358697DE3CFFFDE352250EC8F56D8821A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122567'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"validationResults":[{"isValid":false,"message":"Email address an_invalid_email
        is invalid","error":"INVALID_EMAIL","name":"email"}],"status":"error","message":"Property
        values were not valid","correlationId":"59374b00-5910-4141-b070-12241ce70142","requestId":"257b53dd82039b94629f3a229373917d"}'
  recorded_at: Sun, 10 Mar 2019 15:33:56 GMT
recorded_with: VCR 4.0.0
