---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2494443C6E5152D27C7BBA505A47DFDFCA09E7A4000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126884'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664906141,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1551280271601","timestamp":1551280271601,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280271601","timestamp":1551280271601,"source":"CALCULATED","sourceVid":[],"requestId":"87c57473-58bf-4986-834e-6ab442f110f0"}]},"createdate":{"value":"1551280271601","timestamp":1551280271601,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280271601","timestamp":1551280271601,"source":"API","sourceVid":[],"requestId":"87c57473-58bf-4986-834e-6ab442f110f0"},{"name":"createdate","value":"1551280271601","timestamp":1551280271601,"sourceId":"API","source":"API","sourceVid":[],"requestId":"87c57473-58bf-4986-834e-6ab442f110f0"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:11 GMT
recorded_with: VCR 4.0.0
