---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Boyer-Schmitt"},{"name":"domain","value":"emmerich.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBADF6AE279DD3AA153F4BA59C7F44D5289AE209A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979533'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897515214,"isDeleted":false,"properties":{"website":{"value":"emmerich.info","timestamp":1556981038830,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"emmerich.info","timestamp":1556981038830,"source":"CALCULATED","sourceVid":[],"requestId":"ed928aae-a285-4c41-99dc-5f8582014069"}]},"hs_lastmodifieddate":{"value":"1556981038830","timestamp":1556981038830,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981038830","timestamp":1556981038830,"source":"CALCULATED","sourceVid":[],"requestId":"ed928aae-a285-4c41-99dc-5f8582014069"}]},"domain":{"value":"emmerich.info","timestamp":1556981038830,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"emmerich.info","timestamp":1556981038830,"source":"API","sourceVid":[],"requestId":"ed928aae-a285-4c41-99dc-5f8582014069"}]},"name":{"value":"Boyer-Schmitt","timestamp":1556981038830,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Boyer-Schmitt","timestamp":1556981038830,"source":"API","sourceVid":[],"requestId":"ed928aae-a285-4c41-99dc-5f8582014069"}]},"createdate":{"value":"1556981038830","timestamp":1556981038830,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981038830","timestamp":1556981038830,"source":"API","sourceVid":[],"requestId":"ed928aae-a285-4c41-99dc-5f8582014069"},{"name":"createdate","value":"1556981038830","timestamp":1556981038830,"sourceId":"API","source":"API","sourceVid":[],"requestId":"ed928aae-a285-4c41-99dc-5f8582014069"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:58 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/1897515214?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B24217ED8E5EA0982A7C7B1464A34D12181B2E3A6000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979532'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"companyId":1897515214,"deleted":true}'
  recorded_at: Sat, 04 May 2019 14:43:59 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/1897515214?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BA280F77D7E94E61F654ABB1FA918CE5A555FA03A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979531'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"resource not found","correlationId":"ec135ab1-6270-4c00-872b-d11d6ce8819d","requestId":"d0dc3ce23e2661d7083bf559c983b0a2"}'
  recorded_at: Sat, 04 May 2019 14:43:59 GMT
recorded_with: VCR 4.0.0
