---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Leo"},{"property":"lastname","value":"Toy"},{"property":"email","value":"32040xinp@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBE6C136C3E972CCD691FF5058C701862767CE4F5000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122554'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11655174,"canonical-vid":11655174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNKejYXV9Agx6OF7c5CgWJ1wegs_x0y6SNFnTI8V9Uq4n76yUVbvtrW3pe0XzNQYOaPADyH5MTFm7STtHXXbEPQ0q9Thc8ikU-E_K3FtUUhA1PpNG6uRXOx7_rUI5P7MWpHvBWz","profile-url":"https://app.hubspot.com/contacts/62515/contact/11655174","properties":{"firstname":{"value":"Leo","versions":[{"value":"Leo","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232041172,"selected":false}]},"email":{"value":"32040xinp@example.net","versions":[{"value":"32040xinp@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232041172,"selected":false}]},"lastname":{"value":"Toy","versions":[{"value":"Toy","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232041172,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11655174,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"32040xinp@example.net","timestamp":1552232041177,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"fc04c506-3ccb-423c-aaec-31029e2d7297","timestamp":1552232041188,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:34:01 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/11655174/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":11655224}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B8521F23BCD49632C2B2AC2F28AF3B6EF5D95B4E5000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122552'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Sun, 10 Mar 2019 15:34:03 GMT
recorded_with: VCR 4.0.0
