---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dooley-Hudson"},{"name":"domain","value":"mcdermott.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B00621B3B495FB11F062E1567F74B46668C727D9A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979535'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897466918,"isDeleted":false,"properties":{"website":{"value":"mcdermott.org","timestamp":1556981038363,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"mcdermott.org","timestamp":1556981038363,"source":"CALCULATED","sourceVid":[],"requestId":"5bb121fc-c993-4875-9b46-eb57f3e87892"}]},"hs_lastmodifieddate":{"value":"1556981038363","timestamp":1556981038363,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981038363","timestamp":1556981038363,"source":"CALCULATED","sourceVid":[],"requestId":"5bb121fc-c993-4875-9b46-eb57f3e87892"}]},"domain":{"value":"mcdermott.org","timestamp":1556981038363,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"mcdermott.org","timestamp":1556981038363,"source":"API","sourceVid":[],"requestId":"5bb121fc-c993-4875-9b46-eb57f3e87892"}]},"name":{"value":"Dooley-Hudson","timestamp":1556981038363,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Dooley-Hudson","timestamp":1556981038363,"source":"API","sourceVid":[],"requestId":"5bb121fc-c993-4875-9b46-eb57f3e87892"}]},"createdate":{"value":"1556981038363","timestamp":1556981038363,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981038363","timestamp":1556981038363,"source":"API","sourceVid":[],"requestId":"5bb121fc-c993-4875-9b46-eb57f3e87892"},{"name":"createdate","value":"1556981038363","timestamp":1556981038363,"sourceId":"API","source":"API","sourceVid":[],"requestId":"5bb121fc-c993-4875-9b46-eb57f3e87892"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:58 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/1897466918?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B71F576809A51238BAF08993C8B788D6644428ABB000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979534'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"companyId":1897466918,"deleted":true}'
  recorded_at: Sat, 04 May 2019 14:43:58 GMT
recorded_with: VCR 4.0.0
