---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Elisha"},{"property":"lastname","value":"Bauch"},{"property":"email","value":"81070gwfj@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE9AD6CA9D5E9BFD89577F21AB576281459C6BA45000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979483'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":12053274,"canonical-vid":12053274,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPE5qAvXSUmaJ78zRBlNjvymvmMSsZILvClqHMRle9ZTQ8LsBrQVkyNuImlyhCrqyA3B2XHFcm-k8ZMeQSDZVmdRFR_icL9cGK5kxyPYeUs8JulwOV1pVq_tIiyQCecB5gPcmZz","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053274","properties":{"firstname":{"value":"Elisha","versions":[{"value":"Elisha","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981070247,"selected":false}]},"email":{"value":"81070gwfj@example.org","versions":[{"value":"81070gwfj@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981070247,"selected":false}]},"lastname":{"value":"Bauch","versions":[{"value":"Bauch","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981070247,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053274,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81070gwfj@example.org","timestamp":1556981070252,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"63255177-4cdb-4e37-9c97-3e490aec7761","timestamp":1556981070266,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:30 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/12053274/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BCF732CD1C1A7566ECB11302D6E4664D95BDD2A38000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979482'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 May 2019 14:44:30 GMT
recorded_with: VCR 4.0.0
