---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BAEFF7708943A27B7374A99425E2ED690006A6761000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126890'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664908830,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1551280270428","timestamp":1551280270428,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280270428","timestamp":1551280270428,"source":"CALCULATED","sourceVid":[],"requestId":"1c2aa9cf-835b-4da1-b53f-64754d071652"}]},"createdate":{"value":"1551280270428","timestamp":1551280270428,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280270428","timestamp":1551280270428,"source":"API","sourceVid":[],"requestId":"1c2aa9cf-835b-4da1-b53f-64754d071652"},{"name":"createdate","value":"1551280270428","timestamp":1551280270428,"sourceId":"API","source":"API","sourceVid":[],"requestId":"1c2aa9cf-835b-4da1-b53f-64754d071652"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:10 GMT
recorded_with: VCR 4.0.0
