---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Pfeffer Group"},{"name":"domain","value":"monahan.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4B6D87980302C67BFD841E615C1FFDD60516C78E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979549'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897447165,"isDeleted":false,"properties":{"website":{"value":"monahan.info","timestamp":1556981033850,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"monahan.info","timestamp":1556981033850,"source":"CALCULATED","sourceVid":[],"requestId":"0c28a40e-3ee1-40dd-865c-a42550f1ac03"}]},"hs_lastmodifieddate":{"value":"1556981033850","timestamp":1556981033850,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981033850","timestamp":1556981033850,"source":"CALCULATED","sourceVid":[],"requestId":"0c28a40e-3ee1-40dd-865c-a42550f1ac03"}]},"domain":{"value":"monahan.info","timestamp":1556981033850,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"monahan.info","timestamp":1556981033850,"source":"API","sourceVid":[],"requestId":"0c28a40e-3ee1-40dd-865c-a42550f1ac03"}]},"name":{"value":"Pfeffer
        Group","timestamp":1556981033850,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Pfeffer
        Group","timestamp":1556981033850,"source":"API","sourceVid":[],"requestId":"0c28a40e-3ee1-40dd-865c-a42550f1ac03"}]},"createdate":{"value":"1556981033850","timestamp":1556981033850,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981033850","timestamp":1556981033850,"source":"API","sourceVid":[],"requestId":"0c28a40e-3ee1-40dd-865c-a42550f1ac03"},{"name":"createdate","value":"1556981033850","timestamp":1556981033850,"sourceId":"API","source":"API","sourceVid":[],"requestId":"0c28a40e-3ee1-40dd-865c-a42550f1ac03"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:53 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1897447165?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE4921DF5021686A2D915B[...]
