---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Grant LLC"},{"name":"domain","value":"botsford.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B5C0095B230847F2293FE4BAF6F10E24D55264125000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979503'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '55'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1896332005,"isDeleted":false,"properties":{"website":{"value":"botsford.net","timestamp":1556981060664,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"botsford.net","timestamp":1556981060664,"source":"CALCULATED","sourceVid":[],"requestId":"910dcd56-c09d-428b-a43a-8fcdbc9e95d4"}]},"hs_lastmodifieddate":{"value":"1556981060664","timestamp":1556981060664,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981060664","timestamp":1556981060664,"source":"CALCULATED","sourceVid":[],"requestId":"910dcd56-c09d-428b-a43a-8fcdbc9e95d4"}]},"domain":{"value":"botsford.net","timestamp":1556981060664,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"botsford.net","timestamp":1556981060664,"source":"API","sourceVid":[],"requestId":"910dcd56-c09d-428b-a43a-8fcdbc9e95d4"}]},"name":{"value":"Grant
        LLC","timestamp":1556981060664,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Grant
        LLC","timestamp":1556981060664,"source":"API","sourceVid":[],"requestId":"910dcd56-c09d-428b-a43a-8fcdbc9e95d4"}]},"createdate":{"value":"1556981060664","timestamp":1556981060664,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981060664","timestamp":1556981060664,"source":"API","sourceVid":[],"requestId":"910dcd56-c09d-428b-a43a-8fcdbc9e95d4"},{"name":"createdate","value":"1556981060664","timestamp":1556981060664,"sourceId":"API","source":"API","sourceVid":[],"requestId":"910dcd56-c09d-428b-a43a-8fcdbc9e95d4"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:20 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1896332005/contacts/1?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BA5F060FD65F11C95427FE88738A7916FDEE1E05A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979502'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '54'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Contact with the vid
        ''1'' in portal ''62515''","correlationId":"da291558-5d66-4175-8dbe-fc5e22840a8b","requestId":"491c402396a3b91ead6a4729b8d1de51"}'
  recorded_at: Sat, 04 May 2019 14:44:20 GMT
recorded_with: VCR 4.0.0
