---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schoen-Lemke"},{"name":"domain","value":"keebler.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6546992108E508A465FBA453FC9D2ABF23D00AF8000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979562'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897466914,"isDeleted":false,"properties":{"website":{"value":"keebler.com","timestamp":1556981028908,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"keebler.com","timestamp":1556981028908,"source":"CALCULATED","sourceVid":[],"requestId":"79154a6f-e287-4e9e-9e0a-c94f314ef1c4"}]},"hs_lastmodifieddate":{"value":"1556981028908","timestamp":1556981028908,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981028908","timestamp":1556981028908,"source":"CALCULATED","sourceVid":[],"requestId":"79154a6f-e287-4e9e-9e0a-c94f314ef1c4"}]},"domain":{"value":"keebler.com","timestamp":1556981028908,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"keebler.com","timestamp":1556981028908,"source":"API","sourceVid":[],"requestId":"79154a6f-e287-4e9e-9e0a-c94f314ef1c4"}]},"name":{"value":"Schoen-Lemke","timestamp":1556981028908,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schoen-Lemke","timestamp":1556981028908,"source":"API","sourceVid":[],"requestId":"79154a6f-e287-4e9e-9e0a-c94f314ef1c4"}]},"createdate":{"value":"1556981028908","timestamp":1556981028908,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981028908","timestamp":1556981028908,"source":"API","sourceVid":[],"requestId":"79154a6f-e287-4e9e-9e0a-c94f314ef1c4"},{"name":"createdate","value":"1556981028908","timestamp":1556981028908,"sourceId":"API","source":"API","sourceVid":[],"requestId":"79154a6f-e287-4e9e-9e0a-c94f314ef1c4"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:49 GMT
recorded_with: VCR 4.0.0
