---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Wolff Inc"},{"name":"domain","value":"gleichner.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249630'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '91'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":2606347900,"isDeleted":false,"properties":{"website":{"value":"gleichner.io","timestamp":1574269511942,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"gleichner.io","timestamp":1574269511942,"source":"CALCULATED","sourceVid":[],"requestId":"167f3469-fcce-4d53-a142-7e9e041e5ccf"}]},"hs_lastmodifieddate":{"value":"1574269511942","timestamp":1574269511942,"source":"CALCULATED","sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","versions":[{"name":"hs_lastmodifieddate","value":"1574269511942","timestamp":1574269511942,"sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","source":"CALCULATED","sourceVid":[],"requestId":"167f3469-fcce-4d53-a142-7e9e041e5ccf"}]},"domain":{"value":"gleichner.io","timestamp":1574269511942,"source":"API","sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","versions":[{"name":"domain","value":"gleichner.io","timestamp":1574269511942,"sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","source":"API","sourceVid":[],"requestId":"167f3469-fcce-4d53-a142-7e9e041e5ccf"}]},"hs_object_id":{"value":"2606347900","timestamp":1574269511942,"source":"API","sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","versions":[{"name":"hs_object_id","value":"2606347900","timestamp":1574269511942,"sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","source":"API","sourceVid":[],"requestId":"167f3469-fcce-4d53-a142-7e9e041e5ccf"}]},"name":{"value":"Wolff
        Inc","timestamp":1574269511942,"source":"API","sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","versions":[{"name":"name","value":"Wolff
        Inc","timestamp":1574269511942,"sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","source":"API","sourceVid":[],"requestId":"167f3469-fcce-4d53-a142-7e9e041e5ccf"}]},"createdate":{"value":"1574269511942","timestamp":1574269511942,"source":"API","sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","versions":[{"name":"createdate","value":"1574269511942","timestamp":1574269511942,"sourceId":"167f3469-fcce-4d53-a142-7e9e041e5ccf","source":"API","sourceVid":[],"requestId":"167f3469-fcce-4d53-a142-7e9e041e5ccf"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 20 Nov 2019 17:05:12 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":2606347900,"toObjectId":1234,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249629'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '90'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"One or more associations are invalid","correlationId":"922d64b6-eb37-4584-b971-4115dc8bb512","errors":["CONTACT=1234
        is not valid"],"requestId":"b5918100-1395-4f83-ab8b-ec0299ed6826"}'
  recorded_at: Wed, 20 Nov 2019 17:05:12 GMT
recorded_with: VCR 5.0.0
