---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Ahmad"},{"property":"lastname","value":"Lehner"},{"property":"email","value":"81079cvvg@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BDD00291D5939B1D628FF03461ECD5FA2B916215E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979464'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"vid":12053674,"canonical-vid":12053674,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMqIFzzYAxGkactdDgspDaX6dBzHRrCUI1Gr9Wjm3AI3oXBHcIo_nMFKLt8xO0fslDXNtnLukVc2x7NxPb9Cd8ivjTFmyHdl6OhG1-EMooNiUR7YP-9nDG4MsX73zEFmLDXjp8u","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053674","properties":{"firstname":{"value":"Ahmad","versions":[{"value":"Ahmad","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079853,"selected":false}]},"email":{"value":"81079cvvg@example.com","versions":[{"value":"81079cvvg@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079853,"selected":false}]},"lastname":{"value":"Lehner","versions":[{"value":"Lehner","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079853,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053674,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81079cvvg@example.com","timestamp":1556981079859,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"6bbbeb91-e895-40cd-b622-d4c06d86a692","timestamp":1556981079871,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:40 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/81079cvvg@example.com/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B74712B4D172F204480B9C12C747DA2306934E279000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979463'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":12053674,"canonical-vid":12053674,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPLRVGsLxap5Z1Ut6MazfWRK6VKBGilH0sD9-3OrEjLGfCoc319AZbZErdytDfvAUG4wHF4TC_C4tTwYf1F9mE1Uv0BGE6LBMuuDP5mp691L7jU4drGzw36OffkEptipFKVTest","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053674","properties":{"firstname":{"value":"Ahmad","versions":[{"value":"Ahmad","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079853,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"lastmodifieddate":{"value":"1556981079936","versions":[{"value":"1556981079936","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1556981079936,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1556981079859,"selected":false}]},"createdate":{"value":"1556981079859","versions":[{"value":"1556981079859","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079859,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1556981079859","versions":[{"value":"1556981079859","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079859,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079859,"selected":false}]},"email":{"value":"81079cvvg@example.com","versions":[{"value":"81079cvvg@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079859,"selected":false}]},"lastname":{"value":"Lehner","versions":[{"value":"Lehner","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079853,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053674,"saved-at-timestamp":1556981079875,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81079cvvg@example.com","timestamp":1556981079859,"is-primary":true},{"type":"LEAD_GUID","value":"6bbbeb91-e895-40cd-b622-d4c06d86a692","timestamp":1556981079871}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:40 GMT
recorded_with: VCR 4.0.0
