---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Zieme and Sons"},{"name":"domain","value":"armstrong.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B94B8392988614D5AE33B83889243F42B4E9D6C6C000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979564'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1896382701,"isDeleted":false,"properties":{"website":{"value":"armstrong.info","timestamp":1556981027261,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"armstrong.info","timestamp":1556981027261,"source":"CALCULATED","sourceVid":[],"requestId":"26873900-3615-45ce-bb9b-88dd365ad133"}]},"hs_lastmodifieddate":{"value":"1556981027261","timestamp":1556981027261,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981027261","timestamp":1556981027261,"source":"CALCULATED","sourceVid":[],"requestId":"26873900-3615-45ce-bb9b-88dd365ad133"}]},"domain":{"value":"armstrong.info","timestamp":1556981027261,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"armstrong.info","timestamp":1556981027261,"source":"API","sourceVid":[],"requestId":"26873900-3615-45ce-bb9b-88dd365ad133"}]},"name":{"value":"Zieme
        and Sons","timestamp":1556981027261,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Zieme
        and Sons","timestamp":1556981027261,"source":"API","sourceVid":[],"requestId":"26873900-3615-45ce-bb9b-88dd365ad133"}]},"createdate":{"value":"1556981027261","timestamp":1556981027261,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981027261","timestamp":1556981027261,"source":"API","sourceVid":[],"requestId":"26873900-3615-45ce-bb9b-88dd365ad133"},{"name":"createdate","value":"1556981027261","timestamp":1556981027261,"sourceId":"API","source":"API","sourceVid":[],"requestId":"26873900-3615-45ce-bb9b-88dd365ad133"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:47 GMT
recorded_with: VCR 4.0.0
