---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Shelby"},{"property":"lastname","value":"Wiegand"},{"property":"email","value":"81079nswc@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE27C4399DE4722741EEEECC9BFF67A3FFD9F3DFA000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979466'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":12053624,"canonical-vid":12053624,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mO9QrDQAnSYojJb4A5jm8RXCFCxCt1zqeyCXE2B8UL2-H-YccC_x9x5YjQefNt9U6UsNPDM-Nbvg5x8vtIQxlaoDJLo9QNThLEf9nICSZAWAaD41hm25BTfqmun66GepKynE3F8","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053624","properties":{"firstname":{"value":"Shelby","versions":[{"value":"Shelby","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079252,"selected":false}]},"email":{"value":"81079nswc@example.com","versions":[{"value":"81079nswc@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079252,"selected":false}]},"lastname":{"value":"Wiegand","versions":[{"value":"Wiegand","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079252,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053624,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81079nswc@example.com","timestamp":1556981079257,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"8b3634b4-87ff-4c09-a7cc-9342544501b0","timestamp":1556981079269,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:39 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/81079nswc@example.com/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BD84CFB50B7A3963FDEFF3324E36BEF095620CF79000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979465'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"vid":12053624,"canonical-vid":12053624,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mP4GY8h2cIRhmfVUhPxkpX6sDvE8AeRV29I4VraFwH09qAF6lyWVdul7_03mQqXLEXXnN1id_DAWatBA458YlIaOJbAi3K_8rAinPUMIC-PHv5jcejwgjJ2kQAK1rxnWmZl1SAz","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053624","properties":{"firstname":{"value":"Shelby","versions":[{"value":"Shelby","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079252,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"lastmodifieddate":{"value":"1556981079335","versions":[{"value":"1556981079335","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1556981079335,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1556981079257,"selected":false}]},"createdate":{"value":"1556981079257","versions":[{"value":"1556981079257","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079257,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1556981079257","versions":[{"value":"1556981079257","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079257,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079257,"selected":false}]},"email":{"value":"81079nswc@example.com","versions":[{"value":"81079nswc@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079257,"selected":false}]},"lastname":{"value":"Wiegand","versions":[{"value":"Wiegand","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981079252,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053624,"saved-at-timestamp":1556981079272,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81079nswc@example.com","timestamp":1556981079257,"is-primary":true},{"type":"LEAD_GUID","value":"8b3634b4-87ff-4c09-a7cc-9342544501b0","timestamp":1556981079269}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:39 GMT
recorded_with: VCR 4.0.0
