---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Kuphal Inc"},{"name":"domain","value":"kreigerhagenes.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B672FA4E16B04FC03D9DA511210C10EFAC5253CED000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979551'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897447164,"isDeleted":false,"properties":{"website":{"value":"kreigerhagenes.biz","timestamp":1556981033355,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"kreigerhagenes.biz","timestamp":1556981033355,"source":"CALCULATED","sourceVid":[],"requestId":"a01acfc9-e338-4890-85c3-7a20f954a458"}]},"hs_lastmodifieddate":{"value":"1556981033355","timestamp":1556981033355,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981033355","timestamp":1556981033355,"source":"CALCULATED","sourceVid":[],"requestId":"a01acfc9-e338-4890-85c3-7a20f954a458"}]},"domain":{"value":"kreigerhagenes.biz","timestamp":1556981033355,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"kreigerhagenes.biz","timestamp":1556981033355,"source":"API","sourceVid":[],"requestId":"a01acfc9-e338-4890-85c3-7a20f954a458"}]},"name":{"value":"Kuphal
        Inc","timestamp":1556981033355,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Kuphal
        Inc","timestamp":1556981033355,"source":"API","sourceVid":[],"requestId":"a01acfc9-e338-4890-85c3-7a20f954a458"}]},"createdate":{"value":"1556981033355","timestamp":1556981033355,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981033355","timestamp":1556981033355,"source":"API","sourceVid":[],"requestId":"a01acfc9-e338-4890-85c3-7a20f954a458"},{"name":"createdate","value":"1556981033355","timestamp":1556981033355,"sourceId":"API","source":"API","sourceVid":[],"requestId":"a01acfc9-e338-4890-85c3-7a20f954a458"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:53 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1897447164?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2B260F4637FC13E57CCCD330BB27D1967C09ABD9000000000000000000
      X-Hubspot-Ra[...]
