---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBA23064EB8E7FF0AAF75883C01A2F4CD2A673070000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979486'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"resource not found","correlationId":"0c178784-740b-4dcf-806d-182dcd58b1e9","requestId":"23a2ffa5b68f2f3214a7ad5be920435c"}'
  recorded_at: Sat, 04 May 2019 14:44:29 GMT
recorded_with: VCR 4.0.0
