---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Cummings, Heaney and Collier"},{"name":"domain","value":"schamberger.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B07871C663342913685FD5F696B5646913C713885000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122577'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1726294465,"isDeleted":false,"properties":{"website":{"value":"schamberger.org","timestamp":1552232033037,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"schamberger.org","timestamp":1552232033037,"source":"CALCULATED","sourceVid":[],"requestId":"bfe81f96-a870-45b9-ba9f-3d58b2f6b035"}]},"hs_lastmodifieddate":{"value":"1552232033037","timestamp":1552232033037,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552232033037","timestamp":1552232033037,"source":"CALCULATED","sourceVid":[],"requestId":"bfe81f96-a870-45b9-ba9f-3d58b2f6b035"}]},"domain":{"value":"schamberger.org","timestamp":1552232033037,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"schamberger.org","timestamp":1552232033037,"source":"API","sourceVid":[],"requestId":"bfe81f96-a870-45b9-ba9f-3d58b2f6b035"}]},"name":{"value":"Cummings,
        Heaney and Collier","timestamp":1552232033037,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Cummings,
        Heaney and Collier","timestamp":1552232033037,"source":"API","sourceVid":[],"requestId":"bfe81f96-a870-45b9-ba9f-3d58b2f6b035"}]},"createdate":{"value":"1552232033037","timestamp":1552232033037,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1552232033037","timestamp":1552232033037,"source":"API","sourceVid":[],"requestId":"bfe81f96-a870-45b9-ba9f-3d58b2f6b035"},{"name":"createdate","value":"1552232033037","timestamp":1552232033037,"sourceId":"API","source":"API","sourceVid":[],"requestId":"bfe81f96-a870-45b9-ba9f-3d58b2f6b035"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:33:53 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Tana"},{"property":"lastname","value":"McCullough"},{"property":"email","value":"32033nglf@example.net"},{"property":"associatedcompanyid","value":1726294465}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B8C082195F58635125B1B22937EFEF9C07EFAB1B4000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122576'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":11654774,"canonical-vid":11654774,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOCroHzGYvupVcMbIPUdT07tIoYtq8FD7W5xxFg-XvuG4xmp-DVfRel8S2wg4UQ1ULGSl-bxCQGbA1zf9qImfJ_1fk2Z8KUXcyOZj3WNzkvGLueLh9MtXM1JdZoinRuHPLlaPMz","profile-url":"https://app.hubspot.com/contacts/62515/contact/11654774","properties":{"associatedcompanyid":{"value":"1726294465","versions":[{"value":"1726294465","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033327,"selected":false}]},"firstname":{"value":"Tana","versions":[{"value":"Tana","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033327,"selected":false}]},"email":{"value":"32033nglf@example.net","versions":[{"value":"32033nglf@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033327,"selected":false}]},"lastname":{"value":"McCullough","versions":[{"value":"McCullough","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033327,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11654774,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"32033nglf@example.net","timestamp":1552232033336,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ea821ab4-5478-4261-bfe1-999d042c77bf","timestamp":1552232033350,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:33:53 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/11654774/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4A2A9D4C5D99F1942AC845A0F8509052D2C2E57D000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122575'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"vid":11654774,"canonical-vid":11654774,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOC_YCdnTw1QvvOxXHV-yj2RzTe56vTdvMKHn6dJFsHzjsY90flyF_dbbUPKqrQ0JeyDdce3IwuJJ6Zj5al2zYrYboyq8QP6SZQkNZADm0bTX6MpEaRbcP71VCdDtGikRwV4tTL","profile-url":"https://app.hubspot.com/contacts/62515/contact/11654774","properties":{"firstname":{"value":"Tana","versions":[{"value":"Tana","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033327,"selected":false}]},"associatedcompanyid":{"value":"1726294465","versions":[{"value":"1726294465","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033327,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"lastmodifieddate":{"value":"1552232033409","versions":[{"value":"1552232033409","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1552232033409,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"hs_email_domain":{"value":"example.net","versions":[{"value":"example.net","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1552232033336,"selected":false}]},"createdate":{"value":"1552232033336","versions":[{"value":"1552232033336","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033336,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1552232033336","versions":[{"value":"1552232033336","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033336,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033336,"selected":false}]},"email":{"value":"32033nglf@example.net","versions":[{"value":"32033nglf@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033336,"selected":false}]},"lastname":{"value":"McCullough","versions":[{"value":"McCullough","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232033327,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11654774,"saved-at-timestamp":1552232033354,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"32033nglf@example.net","timestamp":1552232033336,"is-primary":true},{"type":"LEAD_GUID","value":"ea821ab4-5478-4261-bfe1-999d042c77bf","timestamp":1552232033350}]}],"merge-audits":[],"associated-company":{"company-id":1726294465,"portal-id":62515,"properties":{"website":{"value":"schamberger.org"},"hs_lastmodifieddate":{"value":"1552232033037"},"domain":{"value":"schamberger.org"},"name":{"value":"Cummings,
        Heaney and Collier"},"createdate":{"value":"1552232033037"}}}}'
  recorded_at: Sun, 10 Mar 2019 15:33:53 GMT
recorded_with: VCR 4.0.0
