---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Lucius"},{"property":"lastname","value":"Hilpert"},{"property":"email","value":"81062snfk@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7448659FD6C682A6FACB9EC694610C8EA74EC3F6000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979497'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":12052974,"canonical-vid":12052974,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPQ4HGnJ-qj2B06ZDIQSq7Zahu_T5W41J6zQVxYNswci8XfeMhV-Zb6bBUtBWgRCV9JpI_J7VzwATBdIc4139Q094nyAERLhnwpWmqgBBR2dDrSF7K0cirtyxYQwxrHwO8aotjF","profile-url":"https://app.hubspot.com/contacts/62515/contact/12052974","properties":{"firstname":{"value":"Lucius","versions":[{"value":"Lucius","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981063121,"selected":false}]},"email":{"value":"81062snfk@example.net","versions":[{"value":"81062snfk@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981063121,"selected":false}]},"lastname":{"value":"Hilpert","versions":[{"value":"Hilpert","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981063121,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12052974,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81062snfk@example.net","timestamp":1556981063126,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"6872940d-61cb-4a49-9ab2-4ae9e3fdd580","timestamp":1556981063138,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:23 GMT
recorded_with: VCR 4.0.0
