---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Kulas, Bernhard and Herzog"},{"name":"domain","value":"goodwin.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0DF9961EA20B6F1C4F4D766CD735FFC839CD4735000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979523'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897400098,"isDeleted":false,"properties":{"website":{"value":"goodwin.info","timestamp":1556981051708,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"goodwin.info","timestamp":1556981051708,"source":"CALCULATED","sourceVid":[],"requestId":"ab1646a7-2467-4c7c-acd1-da68a6c3897b"}]},"hs_lastmodifieddate":{"value":"1556981051708","timestamp":1556981051708,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981051708","timestamp":1556981051708,"source":"CALCULATED","sourceVid":[],"requestId":"ab1646a7-2467-4c7c-acd1-da68a6c3897b"}]},"domain":{"value":"goodwin.info","timestamp":1556981051708,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"goodwin.info","timestamp":1556981051708,"source":"API","sourceVid":[],"requestId":"ab1646a7-2467-4c7c-acd1-da68a6c3897b"}]},"name":{"value":"Kulas,
        Bernhard and Herzog","timestamp":1556981051708,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Kulas,
        Bernhard and Herzog","timestamp":1556981051708,"source":"API","sourceVid":[],"requestId":"ab1646a7-2467-4c7c-acd1-da68a6c3897b"}]},"createdate":{"value":"1556981051708","timestamp":1556981051708,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981051708","timestamp":1556981051708,"source":"API","sourceVid":[],"requestId":"ab1646a7-2467-4c7c-acd1-da68a6c3897b"},{"name":"createdate","value":"1556981051708","timestamp":1556981051708,"sourceId":"API","source":"API","sourceVid":[],"requestId":"ab1646a7-2467-4c7c-acd1-da68a6c3897b"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=1897400098
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0B85C3EBD01F63620B28D64271C373A9A3656219000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979522'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":1897514264,"companies":[{"portalId":62515,"companyId":1897429954,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1897429955,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1897430034,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1897430035,"isDeleted":false,"properties":{},"additionalDomains":[][...]
