---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Cornell"},{"property":"lastname","value":"Dickens"},{"property":"email","value":"31065qbus@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BEE34E0DAB1040937CDB820887869B2D097754D07000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '123002'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11654424,"canonical-vid":11654424,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNEZa6JiQUBBHv4ei1JOtOCk8wvENt12XwhuarrHmdlsqFwVrE9nt4MTvS5qXBtRyFULERMZQA6Qt5p5X1HSOKQfItd_MDK1ynBk4mNenEGNcVVlaK_X_DDcYl1hqr-i2CwJAdc","profile-url":"https://app.hubspot.com/contacts/62515/contact/11654424","properties":{"firstname":{"value":"Cornell","versions":[{"value":"Cornell","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231065341,"selected":false}]},"email":{"value":"31065qbus@example.com","versions":[{"value":"31065qbus@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231065341,"selected":false}]},"lastname":{"value":"Dickens","versions":[{"value":"Dickens","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231065341,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11654424,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"31065qbus@example.com","timestamp":1552231065344,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"12ff2586-95d1-4fa2-8594-c241ec3902d4","timestamp":1552231065390,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:17:45 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/11654424/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":11654474}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BC4CE8826DD77591B54D26748AAE2AD70D4472ACC000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '123000'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Sun, 10 Mar 2019 15:17:46 GMT
recorded_with: VCR 4.0.0
