---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B231EE75CE1CBA2488D6ADFC0D804E289780753B4000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979540'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1896332001,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1556981037384","timestamp":1556981037384,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981037384","timestamp":1556981037384,"source":"CALCULATED","sourceVid":[],"requestId":"be7eeb26-abf0-4170-998a-6953d926fd7a"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1556981037384,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1556981037384,"source":"API","sourceVid":[],"requestId":"be7eeb26-abf0-4170-998a-6953d926fd7a"}]},"createdate":{"value":"1556981037384","timestamp":1556981037384,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981037384","timestamp":1556981037384,"source":"API","sourceVid":[],"requestId":"be7eeb26-abf0-4170-998a-6953d926fd7a"},{"name":"createdate","value":"1556981037384","timestamp":1556981037384,"sourceId":"API","source":"API","sourceVid":[],"requestId":"be7eeb26-abf0-4170-998a-6953d926fd7a"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:57 GMT
recorded_with: VCR 4.0.0
