---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Cristi"},{"property":"lastname","value":"Greenholt"},{"property":"email","value":"81072vppq@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF10ED4F24027A63F5841157B9F520BF36532CC60000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979479'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":12053374,"canonical-vid":12053374,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMQPMutT3ufYIv_LYUkj1BONtv_uhoqtsO01anZ7VbIJ4mnRooitvObGNr9bLoNgQCarESMoFQFaHlEZ-YuXdVMLw0GTIZUvrFSJJAeVTyiQKgaOXStVW8Gllqo6IRrnXDlE7c-","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053374","properties":{"firstname":{"value":"Cristi","versions":[{"value":"Cristi","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981072643,"selected":false}]},"email":{"value":"81072vppq@example.com","versions":[{"value":"81072vppq@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981072643,"selected":false}]},"lastname":{"value":"Greenholt","versions":[{"value":"Greenholt","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981072643,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053374,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81072vppq@example.com","timestamp":1556981072648,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"113e2d38-c9c0-4d8c-a702-e11f480dc74e","timestamp":1556981072658,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:32 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/12053374/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"},{"property":"lastname","value":"qwer"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B641B383A3E1DC6CF411053173F120F961B83F4C7000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979478'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 May 2019 14:44:33 GMT
recorded_with: VCR 4.0.0
