---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0861A879CD96C272AEE67866853F2EC532F51BE9000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126879'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664906143,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280272891,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280272891,"source":"CALCULATED","sourceVid":[],"requestId":"ccab3716-c9c7-4993-a807-9027b58b80e3"}]},"hs_lastmodifieddate":{"value":"1551280272891","timestamp":1551280272891,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280272891","timestamp":1551280272891,"source":"CALCULATED","sourceVid":[],"requestId":"ccab3716-c9c7-4993-a807-9027b58b80e3"}]},"domain":{"value":"padberg.biz","timestamp":1551280272891,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280272891,"source":"API","sourceVid":[],"requestId":"ccab3716-c9c7-4993-a807-9027b58b80e3"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280272891,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280272891,"source":"API","sourceVid":[],"requestId":"ccab3716-c9c7-4993-a807-9027b58b80e3"}]},"createdate":{"value":"1551280272891","timestamp":1551280272891,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280272891","timestamp":1551280272891,"source":"API","sourceVid":[],"requestId":"ccab3716-c9c7-4993-a807-9027b58b80e3"},{"name":"createdate","value":"1551280272891","timestamp":1551280272891,"sourceId":"API","source":"API","sourceVid":[],"requestId":"ccab3716-c9c7-4993-a807-9027b58b80e3"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:13 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/1664906143?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B138D9A7088971E5F84388B80C36128A3AF58D52B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126878'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"companyId":1664906143,"deleted":true}'
  recorded_at: Wed, 27 Feb 2019 15:11:13 GMT
recorded_with: VCR 4.0.0
