---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Fisher and Sons"},{"name":"domain","value":"rolfson.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B0363F8C2467DEFCFCD561DB19E9337D10F2A1178000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979547'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1896382703,"isDeleted":false,"properties":{"website":{"value":"rolfson.co","timestamp":1556981034393,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"rolfson.co","timestamp":1556981034393,"source":"CALCULATED","sourceVid":[],"requestId":"fd0aa74a-da19-4666-b11d-4be546395aae"}]},"hs_lastmodifieddate":{"value":"1556981034393","timestamp":1556981034393,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981034393","timestamp":1556981034393,"source":"CALCULATED","sourceVid":[],"requestId":"fd0aa74a-da19-4666-b11d-4be546395aae"}]},"domain":{"value":"rolfson.co","timestamp":1556981034393,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"rolfson.co","timestamp":1556981034393,"source":"API","sourceVid":[],"requestId":"fd0aa74a-da19-4666-b11d-4be546395aae"}]},"name":{"value":"Fisher
        and Sons","timestamp":1556981034393,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Fisher
        and Sons","timestamp":1556981034393,"source":"API","sourceVid":[],"requestId":"fd0aa74a-da19-4666-b11d-4be546395aae"}]},"createdate":{"value":"1556981034393","timestamp":1556981034393,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981034393","timestamp":1556981034393,"source":"API","sourceVid":[],"requestId":"fd0aa74a-da19-4666-b11d-4be546395aae"},{"name":"createdate","value":"1556981034393","timestamp":1556981034393,"sourceId":"API","source":"API","sourceVid":[],"requestId":"fd0aa74a-da19-4666-b11d-4be546395aae"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:54 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1896382703?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE822CDB37862630F984AC[...]
