---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BCF4914160422DE99540F2B672694416AFDF65006000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126847'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664895205,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280282156,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280282156,"source":"CALCULATED","sourceVid":[],"requestId":"8ccddf97-e102-4b48-b082-3499ae067217"}]},"hs_lastmodifieddate":{"value":"1551280282156","timestamp":1551280282156,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280282156","timestamp":1551280282156,"source":"CALCULATED","sourceVid":[],"requestId":"8ccddf97-e102-4b48-b082-3499ae067217"}]},"domain":{"value":"padberg.biz","timestamp":1551280282156,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280282156,"source":"API","sourceVid":[],"requestId":"8ccddf97-e102-4b48-b082-3499ae067217"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280282156,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280282156,"source":"API","sourceVid":[],"requestId":"8ccddf97-e102-4b48-b082-3499ae067217"}]},"createdate":{"value":"1551280282156","timestamp":1551280282156,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280282156","timestamp":1551280282156,"source":"API","sourceVid":[],"requestId":"8ccddf97-e102-4b48-b082-3499ae067217"},{"name":"createdate","value":"1551280282156","timestamp":1551280282156,"sourceId":"API","source":"API","sourceVid":[],"requestId":"8ccddf97-e102-4b48-b082-3499ae067217"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:22 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Veola"},{"property":"lastname","value":"Kohler"},{"property":"email","value":"80282ephq@example.net"},{"property":"associatedcompanyid","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B479297852F0D6109086E8BAE59EF71FFFD9191F7000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126846'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"vid":11600874,"canonical-vid":11600874,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mN8Ixke05dG_ev-mANJNnL0TNfPhUgNj1ztmnx3gnzYRvEU7T4RGypUzxogC7tzXoAjMisBECyaFi6Yja8fPICKrlyzNRtrAiuvm42BLLXJYurhjsEkr6dKW7qIEu0nwiCignn7","profile-url":"https://app.hubspot.com/contacts/62515/contact/11600874","properties":{"firstname":{"value":"Veola","versions":[{"value":"Veola","source-type":"API","source-id":null,"source-label":null,"timestamp":1551280282435,"selected":false}]},"associatedcompanyid":{"value":"1664895205","versions":[{"value":"1664895205","source-type":"API","source-id":null,"source-label":null,"timestamp":1551280282435,"selected":false}]},"email":{"value":"80282ephq@example.net","versions":[{"value":"80282ephq@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1551280282435,"selected":false}]},"lastname":{"value":"Kohler","versions":[{"value":"Kohler","source-type":"API","source-id":null,"source-label":null,"timestamp":1551280282435,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11600874,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"80282ephq@example.net","timestamp":1551280282445,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"e94606c3-cf83-4fb3-9796-7e51e7a2b49d","timestamp":1551280282460,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:22 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/1664895205/contacts/11600874?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2DD1193CCB4A9EF36227A72B994CF5BAF8AB6D46000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126845'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Feb 2019 15:11:23 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/81311lrds@example.org?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Paula"},{"property":"lastname","value":"Dibbert"},{"property":"email","value":"81311lrds@example.org"},{"property":"associatedcompanyid","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BA8C7BC1CB840DBC6ECF1233588311B95E40939DA000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '125699'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":11601274,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 15:28:31 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/81413xklk@example.com?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Chang"},{"property":"lastname","value":"Prohaska"},{"property":"email","value":"81413xklk@example.com"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF73DD2EA4CB10A3B819F017B4C0ECFBB3752206F000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '125667'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11601374,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 15:30:13 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/81762deew@example.org?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Monte"},{"property":"lastname","value":"Kerluke"},{"property":"email","value":"81762deew@example.org"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B1C09E8F52352C1798A73E5CC44F53E7723DEAE41000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '125589'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11601474,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 15:36:03 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/96576tiso@example.net?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Dorian"},{"property":"lastname","value":"Balistreri"},{"property":"email","value":"96576tiso@example.net"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BD194058F15C51A4308DF88165E042650F5B3B921000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '114557'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11602624,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 19:42:57 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/96863bnur@example.org?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Nick"},{"property":"lastname","value":"Hettinger"},{"property":"email","value":"96863bnur@example.org"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF65DA99C51F171C96CEF614A6E8A2017041C46D1000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '114308'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":11602724,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 19:47:44 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/97071fgue@example.com?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Renaldo"},{"property":"lastname","value":"Tillman"},{"property":"email","value":"97071fgue@example.com"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BDBD312BD58A26CC95843BCC8EC4A9FB2AD44F6A8000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '114134'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11602874,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 19:51:11 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/97231wmry@example.net?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Freeman"},{"property":"lastname","value":"Gusikowski"},{"property":"email","value":"97231wmry@example.net"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B326AC99C07BE67C1FBADC0F27D1466E50B43DC8F000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '114032'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11602974,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 19:53:52 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/97244bwgf@example.net?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Gordon"},{"property":"lastname","value":"Wilderman"},{"property":"email","value":"97244bwgf@example.net"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4B41BFC771D8546854977EED114BB9842595AA32000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '114020'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11603074,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 19:54:04 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/97657jvfs@example.org?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Regenia"},{"property":"lastname","value":"Kertzmann"},{"property":"email","value":"97657jvfs@example.org"},{"property":"associatedCompanyId","value":1664895205}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B3A50EF01ECDB5C5D3359D371AA7530CA8EF0AB78000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '113624'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11603174,"isNew":true}'
  recorded_at: Wed, 27 Feb 2019 20:00:57 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/1664895205/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6BEDBA84DF047CF17DF0DC5A3CF93ACF259E0E7C000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '129738'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vids":[11601274,11601374,11602874,11603174],"vidOffset":11603174,"hasMore":false}'
  recorded_at: Sun, 10 Mar 2019 14:01:05 GMT
recorded_with: VCR 4.0.0
