---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Smitham and Sons"},{"name":"domain","value":"bogisich.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7EA250EE799E8FC4138445DFDCD26418399D6AE4000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979517'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897466919,"isDeleted":false,"properties":{"website":{"value":"bogisich.io","timestamp":1556981055541,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"bogisich.io","timestamp":1556981055541,"source":"CALCULATED","sourceVid":[],"requestId":"23b52c33-7f4c-413a-99fb-4cf4f3a914d2"}]},"hs_lastmodifieddate":{"value":"1556981055541","timestamp":1556981055541,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981055541","timestamp":1556981055541,"source":"CALCULATED","sourceVid":[],"requestId":"23b52c33-7f4c-413a-99fb-4cf4f3a914d2"}]},"domain":{"value":"bogisich.io","timestamp":1556981055541,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"bogisich.io","timestamp":1556981055541,"source":"API","sourceVid":[],"requestId":"23b52c33-7f4c-413a-99fb-4cf4f3a914d2"}]},"name":{"value":"Smitham
        and Sons","timestamp":1556981055541,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Smitham
        and Sons","timestamp":1556981055541,"source":"API","sourceVid":[],"requestId":"23b52c33-7f4c-413a-99fb-4cf4f3a914d2"}]},"createdate":{"value":"1556981055541","timestamp":1556981055541,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981055541","timestamp":1556981055541,"source":"API","sourceVid":[],"requestId":"23b52c33-7f4c-413a-99fb-4cf4f3a914d2"},{"name":"createdate","value":"1556981055541","timestamp":1556981055541,"sourceId":"API","source":"API","sourceVid":[],"requestId":"23b52c33-7f4c-413a-99fb-4cf4f3a914d2"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:15 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/bogisich.io/companies?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"limit":25,"requestOptions":{},"offset":{"isPrimary":true,"companyId":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B3E50070A461BD9DA28D374AF4394179CA455D03E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979516'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":1897466919,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}],"hasMore":false,"offset":{"companyId":1897466919,"isPrimary":true}}'
  recorded_at: Sat, 04 May 2019 14:44:15 GMT
recorded_with: VCR 4.0.0
