---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B5A631620C39CAA6A8F68BCD97155B1A79EA0DC66000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126866'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664895203,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280277596,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280277596,"source":"CALCULATED","sourceVid":[],"requestId":"c2805637-ca0b-4686-8263-bf6fb53dae22"}]},"hs_lastmodifieddate":{"value":"1551280277596","timestamp":1551280277596,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280277596","timestamp":1551280277596,"source":"CALCULATED","sourceVid":[],"requestId":"c2805637-ca0b-4686-8263-bf6fb53dae22"}]},"domain":{"value":"padberg.biz","timestamp":1551280277596,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280277596,"source":"API","sourceVid":[],"requestId":"c2805637-ca0b-4686-8263-bf6fb53dae22"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280277596,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280277596,"source":"API","sourceVid":[],"requestId":"c2805637-ca0b-4686-8263-bf6fb53dae22"}]},"createdate":{"value":"1551280277596","timestamp":1551280277596,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280277596","timestamp":1551280277596,"source":"API","sourceVid":[],"requestId":"c2805637-ca0b-4686-8263-bf6fb53dae22"},{"name":"createdate","value":"1551280277596","timestamp":1551280277596,"sourceId":"API","source":"API","sourceVid":[],"requestId":"c2805637-ca0b-4686-8263-bf6fb53dae22"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:17 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=1664895203
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BACADF676437B9E4D075EEEE552558626DB675CB2000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126865'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '55'
    body:
      encoding: UTF-8
      string: '{"has-more":false,"offset":1664911095,"companies":[{"portalId":62515,"companyId":1664906140,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664906141,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664906142,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664906146,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664908830,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664908831,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664911094,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664911095,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}]}'
  recorded_at: Wed, 27 Feb 2019 15:11:17 GMT
recorded_with: VCR 4.0.0
