---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/0?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249605'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"No deal found for dealId=0 portalId=62515","correlationId":"f8a1c167-ffc4-4c7d-a868-82a7ee43b347","errors":[{"message":"This
        deal 0 does not exist."}],"category":"OBJECT_NOT_FOUND","requestId":"d8e67bd2-e41d-4e08-b6f7-91747c037ab8"}'
  recorded_at: Fri, 08 Nov 2019 15:18:59 GMT
recorded_with: VCR 5.0.0
