---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/0?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BED46D4C79E1F2B9D75A1B102CB637010E8BE42FC000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979554'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a company with the ID ''0''
        in portal ''62515''","correlationId":"a0cac8b2-78e7-4a4e-976a-ffac432ce5ea","requestId":"c09777ad893f1a2de369da52a52ae3a7"}'
  recorded_at: Sat, 04 May 2019 14:43:52 GMT
recorded_with: VCR 4.0.0
