---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Kilback LLC"},{"name":"domain","value":"abshireboyer.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B587E60ACB2F7416AF09A69BED9693F12251B51CB000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979521'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1896421691,"isDeleted":false,"properties":{"website":{"value":"abshireboyer.net","timestamp":1556981053507,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"abshireboyer.net","timestamp":1556981053507,"source":"CALCULATED","sourceVid":[],"requestId":"6b492e59-bdf2-4c46-bf64-b400f6314762"}]},"hs_lastmodifieddate":{"value":"1556981053507","timestamp":1556981053507,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981053507","timestamp":1556981053507,"source":"CALCULATED","sourceVid":[],"requestId":"6b492e59-bdf2-4c46-bf64-b400f6314762"}]},"domain":{"value":"abshireboyer.net","timestamp":1556981053507,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"abshireboyer.net","timestamp":1556981053507,"source":"API","sourceVid":[],"requestId":"6b492e59-bdf2-4c46-bf64-b400f6314762"}]},"name":{"value":"Kilback
        LLC","timestamp":1556981053507,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Kilback
        LLC","timestamp":1556981053507,"source":"API","sourceVid":[],"requestId":"6b492e59-bdf2-4c46-bf64-b400f6314762"}]},"createdate":{"value":"1556981053507","timestamp":1556981053507,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981053507","timestamp":1556981053507,"source":"API","sourceVid":[],"requestId":"6b492e59-bdf2-4c46-bf64-b400f6314762"},{"name":"createdate","value":"1556981053507","timestamp":1556981053507,"sourceId":"API","source":"API","sourceVid":[],"requestId":"6b492e59-bdf2-4c46-bf64-b400f6314762"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:13 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=1896421691
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B55DC14BBA6A19A404A0C1F65D439580C7565988B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979520'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":1897466915,"companies":[{"portalId":62515,"companyId":1897399905,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1897399909,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1897399910,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1897399912,"isDeleted":false,"properties":{},"additionalDomains":[][...]
