---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Rudy"},{"property":"lastname","value":"Hickle"},{"property":"email","value":"31368grhb@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2AE861C13CB07D1D6DA81184681A1C449F73DA61000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122838'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11654524,"canonical-vid":11654524,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPEKlDFZWJtNAC613bhdPnVMIcqaCoqfaFjKYrdCYlwhyyiEu6LWmEbG4mC1bdMZuJgkRXwfXzGc0FkCAZ7D_2YytrGuv4s_GhMDTlDg24RWamJhbsB3P1P7v-BW1nb4w4oGy_t","profile-url":"https://app.hubspot.com/contacts/62515/contact/11654524","properties":{"firstname":{"value":"Rudy","versions":[{"value":"Rudy","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231368561,"selected":false}]},"email":{"value":"31368grhb@example.net","versions":[{"value":"31368grhb@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231368561,"selected":false}]},"lastname":{"value":"Hickle","versions":[{"value":"Hickle","source-type":"API","source-id":null,"source-label":null,"timestamp":1552231368561,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11654524,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"31368grhb@example.net","timestamp":1552231368565,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"9782d5f7-88db-4493-8c79-b75f58a274eb","timestamp":1552231368574,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:22:48 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/11654524/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":11654574}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4E361147EA620AFAB727AEA521A07F8D00AB7081000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122836'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Sun, 10 Mar 2019 15:22:49 GMT
recorded_with: VCR 4.0.0
