---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/1/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7986D373062B384448A1D667F991038CF549F2D3000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122968'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"canonical vid is not a valid contact or
        is already in the process of being merged","correlationId":"04d34bbb-d618-4d2f-bea2-3f95d31fbd8c","requestId":"1a62c019c86cbc739874ab9e61547805"}'
  recorded_at: Sun, 10 Mar 2019 15:19:40 GMT
recorded_with: VCR 4.0.0
