---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Buckridge-Steuber"},{"name":"domain","value":"barrows.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249638'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":2606347890,"isDeleted":false,"properties":{"website":{"value":"barrows.info","timestamp":1574269509097,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"barrows.info","timestamp":1574269509097,"source":"CALCULATED","sourceVid":[],"requestId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f"}]},"hs_lastmodifieddate":{"value":"1574269509097","timestamp":1574269509097,"source":"CALCULATED","sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","versions":[{"name":"hs_lastmodifieddate","value":"1574269509097","timestamp":1574269509097,"sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","source":"CALCULATED","sourceVid":[],"requestId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f"}]},"domain":{"value":"barrows.info","timestamp":1574269509097,"source":"API","sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","versions":[{"name":"domain","value":"barrows.info","timestamp":1574269509097,"sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","source":"API","sourceVid":[],"requestId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f"}]},"hs_object_id":{"value":"2606347890","timestamp":1574269509097,"source":"API","sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","versions":[{"name":"hs_object_id","value":"2606347890","timestamp":1574269509097,"sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","source":"API","sourceVid":[],"requestId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f"}]},"name":{"value":"Buckridge-Steuber","timestamp":1574269509097,"source":"API","sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","versions":[{"name":"name","value":"Buckridge-Steuber","timestamp":1574269509097,"sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","source":"API","sourceVid":[],"requestId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f"}]},"createdate":{"value":"1574269509097","timestamp":1574269509097,"source":"API","sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","versions":[{"name":"createdate","value":"1574269509097","timestamp":1574269509097,"sourceId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f","source":"API","sourceVid":[],"requestId":"f0a55eb7-0238-4299-b3ed-246cffe3b54f"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 20 Nov 2019 17:05:09 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Edyth"},{"property":"lastname","value":"Heathcote"},{"property":"email","value":"fidelia@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249637'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"vid":73601,"canonical-vid":73601,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMvZ-Uf-cMK66IZxi2_IF6LlrbLDqBkMn012Px4DGrHBIPrtzwB4vC0Bjo0xdeXDV3Sgg9m6uFvgc3jmSoP7ueBYfv4ZYXA6ThOFByJ0HebbZNy_5gmZOzaA8ii0ux2AcUYlPOe","profile-url":"https://app.hubspot.com/contacts/62515/contact/73601","properties":{"firstname":{"value":"Edyth","versions":[{"value":"Edyth","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269509493,"selected":false}]},"email":{"value":"fidelia@example.net","versions":[{"value":"fidelia@example.net","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269509493,"selected":false}]},"lastname":{"value":"Heathcote","versions":[{"value":"Heathcote","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269509493,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":73601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"fidelia@example.net","timestamp":1574269509503,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"da36905a-af74-46b3-9406-ddfa872d5c9e","timestamp":1574269509530,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 20 Nov 2019 17:05:09 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":2606347890,"toObjectId":73601,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249636'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Nov 2019 17:05:10 GMT
recorded_with: VCR 5.0.0
