---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Janelle"},{"property":"lastname","value":"Dach"},{"property":"email","value":"30147ggpc@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFAA8E5E04F75B4CA0803B5CB65A0824CF4DACDF7000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '123684'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":11654324,"canonical-vid":11654324,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNZg9S4lvUPTIShEJJ1E961h56_bckRYUBdosO5j933PWmBEDMmEp5gEsa_viukL-4OV4hVSe_kbV37XfykZo7ARmlvngavtvHRiOx5XVLcGLGjAv9OQoqVev6idI2UrMZwNXOa","profile-url":"https://app.hubspot.com/contacts/62515/contact/11654324","properties":{"firstname":{"value":"Janelle","versions":[{"value":"Janelle","source-type":"API","source-id":null,"source-label":null,"timestamp":1552230147679,"selected":false}]},"email":{"value":"30147ggpc@example.org","versions":[{"value":"30147ggpc@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1552230147679,"selected":false}]},"lastname":{"value":"Dach","versions":[{"value":"Dach","source-type":"API","source-id":null,"source-label":null,"timestamp":1552230147679,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11654324,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"30147ggpc@example.org","timestamp":1552230147684,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"bf15fa7e-bb36-486a-9e11-aeb5b04b9b18","timestamp":1552230147735,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:02:27 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&hapikey=<HAPI_KEY>&offset=&q=30147ggpc@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2FFFEF8E634537EFE64B3B8289B9C179848AFE4F000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '123683'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"query":"30147ggpc@example.org","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Sun, 10 Mar 2019 15:02:28 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&hapikey=<HAPI_KEY>&offset=&q=30147ggpc@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B89AEDA39AA7C7722868763B390D46FEE6BEFFDC4000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '123664'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"query":"30147ggpc@example.org","offset":1,"has-more":false,"total":1,"contacts":[{"vid":11654324,"canonical-vid":11654324,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOrSb3xAI34-eAxkbGQCelT1gWXWxtk0pt5Efm7ZDGcx8u_fl2xBimPd4QVePJztqbPT7tuddtPdk-AQBbs9kfWni6kan21wsSLjSKQvWM0CWxj_BRMQTTwuWuEc1mAidQwH3Ih","profile-url":"https://app.hubspot.com/contacts/62515/contact/11654324","properties":{"firstname":{"value":"Janelle"},"hs_email_optout_354586":{"value":""},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"hs_email_quarantined":{"value":""},"createdate":{"value":"1552230147684"},"hs_social_num_broadcast_clicks":{"value":"0"},"hs_analytics_last_timestamp":{"value":""},"hs_email_optout":{"value":""},"hs_email_optout_5375287":{"value":""},"hs_email_recipient_fatigue_recovery_time":{"value":""},"hs_predictivecontactscore":{"value":"50"},"hs_analytics_num_visits":{"value":"0"},"hs_email_optout_5476312":{"value":""},"hs_social_linkedin_clicks":{"value":"0"},"hs_analytics_last_visit_timestamp":{"value":""},"hs_social_last_engagement":{"value":""},"hs_analytics_source":{"value":"OFFLINE"},"hs_analytics_first_touch_converting_campaign":{"value":""},"hs_analytics_num_page_views":{"value":"0"},"hs_email_domain":{"value":"example.org"},"email":{"value":"30147ggpc@example.org"},"hs_email_optout_4744389":{"value":""},"hs_predictivecontactscorebucket":{"value":"bucket_3"},"hubspotscore":{"value":"0"},"hs_analytics_first_visit_timestamp":{"value":""},"hs_analytics_first_timestamp":{"value":"1552230147684"},"lastmodifieddate":{"value":"1552230164581"},"hs_email_optout_5583924":{"value":""},"hs_analytics_last_touch_converting_campaign":{"value":""},"hs_social_google_plus_clicks":{"value":"0"},"hs_email_optout_4447431":{"value":""},"hs_lifecyclestage_subscriber_date":{"value":"1552230147684"},"hs_analytics_average_page_views":{"value":"0"},"hs_email_optout_1281663":{"value":""},"hs_email_optout_230318":{"value":""},"lastname":{"value":"Dach"},"hs_all_contact_vids":{"value":"11654324"},"hs_social_facebook_clicks":{"value":"0"},"num_conversion_events":{"value":"0"},"currentlyinworkflow":{"value":"false"},"hs_analytics_num_event_completions":{"value":"0"},"hs_analytics_source_data_2":{"value":""},"hs_social_twitter_clicks":{"value":"0"},"hs_analytics_source_data_1":{"value":"API"},"lifecyclestage":{"value":"subscriber"},"hs_email_optout_5479310":{"value":""},"hs_email_optout_2849":{"value":""}},"form-submissions":[],"identity-profiles":[{"vid":11654324,"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"30147ggpc@example.org","timestamp":1552230147684,"is-primary":true},{"type":"LEAD_GUID","value":"bf15fa7e-bb36-486a-9e11-aeb5b04b9b18","timestamp":1552230147735}]}],"merge-audits":[]}]}'
  recorded_at: Sun, 10 Mar 2019 15:03:28 GMT
[...]
