---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Florene"},{"property":"lastname","value":"Bailey"},{"property":"email","value":"81084nsae@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B09BC093B2EAE43CFD067B8F4B4DEC6CBF23AA461000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979453'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":12053824,"canonical-vid":12053824,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPqJI9S1rEUKPZ9Z_xPjr8Iv_MD9hlf35r2NTsYQbbFW3-Pg3IFoGnRe1hECxwMmqICs7OZhiCfu72xoFjMl0-RGZHVnTZi4iK6BiJtRBX2ftg9XtQG0EHsOp_LqfxzaZo9kp4Q","profile-url":"https://app.hubspot.com/contacts/62515/contact/12053824","properties":{"firstname":{"value":"Florene","versions":[{"value":"Florene","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981084432,"selected":false}]},"email":{"value":"81084nsae@example.com","versions":[{"value":"81084nsae@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981084432,"selected":false}]},"lastname":{"value":"Bailey","versions":[{"value":"Bailey","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981084432,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12053824,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81084nsae@example.com","timestamp":1556981084438,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"4f963307-5ab7-431d-b38d-73b7e63dae00","timestamp":1556981084449,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:44 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/12053824/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":12053277}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BD799FF76166436E7DBB36A628FBB66FF5D430E1B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979451'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Sat, 04 May 2019 14:44:45 GMT
recorded_with: VCR 4.0.0
