---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1/contacts/1?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFE94E1F0F5FB0729826BCF1CFD012E79B2069A65000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979501'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a company with the ID ''1''
        in portal ''62515''","correlationId":"e2fbd77d-011a-448e-b716-127c26146599","requestId":"e5f62eb2bf0bcfd004e6371b23c3130c"}'
  recorded_at: Sat, 04 May 2019 14:44:21 GMT
recorded_with: VCR 4.0.0
