---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2B42D4A8BDE9CFC4BCBF76010425C1D21ED86ABB000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126868'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664906146,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280277230,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280277230,"source":"CALCULATED","sourceVid":[],"requestId":"c1f0ef55-5528-4f18-a125-a43c96437bc9"}]},"hs_lastmodifieddate":{"value":"1551280277230","timestamp":1551280277230,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280277230","timestamp":1551280277230,"source":"CALCULATED","sourceVid":[],"requestId":"c1f0ef55-5528-4f18-a125-a43c96437bc9"}]},"domain":{"value":"padberg.biz","timestamp":1551280277230,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280277230,"source":"API","sourceVid":[],"requestId":"c1f0ef55-5528-4f18-a125-a43c96437bc9"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280277230,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280277230,"source":"API","sourceVid":[],"requestId":"c1f0ef55-5528-4f18-a125-a43c96437bc9"}]},"createdate":{"value":"1551280277230","timestamp":1551280277230,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280277230","timestamp":1551280277230,"source":"API","sourceVid":[],"requestId":"c1f0ef55-5528-4f18-a125-a43c96437bc9"},{"name":"createdate","value":"1551280277230","timestamp":1551280277230,"sourceId":"API","source":"API","sourceVid":[],"requestId":"c1f0ef55-5528-4f18-a125-a43c96437bc9"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:17 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=1664906146
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BDEEB82FA14D657F9F904840319AF2DBA9BC4A868000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126867'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"has-more":false,"offset":1664911095,"companies":[{"portalId":62515,"companyId":1664908830,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664908831,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664911094,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":1664911095,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}]}'
  recorded_at: Wed, 27 Feb 2019 15:11:17 GMT
recorded_with: VCR 4.0.0
