---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dicki-McKenzie"},{"name":"domain","value":"walker.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249627'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '88'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":2606372793,"isDeleted":false,"properties":{"website":{"value":"walker.org","timestamp":1574269513014,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"walker.org","timestamp":1574269513014,"source":"CALCULATED","sourceVid":[],"requestId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc"}]},"hs_lastmodifieddate":{"value":"1574269513014","timestamp":1574269513014,"source":"CALCULATED","sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","versions":[{"name":"hs_lastmodifieddate","value":"1574269513014","timestamp":1574269513014,"sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","source":"CALCULATED","sourceVid":[],"requestId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc"}]},"domain":{"value":"walker.org","timestamp":1574269513014,"source":"API","sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","versions":[{"name":"domain","value":"walker.org","timestamp":1574269513014,"sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","source":"API","sourceVid":[],"requestId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc"}]},"hs_object_id":{"value":"2606372793","timestamp":1574269513014,"source":"API","sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","versions":[{"name":"hs_object_id","value":"2606372793","timestamp":1574269513014,"sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","source":"API","sourceVid":[],"requestId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc"}]},"name":{"value":"Dicki-McKenzie","timestamp":1574269513014,"source":"API","sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","versions":[{"name":"name","value":"Dicki-McKenzie","timestamp":1574269513014,"sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","source":"API","sourceVid":[],"requestId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc"}]},"createdate":{"value":"1574269513014","timestamp":1574269513014,"source":"API","sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","versions":[{"name":"createdate","value":"1574269513014","timestamp":1574269513014,"sourceId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc","source":"API","sourceVid":[],"requestId":"171f3825-3eb3-47a3-b37d-b9bc22b2f3fc"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 20 Nov 2019 17:05:13 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Valeria"},{"property":"lastname","value":"Altenwerth"},{"property":"email","value":"kazuko.macejkovic@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249626'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '87'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"vid":73701,"canonical-vid":73701,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mP88QTYSc_GcredKWGeh2j1omAm_afeh6qtY-Jni0B33j0vCxSGRsepVIwzBg0QDgovaM-FGxvM-LwX4nvhnj-XoZYxYdT41INhswANnvafmORnSICeKkaPUC9ZXOJKnT5RZmqR","profile-url":"https://app.hubspot.com/contacts/62515/contact/73701","properties":{"firstname":{"value":"Valeria","versions":[{"value":"Valeria","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269513266,"selected":false}]},"email":{"value":"kazuko.macejkovic@example.org","versions":[{"value":"kazuko.macejkovic@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269513266,"selected":false}]},"lastname":{"value":"Altenwerth","versions":[{"value":"Altenwerth","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269513266,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":73701,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"kazuko.macejkovic@example.org","timestamp":1574269513273,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ba9c731a-58e2-4328-8e77-0aba2dc38d83","timestamp":1574269513296,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 20 Nov 2019 17:05:13 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":2606372793,"toObjectId":73701,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249625'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '86'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Nov 2019 17:05:14 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":2606372793,"toObjectId":73701,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249624'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Nov 2019 17:05:14 GMT
recorded_with: VCR 5.0.0
