---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B1BBB0FA9F6FFEE3507036EC82167D1984A38EB8E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126883'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664911095,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1551280271761","timestamp":1551280271761,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280271761","timestamp":1551280271761,"source":"CALCULATED","sourceVid":[],"requestId":"bf7ee12a-a291-4a84-bddb-dfe229848135"}]},"createdate":{"value":"1551280271761","timestamp":1551280271761,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280271761","timestamp":1551280271761,"source":"API","sourceVid":[],"requestId":"bf7ee12a-a291-4a84-bddb-dfe229848135"},{"name":"createdate","value":"1551280271761","timestamp":1551280271761,"sourceId":"API","source":"API","sourceVid":[],"requestId":"bf7ee12a-a291-4a84-bddb-dfe229848135"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:11 GMT
recorded_with: VCR 4.0.0
