---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Klein, Bogan and Tremblay"},{"name":"domain","value":"hackett.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFC6297B93AD66ABF1EBC2010C3DAABF2C5E661DE000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979553'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897466916,"isDeleted":false,"properties":{"website":{"value":"hackett.org","timestamp":1556981032837,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"hackett.org","timestamp":1556981032837,"source":"CALCULATED","sourceVid":[],"requestId":"eebc42c2-020a-4e8a-a50c-d9dc2b7fbed7"}]},"hs_lastmodifieddate":{"value":"1556981032837","timestamp":1556981032837,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981032837","timestamp":1556981032837,"source":"CALCULATED","sourceVid":[],"requestId":"eebc42c2-020a-4e8a-a50c-d9dc2b7fbed7"}]},"domain":{"value":"hackett.org","timestamp":1556981032837,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"hackett.org","timestamp":1556981032837,"source":"API","sourceVid":[],"requestId":"eebc42c2-020a-4e8a-a50c-d9dc2b7fbed7"}]},"name":{"value":"Klein,
        Bogan and Tremblay","timestamp":1556981032837,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Klein,
        Bogan and Tremblay","timestamp":1556981032837,"source":"API","sourceVid":[],"requestId":"eebc42c2-020a-4e8a-a50c-d9dc2b7fbed7"}]},"createdate":{"value":"1556981032837","timestamp":1556981032837,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981032837","timestamp":1556981032837,"source":"API","sourceVid":[],"requestId":"eebc42c2-020a-4e8a-a50c-d9dc2b7fbed7"},{"name":"createdate","value":"1556981032837","timestamp":1556981032837,"sourceId":"API","source":"API","sourceVid":[],"requestId":"eebc42c2-020a-4e8a-a50c-d9dc2b7fbed7"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:52 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1897466916?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B3EB91B2D69022088347E6060048154DD59AAE7DF000000000000000000
      X-Hubspot-Ra[...]
