---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Earle"},{"property":"lastname","value":"Daugherty"},{"property":"email","value":"32043pfnd@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B03B8DAF05CF71C5E3D0F34B7C7DD64E99D25425C000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122549'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"vid":11655274,"canonical-vid":11655274,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNZ4TbEF7mLgq7l5tK6GVOzbZLlszMy4YR7lAsvD1KwLwF4HrfPbUOmzPJr8EQuvIDX3apf_HVOk9rtkb5SuhVJeqLROCehqUkO6pfJQESRysfh6aj5KsxNVdl4fNMTfYfYxkqT","profile-url":"https://app.hubspot.com/contacts/62515/contact/11655274","properties":{"firstname":{"value":"Earle","versions":[{"value":"Earle","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232043894,"selected":false}]},"email":{"value":"32043pfnd@example.org","versions":[{"value":"32043pfnd@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232043894,"selected":false}]},"lastname":{"value":"Daugherty","versions":[{"value":"Daugherty","source-type":"API","source-id":null,"source-label":null,"timestamp":1552232043894,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":11655274,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"32043pfnd@example.org","timestamp":1552232043898,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"104bab25-b03c-4a19-a95d-e28d05a7744d","timestamp":1552232043909,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 10 Mar 2019 15:34:04 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/11655274/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":11655324}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BB7517F46B553549EBCF5CB092ECDC79474D52938000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '122546'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Sun, 10 Mar 2019 15:34:06 GMT
recorded_with: VCR 4.0.0
