---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Conroy, Kiehn and Gleason"},{"name":"domain","value":"yostbartell.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B653FAA0D7F299502807C51ABABCA5708A32B9CBD000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979513'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897515216,"isDeleted":false,"properties":{"website":{"value":"yostbartell.net","timestamp":1556981057563,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"yostbartell.net","timestamp":1556981057563,"source":"CALCULATED","sourceVid":[],"requestId":"ed726e97-d7d6-41f5-bffe-590b5d3f5f51"}]},"hs_lastmodifieddate":{"value":"1556981057563","timestamp":1556981057563,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981057563","timestamp":1556981057563,"source":"CALCULATED","sourceVid":[],"requestId":"ed726e97-d7d6-41f5-bffe-590b5d3f5f51"}]},"domain":{"value":"yostbartell.net","timestamp":1556981057563,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"yostbartell.net","timestamp":1556981057563,"source":"API","sourceVid":[],"requestId":"ed726e97-d7d6-41f5-bffe-590b5d3f5f51"}]},"name":{"value":"Conroy,
        Kiehn and Gleason","timestamp":1556981057563,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Conroy,
        Kiehn and Gleason","timestamp":1556981057563,"source":"API","sourceVid":[],"requestId":"ed726e97-d7d6-41f5-bffe-590b5d3f5f51"}]},"createdate":{"value":"1556981057563","timestamp":1556981057563,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981057563","timestamp":1556981057563,"source":"API","sourceVid":[],"requestId":"ed726e97-d7d6-41f5-bffe-590b5d3f5f51"},{"name":"createdate","value":"1556981057563","timestamp":1556981057563,"sourceId":"API","source":"API","sourceVid":[],"requestId":"ed726e97-d7d6-41f5-bffe-590b5d3f5f51"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:17 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Jeffery"},{"property":"lastname","value":"Hermiston"},{"property":"email","value":"81057rjyj@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B3044E8F0761161F3C3B15FA0CB8BBA643C04F985000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979512'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"vid":12052824,"canonical-vid":12052824,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOqBB77gqiLE-3taj4nCeKoi6YCNfouVA9lG2pjtOt-jntul1By1OLaguwBK2Yt5CSaia3ofZ_2Ei0aopjat1YxRqbe1vwQK1Om9vgI8uJvF9pHi0TH7PLZQruclsYwzdiBB3Pa","profile-url":"https://app.hubspot.com/contacts/62515/contact/12052824","properties":{"firstname":{"value":"Jeffery","versions":[{"value":"Jeffery","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981057836,"selected":false}]},"email":{"value":"81057rjyj@example.org","versions":[{"value":"81057rjyj@example.org","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981057836,"selected":false}]},"lastname":{"value":"Hermiston","versions":[{"value":"Hermiston","source-type":"API","source-id":null,"source-label":null,"timestamp":1556981057836,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":12052824,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"81057rjyj@example.org","timestamp":1556981057842,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"1d136dd8-a648-4ee6-a85c-84421dffab72","timestamp":1556981057855,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sat, 04 May 2019 14:44:18 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1897515216/contacts/12052824?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B87E5C2AF23C9FD8C5FE53D92F3F26EEE1B99511B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '100[...]
