---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B244F460A2A72DEEABBB8FD7D224333C55EEFDC7F000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126882'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '55'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664887030,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280271931,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280271931,"source":"CALCULATED","sourceVid":[],"requestId":"279350ec-ed67-4774-b0cd-670cedb26856"}]},"hs_lastmodifieddate":{"value":"1551280271931","timestamp":1551280271931,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280271931","timestamp":1551280271931,"source":"CALCULATED","sourceVid":[],"requestId":"279350ec-ed67-4774-b0cd-670cedb26856"}]},"domain":{"value":"padberg.biz","timestamp":1551280271931,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280271931,"source":"API","sourceVid":[],"requestId":"279350ec-ed67-4774-b0cd-670cedb26856"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280271931,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280271931,"source":"API","sourceVid":[],"requestId":"279350ec-ed67-4774-b0cd-670cedb26856"}]},"createdate":{"value":"1551280271931","timestamp":1551280271931,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280271931","timestamp":1551280271931,"source":"API","sourceVid":[],"requestId":"279350ec-ed67-4774-b0cd-670cedb26856"},{"name":"createdate","value":"1551280271931","timestamp":1551280271931,"sourceId":"API","source":"API","sourceVid":[],"requestId":"279350ec-ed67-4774-b0cd-670cedb26856"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:12 GMT
recorded_with: VCR 4.0.0
