---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BB38D60E4B879ECA4E02F21AFC4793A7CCA34475D000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126880'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664906142,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280272562,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280272562,"source":"CALCULATED","sourceVid":[],"requestId":"6b665298-b3df-4fc2-9852-19e520970559"}]},"hs_lastmodifieddate":{"value":"1551280272562","timestamp":1551280272562,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280272562","timestamp":1551280272562,"source":"CALCULATED","sourceVid":[],"requestId":"6b665298-b3df-4fc2-9852-19e520970559"}]},"domain":{"value":"padberg.biz","timestamp":1551280272562,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280272562,"source":"API","sourceVid":[],"requestId":"6b665298-b3df-4fc2-9852-19e520970559"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280272562,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280272562,"source":"API","sourceVid":[],"requestId":"6b665298-b3df-4fc2-9852-19e520970559"}]},"createdate":{"value":"1551280272562","timestamp":1551280272562,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280272562","timestamp":1551280272562,"source":"API","sourceVid":[],"requestId":"6b665298-b3df-4fc2-9852-19e520970559"},{"name":"createdate","value":"1551280272562","timestamp":1551280272562,"sourceId":"API","source":"API","sourceVid":[],"requestId":"6b665298-b3df-4fc2-9852-19e520970559"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:12 GMT
recorded_with: VCR 4.0.0
