---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Angele"},{"property":"lastname","value":"McClure"},{"property":"email","value":"kermit@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249635'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"vid":73651,"canonical-vid":73651,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mM4DNo6ukkMDq03UVBhud8q2MpD9nlsmI3LTvfaopZvOVkGKZ1tlJpQ5FECIquMWlcBRoJita2R56T8CJUomsIGKQTd4buy8_ovV-b9HqDFpdVdCeIfC35OyzcZerDtu7h4i_xP","profile-url":"https://app.hubspot.com/contacts/62515/contact/73651","properties":{"firstname":{"value":"Angele","versions":[{"value":"Angele","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269510363,"selected":false}]},"email":{"value":"kermit@example.com","versions":[{"value":"kermit@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269510363,"selected":false}]},"lastname":{"value":"McClure","versions":[{"value":"McClure","source-type":"API","source-id":null,"source-label":null,"timestamp":1574269510363,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":73651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"kermit@example.com","timestamp":1574269510372,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"38878ef1-df92-4c8c-9fe4-8fe7d7a28fe1","timestamp":1574269510397,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 20 Nov 2019 17:05:10 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Kub and Sons"},{"name":"domain","value":"marvinstark.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249634'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '95'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":2606350537,"isDeleted":false,"properties":{"website":{"value":"marvinstark.io","timestamp":1574269510780,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"marvinstark.io","timestamp":1574269510780,"source":"CALCULATED","sourceVid":[],"requestId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b"}]},"hs_lastmodifieddate":{"value":"1574269510780","timestamp":1574269510780,"source":"CALCULATED","sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","versions":[{"name":"hs_lastmodifieddate","value":"1574269510780","timestamp":1574269510780,"sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","source":"CALCULATED","sourceVid":[],"requestId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b"}]},"domain":{"value":"marvinstark.io","timestamp":1574269510780,"source":"API","sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","versions":[{"name":"domain","value":"marvinstark.io","timestamp":1574269510780,"sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","source":"API","sourceVid":[],"requestId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b"}]},"hs_object_id":{"value":"2606350537","timestamp":1574269510780,"source":"API","sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","versions":[{"name":"hs_object_id","value":"2606350537","timestamp":1574269510780,"sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","source":"API","sourceVid":[],"requestId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b"}]},"name":{"value":"Kub
        and Sons","timestamp":1574269510780,"source":"API","sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","versions":[{"name":"name","value":"Kub
        and Sons","timestamp":1574269510780,"sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","source":"API","sourceVid":[],"requestId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b"}]},"createdate":{"value":"1574269510780","timestamp":1574269510780,"source":"API","sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","versions":[{"name":"createdate","value":"1574269510780","timestamp":1574269510780,"sourceId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b","source":"API","sourceVid":[],"requestId":"6cbef193-69b0-4643-a00d-8a1c0dff9b5b"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 20 Nov 2019 17:05:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/2606350537/vids?count=25&hapikey=demo&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249633'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '94'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Wed, 20 Nov 2019 17:05:11 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":2606350537,"toObjectId":73651,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249632'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '93'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Nov 2019 17:05:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/2606350537/vids?count=25&hapikey=demo&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249631'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '92'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"vids":[73651],"vidOffset":73651,"hasMore":false}'
  recorded_at: Wed, 20 Nov 2019 17:05:11 GMT
recorded_with: VCR 5.0.0
