---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Leuschke-Watsica"},{"name":"domain","value":"hauck.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B871D90252309CC737785E093EDE77D673FD6AEB9000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979557'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1897466915,"isDeleted":false,"properties":{"website":{"value":"hauck.io","timestamp":1556981031717,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"hauck.io","timestamp":1556981031717,"source":"CALCULATED","sourceVid":[],"requestId":"b0cbb498-19a7-4dfd-8740-1051f87157c0"}]},"hs_lastmodifieddate":{"value":"1556981031717","timestamp":1556981031717,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1556981031717","timestamp":1556981031717,"source":"CALCULATED","sourceVid":[],"requestId":"b0cbb498-19a7-4dfd-8740-1051f87157c0"}]},"domain":{"value":"hauck.io","timestamp":1556981031717,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"hauck.io","timestamp":1556981031717,"source":"API","sourceVid":[],"requestId":"b0cbb498-19a7-4dfd-8740-1051f87157c0"}]},"name":{"value":"Leuschke-Watsica","timestamp":1556981031717,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Leuschke-Watsica","timestamp":1556981031717,"source":"API","sourceVid":[],"requestId":"b0cbb498-19a7-4dfd-8740-1051f87157c0"}]},"createdate":{"value":"1556981031717","timestamp":1556981031717,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1556981031717","timestamp":1556981031717,"source":"API","sourceVid":[],"requestId":"b0cbb498-19a7-4dfd-8740-1051f87157c0"},{"name":"createdate","value":"1556981031717","timestamp":1556981031717,"sourceId":"API","source":"API","sourceVid":[],"requestId":"b0cbb498-19a7-4dfd-8740-1051f87157c0"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Sat, 04 May 2019 14:43:51 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1897466915?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFC695A3F3F92345620E58EF0858268DB1CE263F3000000000000000000
      X-Hubspot-Ra[...]
