---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBB95A775E465D4A4A10C07F07778195255D0C6A8000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126893'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664887029,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280269742,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280269742,"source":"CALCULATED","sourceVid":[],"requestId":"da544a2c-61c8-454e-96c4-70f752d00ba3"}]},"hs_lastmodifieddate":{"value":"1551280269742","timestamp":1551280269742,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280269742","timestamp":1551280269742,"source":"CALCULATED","sourceVid":[],"requestId":"da544a2c-61c8-454e-96c4-70f752d00ba3"}]},"domain":{"value":"padberg.biz","timestamp":1551280269742,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280269742,"source":"API","sourceVid":[],"requestId":"da544a2c-61c8-454e-96c4-70f752d00ba3"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280269742,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280269742,"source":"API","sourceVid":[],"requestId":"da544a2c-61c8-454e-96c4-70f752d00ba3"}]},"createdate":{"value":"1551280269742","timestamp":1551280269742,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280269742","timestamp":1551280269742,"source":"API","sourceVid":[],"requestId":"da544a2c-61c8-454e-96c4-70f752d00ba3"},{"name":"createdate","value":"1551280269742","timestamp":1551280269742,"sourceId":"API","source":"API","sourceVid":[],"requestId":"da544a2c-61c8-454e-96c4-70f752d00ba3"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/1664887029?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7AD82AF2CC30A842DA1FE9AE7FD64BCA402F6C9A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '1268[...]
