---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner, Armstrong and Frami"},{"name":"domain","value":"padberg.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B44AD48FD2C255825FDDF852135F7923406476C5B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '126881'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1664895202,"isDeleted":false,"properties":{"website":{"value":"padberg.biz","timestamp":1551280272400,"source":"CALCULATED","sourceId":null,"versions":[{"name":"website","value":"padberg.biz","timestamp":1551280272400,"source":"CALCULATED","sourceVid":[],"requestId":"018091b6-490a-461e-bfe2-d456ef69bbe7"}]},"hs_lastmodifieddate":{"value":"1551280272400","timestamp":1551280272400,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551280272400","timestamp":1551280272400,"source":"CALCULATED","sourceVid":[],"requestId":"018091b6-490a-461e-bfe2-d456ef69bbe7"}]},"domain":{"value":"padberg.biz","timestamp":1551280272400,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"padberg.biz","timestamp":1551280272400,"source":"API","sourceVid":[],"requestId":"018091b6-490a-461e-bfe2-d456ef69bbe7"}]},"name":{"value":"Schinner,
        Armstrong and Frami","timestamp":1551280272400,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Schinner,
        Armstrong and Frami","timestamp":1551280272400,"source":"API","sourceVid":[],"requestId":"018091b6-490a-461e-bfe2-d456ef69bbe7"}]},"createdate":{"value":"1551280272400","timestamp":1551280272400,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1551280272400","timestamp":1551280272400,"source":"API","sourceVid":[],"requestId":"018091b6-490a-461e-bfe2-d456ef69bbe7"},{"name":"createdate","value":"1551280272400","timestamp":1551280272400,"sourceId":"API","source":"API","sourceVid":[],"requestId":"018091b6-490a-461e-bfe2-d456ef69bbe7"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 27 Feb 2019 15:11:12 GMT
recorded_with: VCR 4.0.0
