---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"an_invalid_email"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE1063EAF8F9BC9081FF37377E5DDE4EB5CB361B5000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '979467'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"validationResults":[{"isValid":false,"message":"Email address an_invalid_email
        is invalid","error":"INVALID_EMAIL","name":"email"}],"status":"error","message":"Property
        values were not valid","correlationId":"0a40ba3a-1594-4647-a48d-a84a6af2cb57","requestId":"feac3dd272a81eeb29178aa452ff2364"}'
  recorded_at: Sat, 04 May 2019 14:44:39 GMT
recorded_with: VCR 4.0.0
