---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1410929312000&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6NSwxMTtzZXQ6Miw3O2dldDo1LDk=
    body:
      encoding: UTF-8
      string: '{"total_count": 12, "objects": [{"archived": false, "attached_stylesheets":
        [], "author_user_id": null, "blog_author": {}, "blog_author_id": null, "blueprint_type_id":
        0, "campaign": null, "campaign_name": null, "category_id": 3, "cloned_from":
        null, "comment_count": 0, "content_group_id": 351076997, "created": 1412025195000,
        "css": {}, "css_text": "", "deleted_at": 0, "domain": "", "enable_domain_stylesheets":
        true, "enable_layout_stylesheets": true, "featured_image": "", "folder_id":
        null, "footer_html": "", "freeze_date": 1412025195000, "head_html": "", "html_title":
        "Ut voluptatum architecto qui et quos autem qui.", "id": 1729700799, "include_default_custom_css":
        null, "is_draft": true, "is_instant_email_enabled": false, "is_social_publishing_enabled":
        false, "keywords": [], "legacy_blog_tabid": null, "meta_description": null,
        "meta_keywords": null, "name": "Ut voluptatum architecto qui et quos autem
        qui.", "page_expiry_date": null, "page_expiry_enabled": null, "page_expiry_redirect_id":
        null, "page_expiry_redirect_url": null, "page_redirected": null, "performable_url":
        null, "personas": [], "portal_id": 62515, "post_body": "http://considine.net\"
        http://kris.net\" Et sunt rerum dolore eveniet culpa quaerat reprehenderit
        eum numquam necessitatibus similique officia voluptatibus asperiores et consequatur
        perferendis labore et velit sit eum excepturi voluptas tenetur quisquam pariatur
        nemo aliquam voluptates voluptas est et voluptas ea perspiciatis odio eius
        eos dolor aut mollitia dolorem impedit voluptatem explicabo deleniti sint
        libero dolores debitis sint id aut totam ut earum quae nostrum modi recusand[...]
[...]
