---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1410264000000&hapikey=demo&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MSwyO2dldDoyLDI=
    body:
      encoding: UTF-8
      string: '{"total_count": 0, "objects": [], "limit": 20, "offset": 0}'
  recorded_at: Thu, 09 Oct 2014 11:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1410264000000&hapikey=demo&order_by=-created
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MywzO2dldDo0LDg=
    body:
      encoding: UTF-8
      string: '{"total_count": 12, "objects": [{"archived": false, "attached_stylesheets":
        [], "author_user_id": null, "blog_author": {}, "blog_author_id": null, "blueprint_type_id":
        0, "campaign": null, "campaign_name": null, "category_id": 3, "cloned_from":
        null, "comment_count": 0, "content_group_id": 351076997, "created": 1412025679000,
        "css": {}, "css_text": "", "deleted_at": 0, "domain": "", "enable_domain_stylesheets":
        true, "enable_layout_stylesheets": true, "featured_image": "", "folder_id":
        null, "footer_html": "", "freeze_date": 1412025679000, "head_html": "", "html_title":
        "My first API blog post!", "id": 1730091378, "include_default_custom_css":
        null, "is_draft": true, "is_instant_email_enabled": false, "is_social_publishing_enabled":
        false, "keywords": [], "legacy_blog_tabid": null, "meta_description": null,
        "meta_keywords": null, "name": "My first API blog post!", "page_expiry_date":
        null, "page_expiry_enabled": null, "page_expiry_redirect_id": null, "page_expiry_redirect_url":
        null, "page_redirected": null, "performable_url": null, "personas": [], "portal_id":
        62515, "post_body": null, "post_summary": null, "preview_image_src": null,
        "preview_key": "bLUF9z_Z", "processing_status": "", "publish_date": 1412025679000,
        "publish_immediately": null, "published_url": null, "rss_body": "", "rss_email_by_text":
        "By", "rss_email_click_through_text": "Read more &raquo;", "rss_email_comment_text":
        "Comment &raquo;", "rss_summary": "", "scheduled_update_date": null, "slug":
        "blog/-temporary-slug-5c696180-02e4-4620-b87d-938c94904852", "state": "DRAFT",
        "style_override_id": null, "subcategory": "normal_blog_post", "topic_ids":
        [], "unpublished_at": null, "updated": 1412025679000, "url": "http://62515.hs-sites.com/blog/-temporary-slug-5c696180-02e4-4620-b87d-938c94904852",
        "use_featured_image": true, "views": 0, "widget_containers": {}, "widgets":
        {}}, {"archived": false, "attached_stylesheets": [], "author_user_id": null,
        "blog_author": {}, "blog_author_id": null, "blueprint_type_id": 0, "campaign":
        null, "campaign_name": null, "category_id": 3, "cloned_from": null, "comment_count":
        0, "content_group_id": 351076997, "created": 1412025229000, "css": {}, "css_text":
        "", "deleted_at": 0, "domain": "", "enable_domain_stylesheets": true, "enable_layout_stylesheets":
        true, "featured_image": "", "folder_id": null, "footer_html": "", "freeze_date":
        1412025229000, "head_html": "", "html_title": "Et autem molestiae rerum vitae
        qui saepe dolorem.", "id": 1732211326, "include_default_custom_css": null,
        "is_draft": true, "is_instant_email_enabled": false, "is_social_publishing_enabled":
        false, "keywords": [], "legacy_blog_tabid": null, "meta_description": null,
        "meta_keywords": null, "name": "Et autem molestiae rerum vitae qui saepe dolorem.",
        "page_expiry_date": null, "page_expiry_enabled": null, "page_expiry_redirect_id":
        null, "page_expiry_redirect_url": null, "page_redirected": null, "performable_url":
        null, "personas": [], "portal_id": 62515, "post_body": "http://halvorson.biz\"
        http://dach.net\" A adipisci delectus voluptatum incidunt sint ipsa et culpa
        aspernatur nisi eligendi perspiciatis quia rem maxime tempora eum vel dolorem
        doloremque hic facilis et architecto consectetur eos iste totam perferendis
        natus qui fugit sint eaque et ut nihil unde dolor aut iure quia omnis in quidem
        veritatis ea non nihil aut voluptatem ea officia excepturi cum nulla voluptate
        error sequi cupiditate autem rerum sunt quo atque quasi non sit autem iusto[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1410264000000&hapikey=demo&order_by=-created&state=TRUE
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MiwyO3NldDoxLDE7Z2V0OjIsMw==
    body:
      encoding: UTF-8
      string: '{"total_count": 0, "objects": [], "limit": 20, "offset": 0}'
  recorded_at: Thu, 09 Oct 2014 11:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1410264000000&hapikey=demo&order_by=-created&state=INVALID
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6Miw5O3NldDoxLDE7Z2V0OjIsMw==
    body:
      encoding: UTF-8
      string: '{"total_count": 0, "objects": [], "limit": 20, "offset": 0}'
  recorded_at: Thu, 09 Oct 2014 11:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1347192000000&hapikey=demo&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MjIsMjM7c2V0OjUsODtzZXRfbWFueToxLDM7Z2V0OjE4LDM5
    body:
      encoding: UTF-8
      string: '{"total_count": 13, "objects": [{"archived": false, "attached_stylesheets":
        [], "author_user_id": 215482, "blog_author": {"avatar": "", "bio": "", "body":
        {}, "created": 1377856983000, "deleted_at": 0, "email": "testapi@hubspot.com",
        "facebook": "", "full_name": "Hub Spot", "google_plus": "", "gravatar_url":
        "https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4",
        "id": 284839243, "linkedin": "", "portal_id": 62515, "slug": "hub-spot", "twitter":
        "", "updated": 1377856983000, "user_id": 215482, "username": "testapi@hubspot.com",
        "website": ""}, "blog_author_id": 284839243, "blueprint_type_id": 0, "campaign":
        "7ff4cdd8-e000-4f34-86a5-3f549cceaf0b", "campaign_name": "Johnnys Campaign",
        "category_id": 3, "cloned_from": null, "comment_count": 0, "content_group_id":
        351076997, "created": 1390295344000, "css": {}, "css_text": "", "deleted_at":
        0, "domain": "", "enable_domain_stylesheets": true, "enable_layout_stylesheets":
        true, "featured_image": "", "folder_id": null, "footer_html": "", "freeze_[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1347192000000&hapikey=demo&order_by=-created&state=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MiwxO3NldDoyLDI7Z2V0OjIsNA==
    body:
      encoding: UTF-8
      string: '{"total_count": 0, "objects": [], "limit": 20, "offset": 0}'
  recorded_at: Tue, 09 Oct 2012 11:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&hapikey=demo&order_by=-created&state=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6Miw0O3NldDoxLDE7Z2V0OjIsMg==
    body:
      encoding: UTF-8
      string: '{"total_count": 0, "objects": [], "limit": 20, "offset": 0}'
  recorded_at: Tue, 09 Oct 2012 11:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&hapikey=demo&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MjIsMjE7c2V0OjUsMTA7Z2V0OjE4LDIx
    body:
      encoding: UTF-8
      string: '{"total_count": 13, "objects": [{"arc[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&hapikey=demo&order_by=-created
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6NywxMjtzZXQ6MywxNTtnZXQ6NSw3
    body:
      encoding: UTF-8
      string: '{"total_count": 192, "objects": [{"archived": false, "att[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&hapikey=demo&order_by=%20created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MSwxO3NldDoxLDI7Z2V0OjIsNA==
      X-Trace:
      - 1B6148E50281A9A034FE4961F21110272C111975F7C30C306E39987165
    body:
      encoding: UTF-8
      string: '{"message": "You can not sort by  created because it is not a valid
        field", "errors": [], "succeeded": false}'
  recorded_at: Tue, 09 Oct 2012 11:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1347192000000&hapikey=demo&order_by=%20created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MSwwO2dldDoyLDI=
    body:
      encoding: UTF-8
      string: '{"message": "You can not sort by  created because it is not a valid
        field", "errors": [], "succeeded": false}'
  recorded_at: Tue, 09 Oct 2012 11:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__gt=1344513600000&hapikey=demo&limit=10&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MTYsMTM7c2V0OjIsMztzZXRfbWFueToxLDA7Z2V0OjE1LDEz
    body:
      encoding: UTF-8
 [...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__range=1412852400000&hapikey=demo&order_by=-created
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6NywxMztzZXQ6NCw5O3NldF9tYW55OjEsMDtnZXQ6NSwxMA==
    body:
      encoding: UTF-8
      string: '{"total_[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__range=1412852400000&hapikey=demo&limit=10&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MTgsOTtzZXQ6NCw2O3NldF9tYW55OjEsMDtnZXQ6MTUsMTg=
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__range=1412852400000&hapikey=demo&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MTksMTI7c2V0OjIsMztzZXRfbWFueToxLDE7Z2V0OjE4LDE2
    body:
      encoding: UTF-8
      s[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__range=1412852400000&hapikey=demo&order_by=%20created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MSwxO2dldDoyLDQ=
    body:
      encoding: UTF-8
      string: '{"message": "You can not sort by  created because it is not a valid
        field", "errors": [], "succeeded": false}'
  recorded_at: Tue, 09 Oct 2012 11:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=351076997&created__range=1412910000000&hapikey=demo&limit=10&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MTksMjc7c2V0OjUsODtnZXQ6MTYsNTk=
    body:
      encoding: UTF-8
      string: '{"total_count": 13, "objects": [{"analytics_page_id": null, "archived":
        false, "attached_stylesheets": [], "author_user_id": 215482, "blog_author":
        {"avatar": "", "bio": "", "body": {}, "created": 1377856983000, "deleted_at":
        0, "email": "testapi@hubspot.com", "facebook": "", "full_name": "Hub Spot",
        "google_plus": "", "gravatar_url": "https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4",
        "id": 284839243, "linkedin": "", "portal_id": 62515, "slug": "hub-spot", "twitter":
        "", "upd[...]
[...]
