---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?hapikey=demo&portalId=62515
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"portalId":62515,"ownerId":72,"type":"PERSON","firstName":"Aaron","lastName":"Oman","email":"aaron@unbounce.com","createdAt":1405605859739,"updatedAt":1446764930941,"remoteList":[{"id":29619,"portalId":62515,"ownerId":72,"remoteId":"254556","remoteType":"HUBSPOT","active":true}]},{"portalId":62515,"ownerId":81,"type":"PERSON","firstName":"Aaron","lastName":"Oman","email":"support@unbounce.com","createdAt":1405605861125,"updatedAt":1446764931682,"remoteList":[{"id":29899,"portalId":62515,"ownerId":81,"remoteId":"329822","remoteType":"HUBSPOT","active":true}]},{"portalId":62515,"ownerId":75,"type":"PERSON","firstName":"AdWords","lastName":"App","email":"adwordsapp@websitepublicity.com","createdAt":1405605860232,"updatedAt":1446764931762,"remoteList":[{"id":29739,"p[...]
