---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/static?count=2&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1336673990262,"lastSizeChangeAt":1424559295352,"error":"","size":0},"dynamic":false,"portalId":62515,"createdAt":1336673951299,"updatedAt":1336673951299,"listId":2,"filters":[[{"operator":"IS_NOT_EMPTY","withinTimeMode":"PAST","property":"twitterhandle"}]],"internalListId":2,"name":"HubSpot-HootSuite
        App"},{"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1344891893390,"lastSizeChangeAt":1424561205790,"error":"","size":2},"dynamic":false,"portalId":62515,"createdAt":1344891893390,"listType":"STATIC","updatedAt":1344891893390,"listId":3,"filters":[],"internalListId":5,"name":"staticTest"}],"offset":2,"has-more":true}'
  recorded_at: Sat, 21 Feb 2015 23:32:57 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/3/contacts/all?count=2&hapikey=demo&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1405720281340,"vid":233443,"canonical-vid":233443,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPb8t4UMyhKYuCYQn5-imBRBo9BDjXQZ8Du3oj2bc29H3WXKC3HCkANkFR7pyr73O37uRg6W2nvihx652BOcXd8SBWt772Z4W_NVPWNbrejPFyiik3humvniib1NqstlYsVqZ4r","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPb8t4UMyhKYuCYQn5-imBRBo9BDjXQZ8Du3oj2bc29H3WXKC3HCkANkFR7pyr73O37uRg6W2nvihx652BOcXd8SBWt772Z4W_NVPWNbrejPFyiik3humvniib1NqstlYsVqZ4r/","properties":{"lastmodifieddate":{"value":"1423206192349"},"email":{"value":"test@123456789test.com"}},"form-submissions":[],"identity-profiles":[{"vid":233443,"saved-at-timestamp":1405720240435,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"test@123456789test.com","timestamp":1405720240352},{"type":"LEAD_GUID","value":"c5d75e47-8abe-4977-a494-d6a5243dd6bc","timestamp":1405720240369}]}],"merge-audits":[]},{"addedAt":1406676072454,"vid":234368,"canonical-vid":234368,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPsanEOa85h8HlhRpZ-_cfVVkU55CswfPRsIejQiqOZVYiEPg2hPDdKj_s3RM8n5cjxuiPPd5e3jRrdJ8R41C7NCYSXJABeC_LtToznJDSmpDJnFdRIrzZi9Q23j0x7Q2WOMZsz","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPsanEOa85h8HlhRpZ-_cfVVkU55CswfPRsIejQiqOZVYiEPg2hPDdKj_s3RM8n5cjxuiPPd5e3jRrdJ8R41C7NCYSXJABeC_LtToznJDSmpDJnFdRIrzZi9Q23j0x7Q2WOMZsz/","properties":{"lastmodifieddate":{"value":"1423206205727"},"email":{"value":"osmond@azuqua.com"}},"form-submissions":[],"identity-profiles":[{"vid":234368,"saved-at-timestamp":1406666653355,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"osmond@azuqua.com","timestamp":1406666653316},{"type":"LEAD_GUID","value":"68f561be-6908-4e97-880f-b372d3bb11a8","timestamp":1406666653342}]}],"merge-audits":[]}],"has-more":false,"vid-offset":234368}'
  recorded_at: Sat, 21 Feb 2015 23:32:58 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/3/remove?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"vids":[233443,234368]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"updated":[233443,234368],"discarded":[]}'
  recorded_at: Sat, 21 Feb 2015 23:32:59 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/dynamic?count=1&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"dynamic":true,"metaData":{"processing":"DONE","lastProcessingStateChangeAt":1335448864306,"error":"","lastSizeChangeAt":1424402567742,"size":3355},"filters":[[{"operator":"IS_NOT_EMPTY","withinTimeMode":"PAST","property":"twitterhandle"}]],"portalId":62515,"createdAt":1335448813688,"listId":1,"updatedAt":1335448813688,"listType":"DYNAMIC","internalListId":1,"name":"twitterers"}],"offset":1,"has-more":true}'
  recorded_at: Sat, 21 Feb 2015 23:33:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1/contacts/recent?count=1&hapikey=demo&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1424402567710,"vid":263687,"canonical-vid":263687,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOLQAb6JByotsEJIGvfPTBqk3_9vvz3ee2-Q9su_4UEimZcZdxTwYjMp0qZuqFqmaOFhHtul-HVvM6-J83RtYrGl0x37FyQZhpiH28TMzUq8MPqWsFNNQp3ZKTnmTeG4oLnHYhU","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mOLQAb6JByotsEJIGvfPTBqk3_9vvz3ee2-Q9su_4UEimZcZdxTwYjMp0qZuqFqmaOFhHtul-HVvM6-J83RtYrGl0x37FyQZhpiH28TMzUq8MPqWsFNNQp3ZKTnmTeG4oLnHYhU/","properties":{"lastmodifieddate":{"value":"1424402575285"},"email":{"value":"andrewglover+pivotdesk@gmail.com"}},"form-submissions":[],"identity-profiles":[{"vid":263687,"saved-at-timestamp":1424379142579,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"andrewglover+pivotdesk@gmail.com","timestamp":1424379142521},{"type":"LEAD_GUID","value":"95df8bed-3940-4f27-af69-076db8cd0d72","timestamp":1424379142525}]}],"merge-audits":[]}],"has-more":true,"vid-offset":263687,"time-offset":1424402567710}'
  recorded_at: Sat, 21 Feb 2015 23:33:02 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1/remove?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"vids":[263687]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Can not operate manually on a dynamic
        list","requestId":"10ad0135-43f1-4c8d-bf84-16d1dbb83ec4"}'
  recorded_at: Sat, 21 Feb 2015 23:33:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/3/add?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"vids":[82325]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"updated":[],"discarded":[]}'
  recorded_at: Sat, 21 Feb 2015 23:43:36 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/4/remove?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"vids":[240665,261954]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"updated":[261954,240665],"discarded":[]}'
  recorded_at: Sat, 21 Feb 2015 23:53:00 GMT
recorded_with: VCR 2.4.0
