---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/contacts/v2/groups/named/ff_group1?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Tue, 05 Jan 2016 22:51:36 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/groups/named/ff_group1?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Thu, 18 Aug 2016 14:05:12 GMT
recorded_with: VCR 2.4.0
