---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/contacts/v2/properties/named/my_new_property?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","groupName":"contactinformation","description":"What
        is their favorite flavor?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        is their favorite flavor?","groupName":"contactinformation","type":"string","fieldType":"text","hidden":false,"options":[],"displayOrder":0,"formField":true,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"calculated":false,"externalOptions":false,"displayMode":"current_value"}'
  recorded_at: Tue, 05 Jan 2016 22:51:32 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/properties/named/my_new_property?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","groupName":"companyinformation","description":"What
        is their favorite flavor?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        is their favorite flavor?","groupName":"companyinformation","type":"string","fieldType":"text","options":[],"displayOrder":0,"hidden":false,"formField":true,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"displayMode":"current_value","calculated":false,"readOnlyValue":false,"externalOptions":false}'
  recorded_at: Thu, 18 Aug 2016 14:04:53 GMT
recorded_with: VCR 2.4.0
