---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/recently_updated/contacts/recent?hapikey=demo&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B43303F2C3B25D34CD42A8FEB0063C2249A018AD2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1519680640618,"vid":6165724,"canonical-vid":6165724,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMXRb1Kzg4knSY-ftJPeUXQoYSSzQ5iam_apwKnzekEtf3ZHRz8YQMoAjQsU0lYmaxdkR9MyihOmgYdO_Vra2rDjt9vFQmQG0EpLEOyyCGV2-rwfgGuSdEV58yjhmfXlLdcYORa","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMXRb1Kzg4knSY-ftJPeUXQoYSSzQ5iam_apwKnzekEtf3ZHRz8YQMoAjQsU0lYmaxdkR9MyihOmgYdO_Vra2rDjt9vFQmQG0EpLEOyyCGV2-rwfgGuSdEV58yjhmfXlLdcYORa/","properties":{"lastmodifieddate":{"value":"1519680640618"}},"form-submissions":[],"identity-profiles":[{"vid":6165724,"saved-at-timestamp":1519680628858,"deleted-changed-timestamp":0,"identities":[{"type":"LEAD_GUID","value":"243d6327-a9df-455d-83ae-8d155edb286f","timestamp":1519680628853}]}],"merge-audits":[]},{"addedAt":1519679597795,"vid":6165674,"canonical-vid":6165674,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mM1wA_mZiLDPDVbWOxsW0T1H99gWBjK8GETLubfvqxGUy3YMXJRcbn1b8_hk2o0KXteGOfNfjIAwNNs-Jw0gzPHHQj8wFLXZlVsizKqIe-JBuLHBf5I_WpY_9n3uMyij9diQ-Ye","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mM1wA_mZiLDPDVbWOxsW0T1H99gWBjK8GETLubfvqxGUy3YMXJRcbn1b8_hk2o0KXteGOfNfjIAwNNs-Jw0gzPHHQj8wFLXZlVsizKqIe-JBuLHBf5I_WpY_9n3uMyij9diQ-Ye/","properties":{"lastmodifieddate":{"value":"1519679597795"}},"form-submissions":[],"identity-profiles":[{"vid":6165674,"saved-at-timestamp":1519679570662,"deleted-changed-timestamp":0,"identities":[{"type":"LEAD_GUID","value":"6e2d65a0-9e6b-4b50-93bb-03b47db5b32b","timestamp":1519679570659}]}],"merge-audits":[]},{"addedAt":1519678068471,"vid":6165524,"canonical-vid":6165524,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMgm8pmhLoRFxFavCvqI8TGXSAqjiLbHXXpEGOT_dkXxn9va-xOx5Xho4ivHj-un0qE3gA3e6-jMmxtmqD1gFhbkRa8S7uT8lQBtG74apvIE5cPL5bCvcBWHRNWKrvLeF0f4N5v","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMgm8pmhLoRFxFavCvqI8TGXSAqjiLbHXXpEGOT_dkXxn9va-xOx5Xho4ivHj-un0qE3gA3e6-jMmxtmqD1gFhbkRa8S7uT8lQBtG74apvIE5cPL5bCvcBWHRNWKrvLeF0f4N5v/","properties":{"lastmodifieddate":{"value":"1519678068471"},"email":{"value":"test.02260246@test.com"}},"form-submissions":[],"identity-profiles":[{"vid":6165524,"saved-at-timestamp":1519678063030,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"test.02260246@test.com","timestamp":1519678062905,"is-primary":true},{"type":"LEAD_GUID","value":"0a3fe910-a655-4dd9-bd92-9a0e2adea1f3","timestamp":1519678062964}]}],"merge-audits":[]},{"addedAt":1519676799266,"vid":6165374,"canonical-vid":6165374,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPodV5N3Zxw_jDQczFdhALUG_3Gru4Y4OUbhCOjz-mjclYZvqzoqXK-gk_q8capGNNNKL4DDsJlGvYShwo_T47T8DnnER0NSPNtFRgGaoV7kUrOI-iZ_aW8ICSOzsf4jnkyHV5s","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPodV5N3Zxw_jDQczFdhAL[...]
- request:
    method: get
    uri: https://api.hubapi.com/automation/v2/workflows/enrollments/contacts/6165724?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B57E9D62C70CBD7E71208B065485EC0DB40690683000000000000000000
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 26 Feb 2018 21:32:17 GMT
recorded_with: VCR 4.0.0
