---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"email@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BB44C2E05C0B84F93487C6C0AB4AAFBDB7756DC3F000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '133542'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"vid":10581124,"canonical-vid":10581124,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPX-dbBuZ72YRJWrafc2wEmHHNqPPLM87M8MFErPHkAKWCmLuwAisv2qYhb00LpETlLZCLJ0Y82qotgPybRVr3EllDmETLrtZQhXamCoZmB_5PAFxd_CKnAJtWc1bc9xjRxGbMW","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPX-dbBuZ72YRJWrafc2wEmHHNqPPLM87M8MFErPHkAKWCmLuwAisv2qYhb00LpETlLZCLJ0Y82qotgPybRVr3EllDmETLrtZQhXamCoZmB_5PAFxd_CKnAJtWc1bc9xjRxGbMW/","properties":{"email":{"value":"email@example.com","versions":[{"value":"email@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1543782217522,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":10581124,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"email@example.com","timestamp":1543782217525,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d9878797-46eb-4330-ac5c-93fb409111e7","timestamp":1543782217535,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Sun, 02 Dec 2018 20:23:38 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B8B74DB8F01105205D1E8264EF6582A6E12C452FA000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '133541'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"dynamic":false,"internalListId":489085,"archived":false,"metaData":{"listReferencesCount":null,"processing":"DONE","lastSizeChangeAt":0,"lastProcessingStateChangeAt":1543782218434,"error":"","size":0},"filters":[],"portalId":62515,"createdAt":1543782218434,"listId":488299,"listType":"STATIC","updatedAt":1543782218434,"name":"my-contacts-list"}'
  recorded_at: Sun, 02 Dec 2018 20:23:38 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/488299/add?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"vids":[10581124]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B89F4BEE69A8B7AE6B303560B16ECE45CCBD255F4000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '133540'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"updated":[10581124],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Sun, 02 Dec 2018 20:23:39 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/contact/vid/10581124?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE5308535330188E5E1A9F55393FB9B2036757520000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '133539'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"vid":10581124,"deleted":true,"reason":"OK"}'
  recorded_at: Sun, 02 Dec 2018 20:23:39 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/lists/488299?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B143D8CBC9095E6A1C823DAB0C58683B1669A0537000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '133538'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 02 Dec 2018 20:23:41 GMT
recorded_with: VCR 4.0.0
