---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"New Company"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B7AAB92CF8B396E16DCDFF4E1CA527EEB8659217E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '73135'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":1119276107,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1545278498238","timestamp":1545278498238,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1545278498238","timestamp":1545278498238,"source":"CALCULATED","sourceVid":[],"requestId":"a5e704f8-ce0e-4901-9a3d-889ab59e15b8"}]},"name":{"value":"New
        Company","timestamp":1545278498238,"source":"API","sourceId":null,"versions":[{"name":"name","value":"New
        Company","timestamp":1545278498238,"source":"API","sourceVid":[],"requestId":"a5e704f8-ce0e-4901-9a3d-889ab59e15b8"}]},"createdate":{"value":"1545278498238","timestamp":1545278498238,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1545278498238","timestamp":1545278498238,"source":"API","sourceVid":[],"requestId":"a5e704f8-ce0e-4901-9a3d-889ab59e15b8"},{"name":"createdate","value":"1545278498238","timestamp":1545278498238,"sourceId":"API","source":"API","sourceVid":[],"requestId":"a5e704f8-ce0e-4901-9a3d-889ab59e15b8"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Thu, 20 Dec 2018 04:01:38 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/1119276107?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Newer Company"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BC186E36B38D0319810BC64987E61799C6DAC70EA000000000000000000
      X-Hubspot-R[...]
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/1119276107?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BC81AF32F51E726203970DAB2FCBA30F17AA6C7B3000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '73133'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"companyId":1119276107,"deleted":true}'
  recorded_at: Thu, 20 Dec 2018 04:01:38 GMT
recorded_with: VCR 4.0.0
