---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/contacts/groups/named/ff_group1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"e520d302-1378-43a0-9158-3dd7289f10e4","requestId":"6c614438-4ef3-404f-b93e-d563df3d53e6"}'
  recorded_at: Tue, 05 Jan 2016 22:51:36 GMT
