---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v2/groups?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"name":"contactinformation","displayName":"Contact","displayOrder":1,"hubspotDefined":false},{"name":"doba_signup","displayName":"Doba
        Signup","displayOrder":1,"hubspotDefined":false},{"name":"shopifyinformation_teleport","displayName":"Shopify
        Information","displayOrder":2,"hubspotDefined":false},{"name":"calltrackinginfo","displayName":"Call
        Tracking Information","displayOrder":4,"hubspotDefined":false},{"name":"emailinformation","displayName":"Email","displayOrder":4,"hubspotDefined":false},{"name":"conversioninformation","displayName":"Conversion
     [...]
